/* Internacia Lingvo (Esperanto) https://tehnokom.su/il */

/* Kopirajto © 2017 Teknokom https://tehnokom.su */
/* Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso */

/* Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ */
/* kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara */
/* Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. */

/* La programo estas distribuata esperante, ke ĝi utilos, */
/* Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO */
/* POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. */

/* Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. */
/* Se ne, do vidu https://www.gnu.org/licenses */

.container-fix {
    width: 980px;
}

.navbar{
    height: 50px;
    width: 100%;
    background: url(../images/kosmo.jpg) rgba(0,123,172,0.5) center 0 no-repeat;
}

.alert-info-griza{
    background-color: #ffffff;
	border: 1px solid #bee5eb;
}

.alert-container{
    margin-top: 10px;
}

/* Временно-постоянные костыли */

img.in-ava{
    vertical-align: top;
}

.feed-bl p, .uzantoj_starta_titolo_bloko p{
	margin-top: 13px;
}

.alert{
    margin-bottom: 10px;
}


/* Общие стили */
.news-feed{
	width: 560px;
	position: relative;
	height: auto;
	display: inline-block;
	margin-right: 8px;
}