
/* 1. Сброс margin и padding
=========================================================== */
*,
::before,
::after { margin: 0; padding: 0; outline: none; box-sizing: border-box; -moz-box-sizing: border-box; }


/* 2. Фон страницы и шрифт основного текста
=========================================================== */
html,
body { overflow: hidden; }
html { height: 100%; background-color: #fff; font: normal normal 15px 'roboto', Arial, sans-serif; color: #000; }
	body { height: 100%; }


/* 3. Сброс тегов html5
=========================================================== */
section, header, footer, content, nav, aside, article { display: block; }
mark { display: inline; }


/* 4. Сброс стилей основных тегов
=========================================================== */
a { color: #007BAC; text-decoration: none; }
a:hover { color: #007BAC; }
	a > img { border: 0; }

select,
option,
input,
button,
textarea { font: normal normal 12px 'roboto', Arial, sans-serif; color: #000; }


/* 5. Шрифты
=========================================================== */
@font-face {/* Roboto Light */
	font-family: 'roboto';
	src: url('../fonts/roboto-lightcyrillicscha-webfont.eot');
	src: url('../fonts/roboto-lightcyrillicscha-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/roboto-lightcyrillicscha-webfont.woff2') format('woff2'),
	url('../fonts/roboto-lightcyrillicscha-webfont.woff') format('woff'),
	url('../fonts/roboto-lightcyrillicscha-webfont.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}
@font-face {/* Roboto Regular */
	font-family: 'roboto';
	src: url('../fonts/roboto-regular-webfont.eot');
	src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
	url('../fonts/roboto-regular-webfont.woff') format('woff'),
	url('../fonts/roboto-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {/* Roboto Medium */
	font-family: 'roboto';
	src: url('../fonts/roboto-medium-webfont.eot');
	src: url('../fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
	url('../fonts/roboto-medium-webfont.woff') format('woff'),
	url('../fonts/roboto-medium-webfont.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {/* Roboto Bold */
	font-family: 'roboto';
	src: url('../fonts/roboto-bold-webfont.eot');
	src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
	url('../fonts/roboto-bold-webfont.woff') format('woff'),
	url('../fonts/roboto-bold-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}


/* Мобильное меню
=========================================================== */
.m_sidebar {
	display: block;
	position: fixed; top: 0;
	bottom: 0;
	left: -220px;
	width: 250px;
	padding: 0 0 20px 0;
	white-space: nowrap;
	background-color: #005678;
	overflow-x: hidden;
	overflow-y: auto;
	box-shadow: inset -30px 0 30px -30px rgba(0,0,0,0.5);
	transition: 0.3s all;
}

.m_sidebar.open { left: 0; }

	[data-role="for_phone"] { display: none; }

	.m_sidebar > * { margin-left: 300px; opacity: 0; transition: 0.3s all; }
	.m_sidebar.open > * { margin-left: 0; opacity: 1; }

	.m_sidebar__menu { position: relative; margin-bottom: 15px; }
		.m_sidebar__menu__item {
			display: block;
			position: relative;
			height: 36px;
			padding: 0 20px 0 45px;
			font-size: 16px;
			color: #fff;
			line-height: 36px;
			text-decoration: none;
			transition: 0.3s all; }
		.m_sidebar__menu__item:hover { cursor: pointer; color: #fff; background-color: rgba(41,171,226,0.15); }
		.m_sidebar__menu__item:active { color: #fff; background-color: rgba(0,0,0,0.3); }
		.m_sidebar__menu__item.-active { cursor: default; color: #fff; background-color: rgba(41,171,226,0.5); }



		.m_sidebar__menu__item-malakt {
			display: block;
			position: relative;
			height: 36px;
			padding: 0 20px 0 45px;
			font-size: 16px;
			color: #449ABC;
			line-height: 36px;
			text-decoration: none;
			transition: 0.3s all;
			cursor: default;
		}
		.m_sidebar__menu__item-malakt:hover { cursor: default; color: #449ABC; background-color: rgba(41,171,226,0.15); }
		.m_sidebar__menu__item-malakt:active { color: #449ABC; background-color: rgba(0,0,0,0.3); }
		.m_sidebar__menu__item-malakt.-active { cursor: default; color: #fff; background-color: rgba(41,171,226,0.5); }


		/*.m_sidebar__menu .m_sidebar__menu__item > a[href="#"] { opacity: 0.5; }*/
		/*.m_sidebar__menu .m_sidebar__menu__item > a[href="#"]:hover,*/
		/*.m_sidebar__menu .m_sidebar__menu__item > a[href="#"]:active { cursor: default; background-color: transparent; opacity: 0.5; }*/

			.m_sidebar__menu__item::before { display: block; position: absolute; content: ' '; top: 50%; left: 20px; width: 18px; height: 18px; margin-top: -9px; background-position: center center; background-repeat: no-repeat; background-size: 18px 18px; }
			
				.m_sidebar__menu__item.-newspaper::before { background-image: url(../images/icons/newspaper_white.png); }
				.m_sidebar__menu__item.-envelope::before { background-image: url(../images/icons/envelope_white.png); }
				.m_sidebar__menu__item.-book::before { background-image: url(../images/icons/book_white.png); }
				.m_sidebar__menu__item.-person::before { background-image: url(../images/icons/person_white.png); }
				.m_sidebar__menu__item.-speaker::before { background-image: url(../images/icons/speaker_white.png); }
				.m_sidebar__menu__item.-document::before { background-image: url(../images/icons/document_white.png); }
				.m_sidebar__menu__item.-heart::before { background-image: url(../images/icons/heart_white.png); }
				.m_sidebar__menu__item.-trophy::before { background-image: url(../images/icons/trophy_white.png); }
				.m_sidebar__menu__item.-baloon::before { background-image: url(../images/icons/baloon_white.png); }
				.m_sidebar__menu__item.-no_icon::before { background-image: none; }

			.m_sidebar__menu__item-malakt::before { display: block; position: absolute; content: ' '; top: 50%; left: 20px; width: 18px; height: 18px; margin-top: -9px; background-position: center center; background-repeat: no-repeat; background-size: 18px 18px; }

				.m_sidebar__menu__item-malakt.-newspaper::before { background-image: url(../images/icons/newspaper_white2.png); }
				.m_sidebar__menu__item-malakt.-envelope::before { background-image: url(../images/icons/envelope_white2.png); }
				.m_sidebar__menu__item-malakt.-book::before { background-image: url(../images/icons/book_white2.png); }
				.m_sidebar__menu__item-malakt.-person::before { background-image: url(../images/icons/person_white.png); }
				.m_sidebar__menu__item-malakt.-speaker::before { background-image: url(../images/icons/speaker_white.png); }
				.m_sidebar__menu__item-malakt.-document::before { background-image: url(../images/icons/document_white2.png); }
				.m_sidebar__menu__item-malakt.-heart::before { background-image: url(../images/icons/heart_white.png); }
				.m_sidebar__menu__item-malakt.-trophy::before { background-image: url(../images/icons/trophy_white2.png); }
				.m_sidebar__menu__item-malakt.-baloon::before { background-image: url(../images/icons/baloon_white2.png); }
				.m_sidebar__menu__item-malakt.-no_icon::before { background-image: none; }

		.m_sidebar__menu__search { height: 61px; padding: 11px 20px; background-color: rgba(0,0,0,0.3); }
			
			.m_sidebar__menu__search input { width: 100%; height: 39px; padding: 0 10px; font-size: 14px; color: #449ABC; background: rgba(0,0,0,0.4); border: none; border-radius: 5px; transition: 0.2s all; }
			.m_sidebar__menu__search input:hover { background-color: rgba(0,0,0,0.6); }
			.m_sidebar__menu__search input:focus { color: #000; background-color: #fff; }
			.m_sidebar__menu__search input::-webkit-input-placeholder { color: #449ABC; }
			.m_sidebar__menu__search input::-moz-placeholder { color: #449ABC; }
			
		.m_sidebar__menu__user { display: block; margin-bottom: 10px; padding: 0 20px 11px; background-color: rgba(0,0,0,0.3); }
			.m_sidebar__menu__user img { display: block; vertical-align: middle; width: 80px; height: 80px; border-radius: 100%; }
			.m_sidebar__menu__user span { display: block; margin-top: 5px; font-size: 16px; color: #fff; white-space: normal; }
			
		.m_sidebar__menu__line { margin: 7px 20px 7px 45px; border-top: 1px solid rgba(255,255,255,0.15); }


/* Глобальные блоки
=========================================================== */
.g_inner { position: relative; min-width: 360px; max-width: 820px; height: 100%; padding: 0 17px; margin: 0 auto; }


/* Общий контейнер
=========================================================== */
.l_base { position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: auto; height: auto; transition: 0.3s all; }
.m_sidebar.open + .l_base { right: -250px; left: 250px; opacity: 0.75; }


	/* Шапка
	=========================================================== */
	.l_header { position: fixed; top: 0; right: -20px; left: 0; height: 60px; padding-right: 20px; background: #007BAC url(../images/space.jpg) center 0 no-repeat; background-size: cover; overflow-x: hidden; overflow-y: scroll; z-index: 10; transition: 0.3s all; }
		.l_header::before { display: block; position: absolute; content: ' '; top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0,123,172,0.5); }
	.m_sidebar.open + .l_base .l_header { right: -250px; left: 250px; }
		
		.l_header > .g_inner { height: 60px; }
		
			.m_menu_trigger { display: block; position: absolute; top: 0; bottom: 0; left: 0; width: 60px; background: none; border: none; transition: 0.3s all; }
			.m_menu_trigger:hover { cursor: pointer; }
			.m_menu_trigger:focus { outline: none; }
				.m_menu_trigger > span,
				.m_menu_trigger::before,
				.m_menu_trigger::after { display: block; position: absolute; top: 50%; left: 50%; width: 24px; height: 2px; margin: -1px 0 0 -12px; background-color: #fff; transition: 0.3s all linear; }
				.m_menu_trigger::before,
				.m_menu_trigger::after { content: ' '; }
				.m_menu_trigger::before { margin-top: -7px; }
				.m_menu_trigger::after { margin-top: 5px; }

				.m_menu_trigger:hover > span,
				.m_menu_trigger:hover::before,
				.m_menu_trigger:hover::after {  }

				.m_menu_trigger:active > span,
				.m_menu_trigger:active::before,
				.m_menu_trigger:active::after {  }

				.m_sidebar.open + .l_base .m_menu_trigger > span { -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); -moz-transform: rotate(180deg); transform: rotate(180deg); }
				.m_sidebar.open + .l_base .m_menu_trigger::before { width: 12px; margin-top: -5px; margin-left: -14px; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); -moz-transform: rotate(-45deg); transform: rotate(-45deg); }
				.m_sidebar.open + .l_base .m_menu_trigger::after { width: 12px; margin-top: 3px; margin-left: -14px; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); -moz-transform: rotate(45deg); transform: rotate(45deg); }
		
			.l_header__logo { position: absolute; top: 50%; left: 50%; bottom: 0; width: 125px; height: 25px; margin: -8px 0 0 -62px; background: url(../images/logo.png) 0 0 no-repeat; background-size: 125px 25px; transition: 0.2s all; }
			.l_header__search { position: absolute; top: 50%; left: 167px; height: 32px; margin-top: -16px; }
				.l_header__search > input { width: 200px; }
				.l_header__search > input:focus { width: 300px; }


	/* Контент
	=========================================================== */
	.l_content { position: fixed; top: 60px; right: 0; bottom: 0; left: 0; margin: 0; overflow-x: hidden; overflow-y: scroll; z-index: 5; transition: 0.3s all; background-color: #FFF; }
	.m_sidebar.open + .l_base .l_content { right: -250px; left: 250px; }

		.l_content > .g_inner { padding: 0; }
			.l_content__main { padding: 0; }


/* Общие стили */
h1, h2, h3, h4 {
    margin-top: 10px;
    margin-bottom: 5px;
}

ul {
    padding: 5px 0 0 20px;
    list-style-type: circle;
   }

p {
    padding: 5px 0 5px 0;
   }

.t_bazo_formo_bloko{
	margin-bottom: 10px;
	padding: 0 10px 0 10px;
    position: relative;
    opacity: 1;
    transition: 1s all;
}

.t_bazo_formo_bloko p{
	color: #FFFFFF;
	font-size: 15px;
	margin-top: 5px;
}

.t_bazo_formo_bloko input, .t_bazo_formo_bloko select{
    border: 1px solid #DFDFDF;
	height: 32px;
	padding: 0 10px;
	font-size: 14px;
	color: #000000;
	background: #ffffff;
	border-radius: 5px;
	transition: 0.2s all;
}

.t_bazo_formo_bloko input{
    width: 100%;
}

.t_bazo_formo_bloko a{
	color: #FFFFFF;
}

.t_bazo_formo_bloko p{
	color: #FFFFFF;
	font-size: 15px;
	margin-top: 5px;
}

/* Подробнее*/

.readmore{
}

.readmore_link{
	font-weight: bold !important;
	color: #2277cc;
}

/* Базовые блоки */
.t_bazo_chiuj{
	width: 100%;
	height: auto;
	margin-bottom: 15px;
}

.t_bazo_chiuj input, .t_bazo_chiuj select{
    font-size: 15px;
}

.t_bazo_bloko, .t_bazo_titolo_bloko{
	margin-top: 10px;
	height: auto;
	width: 100%;
	border-top: 1px solid #DFDFDF;
	overflow-y: hidden;
	transition: 1s all;
}

.t_bazo_bloko_no{
	margin-top: 10px;
	height: auto;
	width: 100%;
}

.t_bazo_bloko_butono{
	margin-bottom: 10px;
}

.t_bazo_bloko_bildo_input{
    padding-top: 5px;
    padding-bottom: 5px;
}

.t_bazo_bloko_video_input{
	padding-top: 5px;
}

.t_bazo_bloko_video_input input{
    width: 100%;
    border: 1px solid #DFDFDF;
}

.t_bazo_bloko_errors{
	padding-top: 5px;
	color: #990000;
}

.t_bazo_titolo_bloko{
	border: 1px solid #DFDFDF;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
}

.t_bazo_titolo_bloko h1 {
    margin: 0;
	font-size: 16px;
    font-weight: bold;
}

.t_bazo_bloko_mini{
    position: relative;
}

.t_bazo_bloko_mini_avataro{
    position: absolute;
    top: 9px;
    left: 5px;
}

.t_bazo_bloko_mini_avataro_starta{
    position: absolute;
    top: 7px;
    left: 0;
}

.t_bazo_bloko_mini_avataro img, .t_bazo_bloko_mini_avataro_starta img{
    border-radius: 50%;
}

.t_bazo_bloko_mini_teksto{
    margin-left: 28px;
    padding-top: 6px;
}

.t_bazo_bloko_mini_teksto_starta{
    margin-left: 23px;
    padding-top: 4px;
}

.t_bazo_bloko_mini_teksto a, .t_bazo_bloko_mini_teksto_starta a{
    font-weight: normal;
}


.t_bazo_starta_bloko{
	width: 100%;
	margin-top: 10px;
}

.t_bazo_bloko_du{
	width: 100%;
	height: auto;
	border-radius: 5px;
	border: 1px solid #DFDFDF;
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
	padding: 10px 10px 0 10px;
}

.t_bazo_bloko_du_no{
	width: 100%;
	height: auto;
	border-radius: 5px;
	border: 1px solid #DFDFDF;
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
	padding-bottom: 10px;
}

.t_bazo_bloko_du{
	padding: 10px 10px 0 10px;
}

.t_bazo_bloko_du_simple{
	padding-bottom: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.t_bazo_bloko_du_simple_titolo{
	font-weight: bold;
}

.t_bazo_bloko_du_simple_teksta_butono, .t_bazo_bloko_du_simple_teksta_butono a{
    color: #777777;
    font-weight: normal;
}

.t_bazo_bloko_du_simple_vorto{
    float: left;
}

.t_bazo_bloko_du_titolo{
	font-weight: bold;
	padding-bottom: 10px;
}

.t_bazo_bloko_du_nomo{
	padding-bottom: 4px;
}

.t_bazo_bloko_du_teksto{
	padding-bottom: 10px;
	color: #777777;
}

.t_bazo_bloko_du textarea{
    width: 100%;
	height: 80px;
	font-size: 14px;
    border: 1px solid #DFDFDF;
}

.t_bazo_bloko_du_aliro{
	vertical-align: top;
	margin-top: 10px;
}

.t_bazo_bloko_du_ligilo {
	border-top: 1px solid #DFDFDF;
	padding: 10px 10px 10px 10px;
}

.t_bazo_bloko_du_bildo{
	border-top: 1px solid #DFDFDF;
	padding: 10px 0 0 0;
}

.t_bazo_bloko_du_bildo img{
	width: 100%;
	vertical-align: middle;
}

.t_bazo_bloko_tri, .t_bazo_bloko_tri_butono{
	margin-top: 10px;
	height: auto;
	width: 100%;
	padding: 10px 10px 0 10px;
}

.t_bazo_bloko_kvar{
	height: auto;
	width: 100%;
}

.t_bazo_bloko_kvin, .t_bazo_bloko_kvin_butono{
    height: auto;
	width: 100%;
	padding: 0 10px 0 10px;
}

.t_bazo_bloko_kvin input, .t_bazo_bloko_kvin select{
    border: 1px solid #DFDFDF;
	height: 32px;
	padding: 0 10px;
	font-size: 14px;
	color: #000000;
	background: #ffffff;
	border-radius: 5px;
	transition: 0.2s all;
    width: 100%;
}

.t_bazo_bloko_kvin input{
    width: 100%;
}

.t_bazo_bloko_kvin_bloko{
	margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.6);
    position: relative;
    opacity: 1;
    transition: 1s all;
}


.t_bazo_bloko_kvin_bloko_telkodo select{
    width: 80px;
}

.t_bazo_bloko_kvin_bloko_telkodo input{
    width: 200px;
}


.t_bazo_kovrilo{
    position: relative;
	width: 100%;
    max-width: 820px;
    max-height: 200px;
	background-color: #DFDFDF;
}

.t_bazo_kovrilo > .t_bazo_kovrilo_bildo{
	width: 100%;
    max-width: 820px;
    max-height: 200px;
}

.t_bazo_kovrilo_bloko{
	height: 100%;
    width: 100%;
}

.t_bazo_avataro{
	height: 85%;
	border-radius: 50%;
    position: absolute;
    left: 50px;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.t_bazo_avataro img{
	height: 85%;
	border-radius: 50%;

	box-shadow: 0 0 6px #000;
}

.t_bazo_kovrilo_title_bloko{
	position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 200px;
	z-index: 100;
}

.t_bazo_kovrilo_title{
    margin: 0;
    padding: 0;
	color: #FFFFFF;
	font-size: 19.5px;
	font-weight: normal;
    text-shadow: 0 0 10px #000;
}


.t_bazo_bloko_statuso{
	font-size: 14px;
	font-weight: normal;
	margin-left: 10px;
	margin-top: 10px;
}

/* Товарищи */
.uzanto_mesago,
.uzantoj_kandidatoj,
.uzanto_kandidato,
.uzantoj_malplena,
.uzanto_kamarado,
.uzantoj_joining{
	height: 25px;
	background-color: rgba(0, 172, 123, 0.8);
	width: 230px;
	font-family: sans-serif;
	padding-top: 4px;
	text-align: center;
	color: white;
	font-size: 16px;
	font-weight: 400;
	border-radius: 3px;
	margin: 10px auto;
}

.uzanto_kandidato,
.uzantoj_kandidatoj{
	background-color: #E9A034;
}

.uzanto_kamarado{
	background-color: rgba(0, 123, 172, 0.8);
}

.uzantoj_avatar{
	height: 180px;
	width: 180px;
	margin-left: 10px;
	margin-top: 10px;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
	background-color: #DFDFDF;
}

.small_teksto{
	font-size: 12px !important;
	padding: 3px !important;
}

.kandidatoj_listo{
	display: block;
	position: absolute;
	opacity: 0;
	z-index: 99;
	visibility: hidden;
	width: 350px;
	min-height: 50px;
	max-height: 170px;
	border: 1px solid #bbb;
	border-radius: 5px;
	background-color: white;
	/*top: 140px;*/
	left: 5px;
}

.kandidatoj_listo.open{
	visibility: visible !important;
    opacity: 1;
    transition: 0.3s all;
	/*top: 130px;*/
}

.kandidatoj_listo::before{
	display: block;
	position: absolute;
	content: ' ';
	left: 156px;
	top: -6px;
	width: 0;
	height: 0;
	margin-top: 0;
	border: 6px solid transparent;
	border-top-width: 6px;
	border-bottom-color: transparent;
	border-bottom-color: white;
	border-top-width: 0;
	z-index: 996;
}

.kandidatoj_listo::after{
	display: block;
	position: absolute;
	content: ' ';
	left: 155px;
	top: -7px;
	width: 0;
	height: 0;
	z-index: 995;
	margin-top: 0;
	border: 7px solid transparent;
    border-top-width: 7px;
    border-bottom-color: transparent;
	border-bottom-color: grey;
	border-top-width: 0;
}

.kandidatoj_listo .container{
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 170px;
}

.kandidatoj_listo ul{
	margin: 5px;
	padding: 5px;
	list-style: none;
}

.container ul li > div{
	display: table-cell;
	vertical-align: middle;
	padding-right: 5px;
}

.container ul li img{
	display: block;
	border-radius: 5px;
}

/* Сообщества */
.t_bazo_progress_bar{
	height: 6px;
	width: 10%;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.24) !important;
	margin-right: 10px;
	margin-left: 10px;
	overflow: hidden;
}

.t_bazo_progress{
	background: red;
	height: 100%;
}

.t_bazo_komunumo_joining{
	height: 25px;
	background-color: rgba(0, 172, 123, 0.8);
	width: 230px;
	font-family: sans-serif;
	margin: 10px auto;
	padding-top: 4px;
	text-align: center;
	color: white;
	font-size: 16px;
	font-weight: 400;
	border-radius: 3px;
}

.t_bazo_komunumo_via_komunumo,
.t_bazo_komunumo_leaving{
	height: 25px;
	background-color: rgba(0, 123, 172, 0.8);
	width: 230px;
	font-family: sans-serif;
	margin: 10px auto;
	padding-top: 4px;
	text-align: center;
	color: white;
	font-size: 16px;
	font-weight: 400;
	border-radius: 3px;
}

.t_bazo_komunumo_peoples{
	margin-top: 8px;
	font-size: 15px;
	font-weight: 700;
	margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.t_bazo_komunumo_via_komunumo {
	background: #990000;
}

/* Списки (картинки + заголовки + описания) */
.t_bazo_bloko_listo{
	display: block;
	position: relative;
	list-style-type: none;
	padding: 0 10px 0 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.t_bazo_bloko_listo_item_ofico{
	color: #555555;
	font-size: 14px;
	text-transform: lowercase;
}

.t_bazo_bloko_listo_item_dato, .t_bazo_bloko_listo_item_dato > div, .t_bazo_bloko_listo_item_dato a{
    color: #777777;
    font-weight: normal;
	font-size: 14px;
}

.t_bazo_bloko_listo_item{ display: block; position: relative; min-height: 50px; margin-top: 10px; padding-left: 60px;  }

.t_bazo_bloko_listo_item_image { display: block; position: absolute; top: 0; left: 0; width: 50px; height: 50px; border: 1px solid rgba(0,0,0,0.2); border-radius: 50%; }

.t_bazo_bloko_listo_item_image > img { vertical-align: middle; width: 100%; height: 100%; border-radius: 50%; }

.t_bazo_bloko_listo_item_titolo { margin-bottom: 7px; padding-top: 5px;}

.t_bazo_bloko_listo_item_priskribo {
	padding: 0;
	color: #555555;
	font-size: 14px;
}

.t_bazo_bloko_listo_item_priskribo_tasko {
	padding: 0 10px 0 10px;
	overflow-wrap: break-word;
    word-wrap: break-word;
}

.t_bazo_bloko_listo_item_grado {
	margin-left: 10px;
	margin-right: 10px;
}

.t_bazo_bloko_listo_item_grado > img {
	vertical-align: middle;
    width: 100%;
    height: 12px;
}

.t_bazo_bloko_listo_item_bildo img{
    margin-top: 10px;
    max-width: 100%;
    vertical-align: middle;
}

.t_bazo_bloko_listo_item_video{
    margin-top: 10px;
    max-width: 100%;
	max-height: 100%;
    vertical-align: middle;
}

.t_bazo_bloko_listo_item_video iframe{
	min-height: 230px;
}

.t_bazo_bloko_listo_item_panelo{
    border-top: 1px solid rgba(204, 204, 204, 0.6);
    margin-top: 10px;
    position: relative;
}

.t_bazo_bloko_listo_item_panelo a{
    font-weight: bold;
    color: #003366;
}

.t_bazo_bloko_listo_item_panelo_komenti{
    padding-bottom: 6px;
}

.t_bazo_bloko_listo_item_panelo_komenti_bildo {
    position: absolute;
    top: 13px;
    left: 0;
	margin-left:10px;
}

.t_bazo_bloko_listo_item_panelo_komenti_teksto{
    position: absolute;
    top: 10px;
    left: 34px;
}

.t_bazo_bloko_listo_item_panelo_interese{

}

.t_bazo_bloko_listo_item_panelo_interese_bildo{
    position: absolute;
    top: 10px;
    left: 80px;
}

.t_bazo_bloko_listo_item_panelo_interese_teksto{
    position: absolute;
    top: 10px;
    left: 105px;
}

.t_bazo_bloko_listo_item_panelo_teleporti{

}

.t_bazo_bloko_listo_item_panelo_teleporti_bildo {
    position: absolute;
    top: 12px;
    left: 230px;
}

.t_bazo_bloko_listo_item_panelo_teleporti_teksto {
    margin-left: 261px;
    padding-top: 4px;
}


/* Меню в разделах */
.t_bazo_menuo{
	width: 100%;
	height: auto;
	text-align: center;
}

a > .t_bazo_menuo_butono{
	margin-top: 10px;
	color: black;
	display: inline-block;
	padding: 8px;
	border: 1px solid #DFDFDF;
	border-radius: 5px;
	font-size: 15px;
	font-weight: 500;
	cursor: pointer;

}

a > .t_bazo_menuo_butono-malakt{
	margin-top: 10px;
	color: #AAAAAA;
	display: inline-block;
	padding: 8px;
	border: 1px solid #DFDFDF;
	border-radius: 5px;
	font-size: 15px;
	font-weight: 500;
	cursor: default;
}

#t_bazo_menuo_butono_aktiva{
	background-color: #008FCB;
	color: #FFFFFF !important;
	border: 1px solid #006DA9 !important;
}

/* Кнопка в мобильной версии */
.t_submit {
	display: block;
	margin: 10px auto 0;
	min-height: 32px;
	max-width: 300px;
	padding: 0 12px;
	font-weight: normal;
	font-size: 20px;
	color: #fff;
	line-height: 28px;
	text-decoration: none;
	background-color: #008FCB;
	border-radius: 5px;
	border: none;
	transition: 0.3s all;
}

.t_submit:hover { cursor: pointer; color: #fff; box-shadow: inset 0 0 50px 50px rgba(255,255,255,0.2); }
.t_submit:active { color: #fff; box-shadow: inset 0 0 50px 50px rgba(0,0,0,0.2); }
.t_submit:focus { outline: none; }
.t_submit[disabled] { cursor: default; opacity: 0.5; box-shadow: none; }
a.t_submit { display: inline-block; }

/* Информационные сообщения */
.t_bazo_informa_mesaxo_unu{
	margin-top: 10px;
	width: 100%;
	border-radius: 5px;
	background-color: #D7AA31;
	border: 1px solid #C69920;
	padding: 8px;
	color: #FFFFFF;
}

.t_bazo_informa_mesaxo_du{
	width: 100%;
	border-radius: 5px;
	vertical-align: middle;
	border: 1px solid #DFDFDF;
	padding: 8px;
	color: #666666;
}

.t_bazo_informa_mesaxo_tri{
	margin-top: 10px;
	width: 100%;
	border-radius: 5px;
	vertical-align: middle;
	border: 1px solid #DFDFDF;
	padding: 8px;
	color: #666666;
}

/* TABS */
.t_tabs {
    position: relative;
    margin: 0 auto;
	width: 100%;
}

.t_tabs_bloko {
    margin-top: 10px;
}

.t_tabs label {
	margin-left: 10px;
	margin-bottom: 10px;
	display: block;
	float: left;
	background: #ffffff;
	color: #000000;
	cursor: pointer;
	font-size: 15px;
	position: relative;
	height: 27px;
	line-height: 20px;
	text-align: center;
	z-index: 1;
}

.t_tabs input[name="t_tab"][type="radio"] {
	position: absolute;
	left: -9999px;}

#t_tab_1:checked  ~ #t_tab_l1,
#t_tab_2:checked  ~ #t_tab_l2,
#t_tab_3:checked  ~ #t_tab_l3,
#t_tab_4:checked  ~ #t_tab_l4,
#t_tab_5:checked  ~ #t_tab_l5{
	background: #fff;
	border-bottom: 2px solid #CCCCCC;
	top: 0;
	z-index: 3;}

.t_tabs_cont {
	background: #fff;
	width: 100%;
	position: relative;
	z-index: 2;
}
.t_tabs_cont > div {
	position: absolute;
	top: -99999px;
	left: -9999px;
	opacity: 0;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;}

#t_tab_1:checked ~ .t_tabs_cont #t_tab_c1,
#t_tab_2:checked ~ .t_tabs_cont #t_tab_c2,
#t_tab_3:checked ~ .t_tabs_cont #t_tab_c3,
#t_tab_4:checked ~ .t_tabs_cont #t_tab_c4,
#t_tab_5:checked ~ .t_tabs_cont #t_tab_c5{
	position: static;
	left: 0;
	opacity: 1;}


/* Baza informa*/
.t_bazo_selection_checkbox { display: block; position: relative; top: 0; margin-top: 10px; transition: 0.2s all; }
.t_bazo_selection_checkbox:last-child { margin-top: 0; }
.t_bazo_selection_checkbox:hover { cursor: pointer; opacity: 0.8; }
.t_bazo_selection_checkbox:active { top: 2px; }
.t_bazo_selection_checkbox > input { display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%; opacity: 0; cursor: pointer; z-index: 10; }
.t_bazo_selection_checkbox > label { display: block; position: relative; padding-left: 24px; margin-top: 10px; font-size: 15px; color: #000; z-index: 5; }
.t_bazo_selection_checkbox > label::before,
.t_bazo_selection_checkbox > label::after { display: block; position: absolute; content: ' '; top: 0; left: 0; width: 16px; height: 16px; transition: 0.2s all; box-sizing: border-box; }
.t_bazo_selection_checkbox > label::before { background-color: #fff; border-radius: 3px; border: 1px solid #ccc; }
.t_bazo_selection_checkbox:hover > label::before { border-color: #33A6D6; }
.t_bazo_selection_checkbox > label::after { top: -4px; background: url(../images/tick_black.png) center center no-repeat; -webkit-background-size: 10px 8px; background-size: 10px 8px; visibility: hidden; opacity: 0; }
.t_bazo_selection_checkbox > input:checked + label::before { /*outline: 2px solid #00B8FF !important;*/ }
.t_bazo_selection_checkbox > input:checked + label::after { top: 0; visibility: visible; opacity: 1; }

/* Шторка с анимацие загрузки при AJAX */
.formo-extere { position: absolute; left: 0; top: 0; border-radius: 5px; height: 100%; background: #eaeaeacc; top: 0; width: 100%; z-index: 9999; }
.formo-extere > div { width:100%; height:100%; text-align:center; }
.formo-extere > div > div { display:-moz-inline-box; display:inline-block; vertical-align:middle; zoom:1; position: relative; padding: 2px; }
.formo-extere > div > div:nth-last-child(1) { height: 100%; }

.hidden-element { display: none; }

/* Поиск на вкладках */
.bazo_tabs_serqo{
	margin-top: 5px;
	margin-left: 10px;
}

.bazo_tabs_serqo input{
	border: 1px solid #DFDFDF;
	height: 28px;
	padding: 0 10px;
	font-size: 13px;
	color: #000000;
	background: #ffffff;
	border-radius: 5px;
	transition: 0.2s all;
}

.list-image{
	width: 50px;
	height: 50px;
	border-radius: 50% !important;
}

/* Кнопка */
.bazo_tabs_serqo_submit {
	margin-top: 10px;
	height: 28px;
	padding: 0 12px;
	font-weight: normal;
	font-size: 13px;
	color: #fff;
	line-height: 28px;
	text-decoration: none;
	background-color: #008FCB;
	border-radius: 5px;
	border: none;
	transition: 0.3s all;
}
.bazo_tabs_serqo_submit:hover{
	cursor: pointer;
	color: #fff;
	box-shadow: inset 0 0 50px 50px rgba(255,255,255,0.2);
}
.bazo_tabs_serqo_submit:active{
	color: #fff;
	box-shadow: inset 0 0 50px 50px rgba(0,0,0,0.2);
}
.bazo_tabs_serqo_submit:focus{
	outline: none;
}
.bazo_tabs_serqo_submit[disabled]{
	cursor: default;
	opacity: 0.5;
	box-shadow: none;
}
a.bazo_tabs_serqo_submit{
	display: inline-block;
}

.more_button {
	display: block;
	margin: 10px;
	padding: 5px;
	background: #008FCB;
	border-radius: 5px;
	border: 1px solid #E4E4E4;
	color: #FFFFFF;
	text-align: center;
	transition: 0.5s all;
}

.more_button:hover {
	color: #FFFFFF;
}