{# Internacia Lingvo (Esperanto) https://tehnokom.su/il #}

{# Kopirajto © 2017 Teknokom https://tehnokom.su #}
{# Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso #}

{# Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ #}
{# kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara #}
{# Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. #}

{# La programo estas distribuata esperante, ke ĝi utilos, #}
{# Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO #}
{# POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. #}

{# Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. #}
{# Se ne, do vidu https://www.gnu.org/licenses #}

{% extends 'komunumoj/organizo.html' %}
{% load i18n %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block css_js2 %}
    <script type="text/javascript">
        var intereso_url = '{% url 'muroj:muroj_interese' %}';
        var l10n = {arkivo: '{% trans 'Ĉu vi volas movi ĉi tiun enskribon al la arkivo?' %}',
                    forigi: '{% trans 'Ĉu vi volas forigi ĉi tiun enskribon?' %}',
                    kom_forigi: '{% trans 'Ĉu vi volas forigi ĉi tiun komenton?' %}'};
    </script>
    <link href="{% static 'muroj/style/muroj.css' %}" rel="stylesheet">
    <script src="{% static 'muroj/script/muroj.js' %}"></script>
{% endblock css_js2 %}
{% block title %}
    {% trans 'Arkiva enskriboj' %} — {{ organizo.nomo__enhavo }}
{% endblock title %}
{% block komunumo_side %}
    {% block menuo %}
        {% include 'komunumoj/komunumoj_organizo_menuo.html' with chefa=True %}
    {% endblock menuo %}
    <div class="feed-cont">
    <div class="news-feed">
        <div class="feed-bl">
            {% if uzanto_aliro == 'administranto' or uzanto_aliro == 'moderiganto' or uzanto_aliro == 'membro-adm' or uzanto_aliro == 'membro-mod' %}
                <p><a href="/ido{{ organizo.id }}">{% trans 'Enskriboj de komunumo' %}</a>&nbsp|&nbsp<a href="">{% trans 'Malnetoj' %}</a>&nbsp|&nbsp<a href="/ido-arkivo{{ organizo.id }}"><strong>{% trans 'Arkivo' %}</strong></a>&nbsp|&nbsp<a href="">{% trans 'Proponitaj' %}</a></p>
            {% endif %}
        </div>

    {#  Проверка есть ли в архиве стены записи  #}
    {% if enskriboj %}
        {#  Если есть, то выбрать их из цикла и выводить в шаблоне архивных записей  #}
        {% for enskribo in enskriboj %}
            {% include "muroj/muro_organizo_arkivo_enskribo.html" %}
        {% endfor %}

    {#  Если нет, то вывести специальное уведомление  #}
    {% else %}
        <div class="alert-container">
            <div class="alert alert-info" role="alert">
              {% blocktrans %}В архиве стены этого сообщества пока нет записей. Когда они появятся, вы сможете их восстановить или окончательно удалить.{% endblocktrans %}
            </div>
        </div>
    {% endif %}

    </div>
        <div class="bazo_dekstra_bloko">
            <div class="bazo_dekstra_bloko_unu">
                <div class="bazo_dekstra_bloko_unu_titolo_ne">Объявление</div>
                <p>Организации могут создавать и администрировать только члены Международной Гвардии Технокома.</p>
                <p>Если вы хотите участвовать в развитии этого сообщества или какого-то другого, в том числе создать новое, вы можете присоединиться к Международной Гвардии.</p>
                <p>Для этого пишите через телеграм <a href="https://t.me/vladimir_levadnij" target="_blank">вот сюда</a>. Вы нужны Технокому!</p>
            </div>
        </div>
    </div>
{% endblock komunumo_side %}
{% block hidden_blocks %}
    {% if user.is_authenticated %}
        <form method="POST" class="komento-formo">
            <div class="muroj_komento_bloko">
                <div class="muroj_komento_avatar">
                    <a href="/idu{{ komento.autoro_id }}" title="{{ komento.autoro__unua_nomo__enhavo }} {{ komento.autoro__familinomo__enhavo }}">
                    {% if a_uzanto.uzantojavataro__bildo_min %}
                        <img width="36" height="36" src="/media/{{ a_uzanto.uzantojavataro__bildo_min }}">
                    {% else %}
                        {% if a_uzanto.autoro__sekso == 'vira' or a_uzanto.autoro__sekso is None %}
                            <img width="36" height="36" src="{% static 'main/images/vira-avataro-min.png' %}">
                        {% else %}
                            <img width="36" height="36" src="{% static 'main/images/virina-avataro-min.png' %}">
                        {% endif %}
                    {% endif %}
                    </a>
                </div>
                <div class="muroj_komento_enhavo">
                    <input type="hidden" name="ago" value="komento"/>
                    <div class="muroj_komento_teksto">{{ formoj.komento_formo.teksto_formo }}</div>
                    <div class="muroj_komento_butono">
                    <button class="submit">Опубликовать</button>
                    </div>
                </div>
            </div>
        </form>
    {% else %}
        <div class="komento-formo averto_bloko">
            <span>
            Для комментирования Вам необходимо <a href="{% url 'registrado:bazainformo' %}">войти</a> или <a
                    href="{% url "registrado:registrado" %}">зарегистрироваться</a>.
            </span>
        </div>
    {% endif %}
{% endblock %}