{# Internacia Lingvo (Esperanto) https://tehnokom.su/il #}

{# Kopirajto © 2017 Teknokom https://tehnokom.su #}
{# Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso #}

{# Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ #}
{# kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara #}
{# Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. #}

{# La programo estas distribuata esperante, ke ĝi utilos, #}
{# Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO #}
{# POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. #}

{# Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. #}
{# Se ne, do vidu https://www.gnu.org/licenses #}

{% extends "main/bazo.html" %}
{% load i18n %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block css_js %}
    <script type="text/javascript">
        var intereso_url = '{% url 'muroj:muroj_interese' %}';
        var kom_type = 'soveto';
        var l10n = {arkivo: '{% trans 'Ĉu vi volas movi ĉi tiun enskribon al la arkivo?' %}',
                    forigi: '{% trans 'Ĉu vi volas forigi ĉi tiun enskribon?' %}',
                    kom_forigi: '{% trans 'Ĉu vi volas forigi ĉi tiun komenton?' %}'};
    </script>
    <link href="{% static 'muroj/style/muroj.css' %}" rel="stylesheet">
    <script src="{% static 'muroj/script/muroj.js' %}"></script>
{% endblock css_js %}
{% block title %}
    {% trans 'La enskribo sur la muro' %} — {{ soveto.nomo__enhavo }}
{% endblock title %}
{% block main_side %}
    <div class="muro_unu_feed-cont">

        <div class="muro_unu-feed">
        {#  Подключение файла записи на стене  #}
        {% for enskribo in enskriboj %}
            {% if forigo %}
                <div class="alert-container">
                    <div class="alert alert-info" role="alert">
                      {% blocktrans %}Запись была снята с публикации или удалена. Перейдите в сообщество, возможно там есть новая версия этой записи.{% endblocktrans %}
                    </div>
                </div>
            {% else %}
                {% include "muroj/muro_soveto_enskribo.html" %}
            {% endif %}
        {% endfor %}
        </div>

        <div class="muro_unu_dekstra_bloko">
            <div class="muro_unu_dekstra_du">Нет данных</div>
        </div>
    </div>
{% endblock main_side %}
{% block hidden_blocks %}
    {% if user.is_authenticated %}
        <form method="POST" class="komento-formo">
            <div class="muroj_komento_bloko">
                <div class="muroj_komento_avatar">
                    <a href="/idu{{ komento.autoro_id }}" title="{{ komento.autoro__unua_nomo__enhavo }} {{ komento.autoro__familinomo__enhavo }}">
                    {% if a_uzanto.uzantojavataro__bildo_min %}
                        <img width="36" height="36" src="/media/{{ a_uzanto.uzantojavataro__bildo_min }}">
                    {% else %}
                        {% if a_uzanto.autoro__sekso == 'vira' or a_uzanto.autoro__sekso is None %}
                            <img width="36" height="36" src="{% static 'main/images/vira-avataro-min.png' %}">
                        {% else %}
                            <img width="36" height="36" src="{% static 'main/images/virina-avataro-min.png' %}">
                        {% endif %}
                    {% endif %}
                    </a>
                </div>
                <div class="muroj_komento_enhavo">
                    <input type="hidden" name="ago" value="komento"/>
                    <div class="muroj_komento_teksto">{{ formoj.komento_formo.teksto_formo }}</div>
                    <div class="muroj_komento_butono">
                    <button class="submit">{% trans 'Publikigi' %}</button>
                    </div>
                </div>
            </div>
        </form>
    {% else %}
        <div class="komento-formo averto_bloko">
            <span>{% trans 'Por komenti, vi devas' %} <a href="{% url 'registrado:ensaluti' %}">{% trans 'ensaluti' %}</a> {% trans 'aŭ' %} <a href="{% url "registrado:registrado" %}">{% trans 'registriĝi' %}</a>.
            </span>
        </div>
    {% endif %}
{% endblock %}
