{% load i18n %}
{% load static %}
{% load readmore %}

<div class="muroj_komento_bloko" data-komento_id="{{ komento.uuid }}">
    <div class="muroj_komento_avatar">
        <a href="/idu{{ komento.autoro_id }}" title="{{ komento.autoro__unua_nomo__enhavo }} {{ komento.autoro__familinomo__enhavo }}">
            {% if komento.autoro__uzantojavataro__bildo_min %}
                <img width="36" height="36" src="/media/{{ komento.autoro__uzantojavataro__bildo_min }}">
            {% else %}
                {% if komento.autoro__sekso == 'vira' or komento.autoro__sekso is None %}
                    <img width="36" height="36" src="{% static 'main/images/vira-avataro-min.png' %}">
                {% else %}
                    <img width="36" height="36" src="{% static 'main/images/virina-avataro-min.png' %}">
                {% endif %}
            {% endif %}
        </a>
    </div>
    <div class="muroj_komento_enhavo">
        <div class="muroj_komento_nomo">
            <a href="/idu{{ komento.autoro_id }}">{{ komento.autoro__unua_nomo__enhavo }} {{ komento.autoro__familinomo__enhavo }}</a></div>
        <div class="muroj_komento_teksto">{{ komento.teksto__enhavo|readmore:30|linebreaksbr|urlize }}</div>
        <div class="muroj_komento_dato">{{ komento.krea_dato }}
        {% if komento.autoro_id == user.id %}
            &nbsp|&nbsp<a href="javascript:void(0)" data-ago="kom-forigi">{% trans 'Forigi' %}</a>
        {% endif %}
        </div>
    </div>
</div>