{# Internacia Lingvo (Esperanto) https://tehnokom.su/il #}

{# Kopirajto © 2017 Teknokom https://tehnokom.su #}
{# Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso #}

{# Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ #}
{# kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara #}
{# Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. #}

{# La programo estas distribuata esperante, ke ĝi utilos, #}
{# Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO #}
{# POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. #}

{# Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. #}
{# Se ne, do vidu https://www.gnu.org/licenses #}

{% extends 'komunumoj/organizo.html' %}
{% load i18n %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block css_js2 %}
    <script type="text/javascript">
        let intereso_url = '{% url 'muroj:muroj_interese' %}';
        let l10n = {arkivo: '{% trans 'Ĉu vi volas movi ĉi tiun enskribon al la arkivo?' %}',
                    forigi: '{% trans 'Ĉu vi volas forigi ĉi tiun enskribon?' %}',
                    kom_forigi: '{% trans 'Ĉu vi volas forigi ĉi tiun komenton?' %}'};
    </script>
    <link href="{% static 'muroj/style/muroj.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'muroj/script/muroj.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/script/pagination.js' %}"></script>
{% endblock css_js2 %}
{% block title %}
    {% trans 'Ĉefa' %} — {{ organizo.nomo__enhavo }}
{% endblock title %}
{% block komunumo_side %}
    {% block menuo %}
        {% include 'komunumoj/komunumoj_organizo_menuo.html' with chefa=True %}
    {% endblock menuo %}
    <div class="feed-cont">
    <div class="news-feed">
        <div class="feed-bl">
            {% if uzanto_aliro in adm_membroj %}
                <p><a href="/ido{{ organizo.id }}"><strong>{% trans 'Enskriboj de komunumo' %}</strong></a>&nbsp|&nbsp<a href="">{% trans 'Malnetoj' %}</a>&nbsp|&nbsp<a href="/ido-arkivo{{ organizo.id }}">{% trans 'Arkivo' %}</a>&nbsp|&nbsp<a href="">{% trans 'Proponitaj' %}</a></p>
            {% else %}
                <p><strong>{% trans 'Enskriboj de komunumo' %}</strong></p>
            {% endif %}
        </div>
        {% if uzanto_aliro in adm_membroj %}
        <div class="feed-bl">
            <form method="POST" enctype="multipart/form-data">
                <input type="hidden" name="ago" value="enskribo"/>
                <div class="muroj_enskribo_formo_teksto">{{ formoj.enskribo_formo.teksto_formo }}</div>
                <div class="muroj_enskribo_formo_video">{% trans 'Вставьте ссылку на видео Youtube:' %}&nbsp{{ formoj.enskribo_formo.video_formo }}</div>
                <div class="muroj_enskribo_formo_bildo">{% trans 'Или:' %}&nbsp{{ formoj.enskribo_formo.bildo_formo }}</div>
                <div class="muroj_enskribo_autoro_montri">{{ formoj.enskribo_formo.autoro_montri.label }} {{ formoj.enskribo_formo.autoro_montri }}</div>
                <div class="muroj_enskribo_aliro">{% trans 'Oni vidas' %} {{ formoj.enskribo_formo.aliro }}</div>
                <div class="muroj_enskribo_komentado_aliro">{% trans 'Oni povas komenti' %} {{ formoj.enskribo_formo.komentado_aliro }}</div>
                <div class="muroj_enskribo_formo_errors"></div>
                <div class="muroj_enskribo_butono">
                    <button class="submit">{% trans 'Publikigi' %}</button>
                </div>
            </form>
        </div>
        {% endif %}

    {#  Проверка есть ли на стене записи  #}
    {% if enskriboj %}
        {#  Если есть, то выбрать их из цикла и выводить в шаблоне записей  #}
        {% include "muroj/muro_organizo_enskribo.html" %}
    {% if more %}
        <a href="javascript:void(0)" class="more_button">{% trans 'Montri pli' %}</a>
    {% endif %}
    {#  Если нет, то вывести специальное уведомление  #}
    {% else %}

        {#  Если это администратор / модератор сообщества, то вариант 1  #}
        {% if uzanto_aliro in adm_membroj %}
            <div class="alert-container">
                <div class="alert alert-info" role="alert">
                  {% blocktrans %}На стене этого сообщества пока нет записей. Вы можете опубликовать запись, используя форму размещённую выше.{% endblocktrans %}
                </div>
            </div>

        {#  Если нет, то вариант 2  #}
        {% else %}
            <div class="alert-container">
                <div class="alert alert-info" role="alert">
                  {% blocktrans %}На этой стене пока нет записей или нет записей доступных для вас. Записи могут появится позже. Чтобы за ними следить, подпишитесь на обновления сообщества.{% endblocktrans %}
                </div>
            </div>
        {% endif %}
    {% endif %}

    </div>
        <div class="bazo_dekstra_bloko">
        <a href="https://boomstarter.ru/projects/tehnokom/kommunisticheskiy_resursnyy_tsentr" target="_blank"
           style="margin-bottom: 10px; display: block">
            <img title="{% trans 'Поддержите проект Коммунистический Ресурсный Центр на BOOMSTARTER' %}"
                 alt="{% trans 'Поддержите проект Коммунистический Ресурсный Центр на BOOMSTARTER' %}"
                 src="{% static "main/images/resyrsniycenter4.png" %}">
        </a>
        <div class="bazo_dekstra_bloko_unu">
            <div class="bazo_dekstra_bloko_unu_titolo_ne">Объявление</div>
            <p>Организации могут создавать и администрировать только члены Международной Советской Гвардии.</p>
            <p>Если вы хотите участвовать в развитии этого сообщества или какого-то другого, в том числе создать новое, вы можете присоединиться к Международной Советской Гвардии, стать модератором, координатором и т.д.</p>
            <p>Для этого пишите, пожалуйста, <a href="https://tehnokom.su/im/direct/13" target="_blank">вот сюда</a>. Вы нужны Технокому!</p>
        </div>
        <div class="bazo_dekstra_bloko_unu">
            <div class="bazo_dekstra_bloko_unu_titolo">Связанные сообщества</div>
            <div class="uzantoj_dekstra_du">
            {% if komunumoj %}
                {% for komunumo in komunumoj %}
                    <div class="uzantoj_enskribo_montri">
                        <div class="uzantoj_enskribo_montri_avatar">
                            <a href="{{ komunumo.get_absolute_url }}" title="{{ komunumo.nomo__enhavo }}">
                                {% if komunumo.avataro_bildo_min %}
                                    <img width="16" height="16" alt="{{ komunumo.nomo__enhavo }}" src="/media/{{ komunumo.avataro_bildo_min }}" />
                                {% else %}
                                    <img width="16" height="16" alt="{{ komunumo.nomo__enhavo }}" src="{% static 'main/images/defaulte-avataro-min.jpg' %}" />
                                {% endif %}
                            </a>
                        </div>
                        <div class="uzantoj_enskribo_montri_teksto">
                            <a href="{{ komunumo.get_absolute_url }}">{{ komunumo.nomo__enhavo }}</a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                Нет данных
            {% endif %}
            </div>
        </div>
    </div>
    </div>
{% endblock komunumo_side %}
{% block hidden_blocks %}
    {% if user.is_authenticated %}
        <form method="POST" class="komento-formo">
            <div class="muroj_komento_bloko">
                <div class="muroj_komento_avatar">
                    <a href="/idu{{ komento.autoro_id }}" title="{{ komento.autoro__unua_nomo__enhavo }} {{ komento.autoro__familinomo__enhavo }}">
                    {% if a_uzanto.uzantojavataro__bildo_min %}
                        <img width="36" height="36" src="/media/{{ a_uzanto.uzantojavataro__bildo_min }}">
                    {% else %}
                        {% if a_uzanto.autoro__sekso == 'vira' or a_uzanto.autoro__sekso is None %}
                            <img width="36" height="36" src="{% static 'main/images/vira-avataro-min.png' %}">
                        {% else %}
                            <img width="36" height="36" src="{% static 'main/images/virina-avataro-min.png' %}">
                        {% endif %}
                    {% endif %}
                    </a>
                </div>
                <div class="muroj_komento_enhavo">
                    <input type="hidden" name="ago" value="komento"/>
                    <div class="muroj_komento_teksto">{{ formoj.komento_formo.teksto_formo }}</div>
                    <div class="muroj_komento_butono">
                    <button class="submit">{% trans 'Publikigi' %}</button>
                    </div>
                </div>
            </div>
        </form>
    {% else %}
        <div class="komento-formo averto_bloko">
            <span>{% trans 'Por komenti, vi devas' %} <a href="{% url 'registrado:ensaluti' %}">{% trans 'ensaluti' %}</a> {% trans 'aŭ' %} <a href="{% url "registrado:registrado" %}">{% trans 'registriĝi' %}</a>.
            </span>
        </div>
    {% endif %}
{% endblock %}