{# Internacia Lingvo (Esperanto) https://tehnokom.su/il #}

{# Kopirajto © 2017 Teknokom https://tehnokom.su #}
{# Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso #}

{# Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ #}
{# kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara #}
{# Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. #}

{# La programo estas distribuata esperante, ke ĝi utilos, #}
{# Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO #}
{# POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. #}

{# Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. #}
{# Se ne, do vidu https://www.gnu.org/licenses #}

{% extends 'main/bazo.html' %}
{% load i18n %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block css_js %}
    <link href="{% static 'muroj/style/muroj.css' %}" rel="stylesheet">
{% endblock css_js %}
{% block main_side %}

    <div class="news-feed">
        <div class="feed-bl">
            <h2>Новости</h2>
        </div>

    {% for muro_sociaprojekto in sociaprojekto.murojmurosociaprojekto_set.all %}
        {% for enskribo_sociaprojekto in sociaprojekto.murojenskribosociaprojekto_set.all %}


    <div class="muroj_enskribo">
            <div class="muroj_enskribo_top">
                <div class="muroj_enskribo_avatar">
                    <a href="" title=""><img src="{% static 'main/images/defaulte-avataro.jpg' %}" class="" width="50" height="50" alt="{{ enskribo_sociaprojekto.autoro }}" /></a>
                </div>
                <div>
                    <div class="muroj_konto">
                        <div>
                            <a href="/idp{{ sociaprojekto.id }}" title="">
                                {% for titolo_sociaprojekto in sociaprojekto.komunumojsociaprojektotitolo_set.all %}
                                    {{ titolo_sociaprojekto.enhavo }}
                                {% endfor %}
                            </a>
                        </div>
                    </div>
                    <div class="muroj_enskribo_dato">
                        <div>
                            <p>{{ enskribo_sociaprojekto.krea_dato }}</p>
				        </div>
                    </div>
                </div>
            </div>
            <div class="muroj_enskribo_teksto">
                <div>
                    {% for teksto_enskribo in enskribo_sociaprojekto.murojenskribosociaprojektoteksto_set.all %}
                        <div>{{ teksto_enskribo.enhavo|linebreaksbr }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="muroj_komentoj">
                {% for komento in enskribo_sociaprojekto.murojenskribosociaprojektokomento_set.all %}
                    {% for teksto_komento in komento.murojenskribosociaprojektokomentoteksto_set.all %}
		                <div class="muroj_komento_bloko">
                            <div class="muroj_komento_avatar">
                                <a href="/idu{{ komento.autoro.id }}" title="{{ komento.autoro.first_name }} {{ komento.autoro.last_name }}"><img src="/media/vl-thumb.jpg" class="" width="36" height="36" alt="{{ komento.autoro.first_name }} {{ komento.autoro.last_name }}" /></a>
                            </div>
                            <div class="muroj_komento_enhavo">
                            <div class="muroj_komento_nomo"><a href="/idu{{ komento.autoro.id }}">{{ komento.autoro.first_name }} {{ komento.autoro.last_name }}</a></div>
                            <div class="muroj_komento_teksto">{{ teksto_komento.enhavo|linebreaksbr }}</div>
                            <div class="muroj_komento_dato">{{ komento.krea_dato }}</div>
                            </div>

		                </div>
                    {% endfor %}
                {% endfor %}
            </div>
    </div>
        {% endfor %}
    {% endfor %}
    </div>

{% endblock main_side %}
