{% load i18n %}
{% load static %}
{% load embed_video_tags %}
{% load readmore %}

{% for enskribo in enskriboj %}
    <div class="muroj_enskribo" data-enskribo_id="{{ enskribo.uuid }}">
        <div class="muroj_enskribo_top">
            <div class="muroj_enskribo_avatar">
                <a href="" title="">
                    {% if organizo.komunumojorganizoavataro__bildo %}
                        <img src="/media/{{ organizo.komunumojorganizoavataro__bildo }}" width="50px" />
                    {% else %}
                        <img src="{% static 'main/images/defaulte-avataro.jpg' %}" width="50px" />
                    {% endif %}
                </a>
            </div>
            <div>
                <div class="muroj_konto">
                    <div>
                        <a href="{% url 'muroj:muro_organizo' organizo_id=organizo.id %}" title="">
                            {{ organizo.nomo__enhavo }}
                        </a>
                    </div>
                </div>
                <div class="muroj_enskribo_dato">
                    <div>
                        <p><a href="{% url 'muroj:muro_organizo_unu' organizo_id=organizo.id enskribo_id=enskribo.id %}">{{ enskribo.publikiga_dato }}</a>{% if uzanto_aliro in adm_membroj %} | <a href="javascript:void(0)" data-ago="arkivo">{% trans 'En arkivon' %}</a>{% endif %}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="muroj_enskribo_teksto">
            <div>
                <div>{{ enskribo.teksto__enhavo|readmore:60|linebreaksbr|urlize }}</div>
            </div>
            {% if enskribo.murojorganizoenskribobildo__bildo %}
                <div class="muroj_enskribo_bildo">
                    <img src="/media/{{ enskribo.murojorganizoenskribobildo__bildo }}">
                </div>
            {% elif enskribo.video %}
                <div class="muroj_enskribo_video">
                    {% video enskribo.video '538x303' is_secure=True %}
                </div>
            {% endif %}
        {% if enskribo.autoro_montri %}
            <div class="muroj_enskribo_montri">
                <div class="muroj_enskribo_montri_avatar">
                    <a href="/idu{{ enskribo.autoro_id }}" title="{{ enskribo.autoro__unua_nomo__enhavo }} {{ enskribo.autoro__familinomo__enhavo }}">
                        {% if enskribo.autoro__uzantojavataro__bildo_min %}
                            <img width="16" height="16" alt="{{ enskribo.autoro__unua_nomo__enhavo }} {{ enskribo.autoro__familinomo__enhavo }}"
                                src="/media/{{ enskribo.autoro__uzantojavataro__bildo_min }}" />
                        {% else %}
                            {% if enskribo.autoro__sekso == 'vira' or enskribo.autoro__sekso is None %}
                                <img width="16" height="16" alt="{{ enskribo.autoro__unua_nomo__enhavo }} {{ enskribo.autoro__familinomo__enhavo }}"
                                src="{% static 'main/images/vira-avataro-min.png' %}" />
                            {% else %}
                                <img width="16" height="16" alt="{{ enskribo.autoro__unua_nomo__enhavo }} {{ enskribo.autoro__familinomo__enhavo }}"
                                    src="{% static 'main/images/virina-avataro-min.png' %}" />
                            {% endif %}
                        {% endif %}
                    </a>
                </div>
                <div class="muroj_enskribo_montri_teksto">
                    <a href="/idu{{ enskribo.autoro_id }}" title="{{ enskribo.autoro__unua_nomo__enhavo }} {{ enskribo.autoro__familinomo__enhavo }}">
                        {{ enskribo.autoro__unua_nomo__enhavo }} {{ enskribo.autoro__familinomo__enhavo }}
                    </a>
                </div>
            </div>
        {% endif %}
        </div>
        <div class="muroj_enskribo_malsupro">
            <div class="muroj_enskribo_malsupro_komenti">
                <div class="muroj_enskribo_malsupro_komenti_bildo">
                    <a class="aldonu-komento" href="javascript:void(0)">
                        <img src="{% static 'muroj/images/komenti.png' %}" class="" width="16" height="16"/></a>
                </div>
                <div class="muroj_enskribo_malsupro_komenti_teksto">
                    <a class="aldonu-komento" href="javascript:void(0)">Комментировать</a>
                </div>
            </div>
            <div class="muroj_enskribo_malsupro_interese">
                <div class="muroj_enskribo_malsupro_interese_bildo">
                    <a href="javascript:void(0)">
                        <img src="{% if enskribo.uzanto_interese %}{% static 'muroj/images/interese_on.png' %}{% else %}{% static 'muroj/images/interese.png' %}{% endif %}" class="" width="18" height="18"/>
                    </a>
                </div>
                <div class="muroj_enskribo_malsupro_interese_teksto">
                    <a href="javascript:void(0)">Интересно
                        <span class="interese-tuta">
                            {% if enskribo.interese_tuta %}{{ enskribo.interese_tuta }}{% endif %}
                        </span>
                    </a>
                </div>
            </div>
            <div class="muroj_enskribo_malsupro_teleporti">
                <div class="muroj_enskribo_malsupro_teleporti_bildo">
                    <a href="javascript:void(0)" title="Телепортация записей отключена">
                        <img src="{% static 'muroj/images/teleporti.png' %}" class="" width="21" height="16"/></a>
                </div>
                <div class="muroj_enskribo_malsupro_teleporti_teksto">
                    <a href="javascript:void(0)" title="Телепортация записей отключена">0</a>
                </div>
            </div>
        </div>
        <div class="muroj_komentoj">
            {% for komento in enskribo.komentoj %}
                {% include "muroj/muro_organizo_komento.html" %}
            {% endfor %}
        </div>
    </div>
{% endfor %}