{% load i18n %}
{% load static %}
{% load embed_video_tags %}
{% load readmore %}

{% for enskribo in enskriboj %}
    <div class="muroj_enskribo" data-enskribo_id="{{ enskribo.uuid }}">
        <div class="muroj_enskribo_top">
            <div class="muroj_enskribo_avatar">
                <a href="" title="{{ enskribo.posedanto__unua_nomo__enhavo }}{% if enskribo.posedanto__familinomo__enhavo %}&nbsp{{ enskribo.posedanto__familinomo__enhavo }}{% else %}{% endif %}">
                    {% if enskribo.posedanto__uzantojavataro__bildo_min %}
                        <img src="/media/{{ enskribo.posedanto__uzantojavataro__bildo_min }}" width="50px" class="{% if enskribo.posedanto_id in mia_kamaradoj %}kamarado {% elif enskribo.posedanto_id == user.id %}mem {% endif %}" />
                    {% else %}
                        {% if enskribo.posedanto__sekso == 'vira' or enskribo.posedanto__sekso is None %}
                            <img src="{% static 'main/images/vira-avataro-min.png' %}" class="{% if enskribo.posedanto_id in mia_kamaradoj %} kamarado {% elif enskribo.posedanto_id == user.id %}mem {% endif %}">
                        {% else %}
                            <img src="{% static 'main/images/virina-avataro-min.png' %}" class="{% if enskribo.posedanto_id in mia_kamaradoj %} kamarado {% elif enskribo.posedanto_id == user.id %}mem {% endif %}">
                        {% endif %}
                    {% endif %}
                </a>
            </div>
            <div>
                <div class="muroj_konto">
                    <div>
                        <a href="{% url 'muroj:muro_uzanto' uzanto_id=enskribo.posedanto_id %}" title="">
                            {{ enskribo.posedanto__unua_nomo__enhavo }}{% if enskribo.posedanto__familinomo__enhavo %}&nbsp{{ enskribo.posedanto__familinomo__enhavo }}{% else %}{% endif %}
                        </a>
                    </div>
                </div>
                <div class="muroj_enskribo_dato">
                    <div>
                        <p><a href="{% url 'muroj:muro_uzanto_unu' uzanto_id=enskribo.posedanto_id enskribo_id=enskribo.id %}">{{ enskribo.publikiga_dato }}</a>{% if enskribo.posedanto_id == user.id %} | <a href="javascript:void(0)" data-ago="arkivo">{% trans 'En arkivon' %}</a>{% endif %}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="muroj_enskribo_teksto">
            <div>
                <div>{{ enskribo.teksto__enhavo|readmore:60|linebreaksbr|urlize }}</div>
            </div>
            {% if enskribo.murojuzantoenskribobildo__bildo %}
                <div class="muroj_enskribo_bildo">
                    <img src="/media/{{ enskribo.murojuzantoenskribobildo__bildo }}">
                </div>
            {% elif enskribo.video %}
                <div class="muroj_enskribo_video">
                    {% video enskribo.video '538x303' is_secure=True %}
                </div>
            {% endif %}
        </div>
        <div class="muroj_enskribo_malsupro">
            <div class="muroj_enskribo_malsupro_komenti">
                <div class="muroj_enskribo_malsupro_komenti_bildo">
                    <a class="aldonu-komento" href="javascript:void(0)">
                        <img src="{% static 'muroj/images/komenti.png' %}" class="" width="16" height="16"/></a>
                </div>
                <div class="muroj_enskribo_malsupro_komenti_teksto">
                    <a class="aldonu-komento" href="javascript:void(0)">Комментировать</a>
                </div>
            </div>
            <div class="muroj_enskribo_malsupro_interese">
                <div class="muroj_enskribo_malsupro_interese_bildo">
                    <a href="javascript:void(0)">
                        <img src="{% if enskribo.uzanto_interese %}{% static 'muroj/images/interese_on.png' %}{% else %}{% static 'muroj/images/interese.png' %}{% endif %}" class="" width="18" height="18"/>
                    </a>
                </div>
                <div class="muroj_enskribo_malsupro_interese_teksto">
                    <a href="javascript:void(0)">Интересно
                        <span class="interese-tuta">
                            {% if enskribo.interese_tuta %}{{ enskribo.interese_tuta }}{% endif %}
                        </span>
                    </a>
                </div>
            </div>
            <div class="muroj_enskribo_malsupro_teleporti">
                <div class="muroj_enskribo_malsupro_teleporti_bildo">
                    <a href="javascript:void(0)" title="Телепортация записей отключена">
                        <img src="{% static 'muroj/images/teleporti.png' %}" class="" width="21" height="16"/></a>
                </div>
                <div class="muroj_enskribo_malsupro_teleporti_teksto">
                    <a href="javascript:void(0)" title="Телепортация записей отключена">0</a>
                </div>
            </div>
        </div>
        <div class="muroj_komentoj">
            {% for komento in enskribo.komentoj %}
                {% include "muroj/muro_uzanto_komento.html" %}
            {% endfor %}
        </div>
    </div>
{% endfor %}