{# Internacia Lingvo (Esperanto) https://tehnokom.su/il #}

{# Kopirajto © 2017 Teknokom https://tehnokom.su #}
{# Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso #}

{# Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ #}
{# kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara #}
{# Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. #}

{# La programo estas distribuata esperante, ke ĝi utilos, #}
{# Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO #}
{# POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. #}

{# Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. #}
{# Se ne, do vidu https://www.gnu.org/licenses #}

{% extends "main/bazo.html" %}
{% load i18n %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block title %}
    {% trans 'Ensaluti' %}
{% endblock title %}
{% block css_js %}
    <link href="{% static 'registrado/style/registrado.css' %}" rel="stylesheet">
{% endblock css_js %}
{% block main_side %}
    <div class="registrado_chefa_bloko">
        <form method="post">
            {% csrf_token %}
                {% if form.non_field_errors %}
                <ul>
                    {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="registrado_bloko_unua">
                    <p>{{ form.user.label }}</p>
                    <p>{{ form.user }}</p>
                    <small>{{ form.user.errors }}</small>
                    <p>{{ form.password.label }}</p>
                    <p>{{ form.password }}</p>
                    <small>{{ form.password.errors }}</small>
                    <a href="{% url 'registrado:registrado' %}">{% trans 'Зарегистрироваться' %}</a> |
                    <a href="{% url 'registrado:restarigo' %}">{% trans 'Восстановить доступ' %}</a>
                </div>
                <div class="registrado_blok_submit">
                    <button class="submit" id="registrado_selection_submit">{% trans 'Ensaluti' %}</button>
                </div>
        </form>
    </div>
{% endblock main_side %}