{% extends "registrado/registrado.html" %}
{% load i18n %}
{% load static %}
{% block css_js %}
    <script type="text/javascript">
        var lastapaso_url = '{% url 'registrado:lastapaso' %}';
    </script>
    <script type="text/javascript" src="{% static 'registrado/script/konfirmo.js' %}"></script>
{% endblock css_js %}
{% block title %}
    {% trans 'Registrado' %} - {% trans 'La lasta paŝo!' %}
{% endblock title %}
{% block main_side %}
    <p>{% blocktrans %}Bonege, {% endblocktrans %}{{ uzanto.unua_nomo__enhavo }}{% blocktrans %}, restis nur iomete!{% endblocktrans %}</p>
    <p>{% blocktrans %}Теперь следует подтвердить Ваши контактные данные. Вам на почту выслано письмо со ссылкой для подтверждения вашего почтового ящика. Перейдите, пожалуйста, по этой ссылке. Если письмо долго не приходит, попросите Робота помочь Вам:{% endblocktrans %}</p>
    <p><button data-action="email">{% blocktrans %}Estimata Roboto, sendu mesaĝon al mia retpoŝto.{% endblocktrans %}</button></p><br />
    <p><strong>{% blocktrans %}Внимание! Письмо может попасть в папку СПАМ.{% endblocktrans %}</strong></p>
    <p><strong>{% blocktrans %}Если вы не получили письмо для подтверждения, проверьте, не попало ли оно в ваш СПАМ.{% endblocktrans %}</strong></p>
{% endblock main_side %}