{% extends 'main/emails/poshto.html' %}
{% load static %}
{% load i18n %}
{% block title %}
    {% if not restarigo %}
    {% trans 'Konfirmo de la registrado' %}
    {% else %}
    {% trans 'Восстановление доступа к учетной записи Техноком' %}
    {% endif %}
{% endblock title %}
{% block subject %}
    {% if not restarigo %}
    {% trans 'Konfirmo de la registrado' %}
    {% else %}
    {% trans 'Восстановление доступа к учетной записи Техноком' %}
    {% endif %}
{% endblock subject %}
{% block content %}
    <p>
    {% trans 'Saluton' %}, {{ uzanto.unua_nomo__enhavo }} {{ uzanto.familinomo__enhavo }}.
    </p>
    {% if not restarigo %}
    <p>
    {% trans 'Por konfirmi la registron, alklaku la ligilon' %} <a href="{{ token_url }}">{{ token_url }}</a>
    </p>
    {% else %}
    <p>
        {% blocktrans %}
        Это письмо сформировано в ответ на попытку восстановления доступа к Вашей учетной записи.
        {% endblocktrans %}
        <b>{% blocktrans %}Если это не Вы пытаетесь сменить пароль доступа к учетной записи, то игнорируйте это письмо{% endblocktrans %}</b>.
    </p>
    <p>
    {% trans 'Для восстановления пароля необходимо воспользоваться' %} <a href="{{ token_url }}">{% trans 'данной ссылкой' %}</a>
    </p>
    {% endif %}
{% endblock content %}
