{% extends "main/bazo.html" %}
{% load  i18n %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block css_js %}
    <script type="text/javascript">
        var lastapaso_url = '{% url 'registrado:lastapaso' %}';
    </script>
    <script type="text/javascript" src="{% static 'registrado/script/konfirmo.js' %}"></script>
{% endblock css_js %}
{% block title %}
    {% trans 'Konfirmo de la registrado' %}
{% endblock title %}
{% block main_side %}
    {% if uzanto %}
        {% if superdita %}
            {# Если просрочен ключ активации #}
            <p>{{ uzanto.unua_nomo__enhavo }}{% blocktrans %}, bedaŭrinde valida periodo de la ligilo por aktivigo de via konto pasis.{% endblocktrans %}</p>
            <p>{% blocktrans %}Vi povas peti la Roboton sendi al Vi mesaĝon kun nova ligilo ankoraŭ foje:{% endblocktrans %}</p>
            <p>
                <button>{% blocktrans %}Уважаемый Робот, вышлите мне письмо повторно.{% endblocktrans %}</button>
            </p>
        {% elif uzanto.konfirmita %}
            {# Если почта подтверждена #}
            <p>{% blocktrans %}Gratulon, {% endblocktrans %}{{ uzanto.unua_nomo__enhavo }}!</p>
            <p>{% blocktrans %}Via konto estas sukcese aktivigita, de nun Vi povas uzi ĉiujn eblecojn de Teknokom.{% endblocktrans %}</p>
            <div class="registrado_blok_submit">
                <a href="{% url 'registrado:ensaluti' %}" class="submit">Форма входа на сайт</a>
            </div>
        {% else %}
            <p>{{ uzanto.unua_nomo__enhavo }}{% blocktrans %}, bedaŭrinde Via konto ankoraŭ ne estas aktivigita.{% endblocktrans %}</p>
            <p>{% blocktrans %}Por aktivigi la konton necesas iri laŭ la ligilo, sendita al Via retpoŝta adreso, skribitan dum la registrado. Se vi ne ricevis similan mesaĝon de nia Roboto, do kontrolu la dosierujon "Spamo" en via retpoŝto, aŭ petu al Roboto sendi la mesaĝon denove:{% endblocktrans %}</p>
            <p>
                <button>{% blocktrans %}Уважаемый Робот, вышлите мне письмо повторно.{% endblocktrans %}</button>
            </p>
        {% endif %}
    {% endif %}
{% endblock main_side %}
