{% extends "registrado/registrado.html" %}
{% load i18n %}
{% load static %}
{% block css_js %}
    <link href="{% static 'registrado/style/registrado.css' %}" rel="stylesheet">
    <script type="text/javascript">
        var lastapaso_url = '{% url 'registrado:restarigo' %}';
    </script>
    {% if paso == 2 %}
    <script type="text/javascript" src="{% static 'registrado/script/konfirmo.js' %}"></script>
    {% elif paso == 3 %}

    {% endif %}
{% endblock css_js %}
{% block title %}
    Восстановление доступа - Шаг {{ paso }}
{% endblock title %}
{% block main_side %}
    {% if paso == 1 %}
    <form action="{% url 'registrado:restarigo' %}" method="post">
        {% csrf_token %}
        <div class="registrado_bloko_unua">
            <p>Вы зашли на страницу восстановления доступа.</p>
            <p>Для продолжения процедуры Вам необходимо идентифицировать свою
                учетную запись по E-mail или номеру телефона, указанным при регистрации.
            </p>
            <p>{{ formo.user }}</p>
            <small>{{ formo.user.errors }}</small>
        </div>
        <div class="registrado_blok_submit">
            <button class="submit">{% blocktrans %}Проверить данные{% endblocktrans %}</button>
        </div>
    </form>
    {% elif paso == 2 %}
    <p>{% blocktrans %}Ваши учетные данные идентифицированы. Для продолжения процедуры попросите Робота выслать письмо на Вашу электронную почту:{% endblocktrans %}</p>
    <p><button data-action="email">{% blocktrans %}Estimata Roboto, sendu mesaĝon al mia retpoŝto.{% endblocktrans %}</button></p>
    {% elif paso == 3 %}
        {% if token_fail or token_timeout %}
        <p>Неверный ключ подтверждения или срок его действия истек!</p>
        <p>Если Вы пытаетесь восстановить доступ к своему профилю, то повторите процедуру восстановления доступа еще раз:</p>
        <div class="registrado_blok_submit">
            <a href="{% url 'registrado:restarigo' %}" class="submit">Восстановить доступ</a>
        </div>
        {% else %}
        <form action="{% url 'registrado:restarigo' token=uzanto_token %}" method="post">
            {% csrf_token %}
            <div class="registrado_bloko_unua">
                <p>Теперь вы можете установить новый пароль доступа к своей учетной записи.</p>
                <p>{{ formo.password1 }}</p>
                <small>{{ formo.password1.errors }}</small>
                <p>{{ formo.password2 }}</p>
                <small>{{ formo.password2.errors }}</small>
            </div>
            <div class="registrado_blok_submit">
                <button class="submit">Изменить пароль</button>
            </div>
        </form>
        {% endif %}
    {% elif paso == 4 %}
    <p>Отлично! Вы установили новый пароль для доступа к своей учетной записи.</p>
    <p>Можете воспользоваться формой входа на сайт:</p>
    <div class="registrado_blok_submit">
        <a href="{% url 'registrado:ensaluti' %}" class="submit">Форма входа на сайт</a>
    </div>
    {% endif %}
{% endblock main_side %}