{# Internacia Lingvo (Esperanto) https://tehnokom.su/il #}

{# Kopirajto © 2017 Teknokom https://tehnokom.su #}
{# Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso #}

{# Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ #}
{# kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara #}
{# Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. #}

{# La programo estas distribuata esperante, ke ĝi utilos, #}
{# Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO #}
{# POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. #}

{# Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. #}
{# Se ne, do vidu https://www.gnu.org/licenses #}

{% extends "main/bazo.html" %}
{% load i18n %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block css_js %}
    <link href="{% static 'registrado/style/registrado.css' %}" rel="stylesheet">
    <script src="{% static 'registrado/script/jquery.min.js' %}"></script>
    <script src="{% static 'main/script/ui.js' %}"></script>
    <script src="{% static 'registrado/script/ui.js' %}"></script>
    <script src="{% static 'registrado/script/registrado.js' %}"></script>
    <script type="text/javascript">
        let informiloj_url = '{% url "informiloj:informiloj" %}';
    </script>
    <script src="{% static 'informiloj/script/informiloj.js' %}"></script>
{% endblock css_js %}
{% block title %}
    {% trans 'Registrado' %}
{% endblock title %}
{% block main_side %}
    <div class="registrado_chefa_bloko">
        <div class="registrado_bloko_unua">
        <p>{% blocktrans %}Bonvolu plenigi ĉiujn kampojn kaj premu la butonon "Registriĝi"{% endblocktrans %}</p>
        </div>
        <form action="/registrado/" method="post">
        {% csrf_token %}
            <div class="registrado_bloko_unua">
                <p>{{ form.unua_nomo }}</p>
                <p>{{ form.familinomo }}</p>
                <small>{{ form.familinomo.errors }}</small>
                <p>{{ form.chefa_retposhto }}</p>
                <p><select class="imaged" name="kodo_telefonanumero" id="kodo_telefonanumero_kodo_telefonanumero">
                    {% for id, option in form.fields.kodo_telefonanumero.choices %}
                        {{ option|safe }}
                    {% endfor %}
                    </select>
                    {{ form.chefa_telefonanumero }}</p>
                <small>{{ form.chefa_telefonanumero.errors }}</small>
                <small>{{ form.kodo_telefonanumero.errors }}</small>
            </div>
            <div class="registrado_bloko_unua">
                <p>{{ form.sekso.label }}:</p>
                <p>{{ form.sekso }}</p>
                <small>{{ form.sekso.errors }}</small>
                <p>{{ form.naskighdato.label }}:</p>
                <p>{{ form.naskighdato }}</p>
                <small>{{ form.naskighdato.errors }}</small>
            </div>
            <div class="registrado_bloko_unua">
                <p>{% trans 'Via baza lingvo:' %}</p>
                <p>{{ form.chefa_lingvo }}</p>
                <small>{{ form.chefa_lingvo.errors }}</small>
            </div>
            <div class="registrado_bloko_unua">
                <div class="registrado_bloko_lando">
                    <p>{{ form.loghlando.label }}:</p>
                    <p>{{ form.loghlando }}</p>
                    <small>{{ form.loghlando.errors }}</small>
                    <p>{{ form.loghregiono.label }}:</p>
                    <p>{{ form.loghregiono }}</p>
                    <small>{{ form.loghregiono.errors }}</small>
                </div>
            </div>
            <div class="registrado_bloko_unua">
                <div class="registrado_bloko_lando">
                    <p>{{ form.entrepreno.label }}:</p>
                    <p>{{ form.entrepreno }}</p>
                    <small>{{ form.entrepreno.errors }}</small>
                </div>
            </div>
            <div class="registrado_bloko_unua">
                <p>{{ form.password1.label }}:</p>
                <p>{{ form.password1 }}</p>
                <small>{{ form.password1.errors }}</small>
                <p>{{ form.password2.label }}:</p>
                <p>{{ form.password2 }}</p>
                <small>{{ form.password2.errors }}</small>
            </div>
        <div class="registrado_bloko">
            <p>{% blocktrans %}Por registriĝi en la retejo de Teknokom vi devas akcepti <a href="/p1/" target="_blank">regulojn de la retejo</a>.{% endblocktrans %} {% blocktrans %}В том числе, ознакомьтесь с <a href="/p2/" target="_blank">правилами</a> защиты информации о пользователях.{% endblocktrans %}</p>
            <div class="registrado_selection_checkbox" data-required="true">
            <input type="checkbox">
            <label>{% trans 'Да, я прочитал и согласен с условиями в правилах сайта' %}</label>
            </div>
            <div class="registrado_selection_checkbox" data-required="true">
            <input type="checkbox">
            <label>{% trans 'Я даю согласие на обработку своих персональных данных' %}</label>
            </div>
        </div>
        <div class="registrado_recaptcha_bloko">
            {{ form.captcha }}
            {{ form.captcha.errors }}
        </div>
        <div class="registrado_blok_submit">
            <button class="submit" id="registrado_selection_submit">{% trans 'Registriĝi' %}</button>
        </div>
        </form>
    </div>
{% endblock main_side %}
