{# Internacia Lingvo (Esperanto) https://tehnokom.su/il #}

{# Kopirajto © 2017 Teknokom https://tehnokom.su #}
{# Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso #}

{# Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ #}
{# kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara #}
{# Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. #}

{# La programo estas distribuata esperante, ke ĝi utilos, #}
{# Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO #}
{# POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. #}

{# Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. #}
{# Se ne, do vidu https://www.gnu.org/licenses #}

{% extends 'komunumoj/soveto.html' %}
{% load i18n %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block css_js2 %}
    <link href="{% static 'taskoj/style/taskoj.css' %}" rel="stylesheet">
    <link href="{% static 'muroj/style/muroj.css' %}" rel="stylesheet">
{% endblock css_js2 %}
{% block title %}
    {% trans 'Taskoj' %} — {{ soveto.nomo__enhavo }}
{% endblock title %}
{% block komunumo_side %}
    {% block menuo %}
        {% include 'komunumoj/komunumoj_soveto_menuo.html' with taskoj=True %}
    {% endblock menuo %}

        <div class="taskoj_chiuj">
            <div class="taskoj_chiuj_bloko">

                <section class="tabs">
                    <input id="tab_1" type="radio" name="tab" checked="checked" />
                    <input id="tab_2" type="radio" name="tab" />
                    <label for="tab_1" id="tab_l1">{% trans 'Viaj taskoj' %}</label>
                    <label for="tab_2" id="tab_l2">{% trans 'Совместные действия' %}</label>
                    <div style="clear:both"></div>

	                <div class="tabs_cont">
                        <div id="tab_c1">

                        {#  Проверка есть ли задачи  #}
                        {% if xeneralaj_taskoj %}
                            {#  Если есть, то выбрать их из цикла и вывести  #}
                            {% for xenerala_tasko in xeneralaj_taskoj %}
                                <ul class="taskoj_listo">
                                    <li class="taskoj_listo_item">
                                        <a href="/idu{{ xenerala_tasko.autoro__id }}" title="{{ xenerala_tasko.autoro__unua_nomo__enhavo }}{% if xenerala_tasko.autoro__familinomo__enhavo %}&nbsp{{ xenerala_tasko.autoro__familinomo__enhavo }}{% else %}{% endif %}">
                                            <div class="taskoj_listo_item_image">
                                                {% if xenerala_tasko.autoro__uzantojavataro__bildo_min %}
                                                    <img src="/media/{{ xenerala_tasko.autoro__uzantojavataro__bildo_min }}">
                                                {% else %}
                                                    {% if xenerala_tasko.autoro__sekso == 'vira' or xenerala_tasko.autoro__sekso is None %}
                                                        <img src="{% static 'main/images/vira-avataro-min.png' %}">
                                                    {% else %}
                                                        <img src="{% static 'main/images/virina-avataro-min.png' %}">
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </a>
                                        <div class="taskoj_listo_item_titolo"><a href="/idu{{ xenerala_tasko.autoro__id }}">{{ xenerala_tasko.autoro__unua_nomo__enhavo }}{% if xenerala_tasko.autoro__familinomo__enhavo %}&nbsp{{ xenerala_tasko.autoro__familinomo__enhavo }}{% else %}{% endif %}</a><span class="taskoj_listo_item_ofico">{% if xenerala_tasko.autoro__komunumojorganizomembro__laborarolo__nomo__enhavo %},&nbsp{{ xenerala_tasko.autoro__komunumojorganizomembro__laborarolo__nomo__enhavo }}{% else %}{% endif %}</span>
                                        </div>
                                        <div class="taskoj_listo_item_priskribo">{{ xenerala_tasko.priskribo__enhavo }}
                                        </div>
                                    </li>
                                </ul>
                            {% endfor %}
                        {#  Если нет, то вывести специальное уведомление  #}
                        {% else %}
                            <div class="alert-container">
                                <div class="alert alert-info" role="alert">
                                  {% blocktrans %}В этом сообществе пока нет ваших задач, но они обязательно появятся позже. Чтобы за ними следить, подпишитесь на обновления сообщества, ваше участие важно!{% endblocktrans %}
                                </div>
                            </div>
                        {% endif %}
		                </div>

		                <div id="tab_c2">
                            <div class="alert-container">
                                <div class="alert alert-info" role="alert">
                                  {% blocktrans %}В этом сообществе пока нет задач для совместных действий или нет задач доступных для вас. Задачи обязательно появятся позже. Чтобы за ними следить, подпишитесь на обновления сообщества.{% endblocktrans %}
                                </div>
                            </div>
		                </div>
	                </div>
                </section>
            </div>
        </div>
{% endblock komunumo_side %}
