{% extends 'main/bazo.html' %}
{% load static %}
{% load i18n %}
{% block meta %}
{% endblock meta %}
{% block css_js %}
    <script type="text/javascript" src="{% static 'uzantoj/script/uzanto_malabono.js' %}"></script>
{% endblock css_js %}
{% block title %}{% trans 'Отписаться от рассылки' %}{% endblock title %}
{% block main %}
    <div class="main-container">
        {% if user.is_authenticated %}
            <div class="open-menu">
                <a href="/idu{{ user.id }}"><div class="drop-item">{% trans 'Mia planedo' %}</div></a>
                <div class="drop-line"></div>
            {% if a_uzanto.is_admin %}
                <a href="#"><div class="drop-item">{% trans 'Sciigoj' %}</div></a>
                {% else %}
                <a href="#"><div class="drop-item-malakt">{% trans 'Sciigoj' %}</div></a>
            {% endif %}
                <a href="/agru{{ user.id }}"><div class="drop-item">{% trans 'Agordoj' %}</div></a>
                <a href="/p5/"><div class="drop-item">{% trans 'Helpo' %}</div></a>
                <div class="drop-line"></div>
                <a href="{% url 'registrado:elsaluti' %}"><div class="drop-item">{% trans 'Elsaluti' %}</div></a>
        </div>
        {% else %}
            <div class="open-menu">
                <form method="POST" action="{% url 'registrado:ensaluti' %}">
                    {% csrf_token %}
                    {{ registrado_formo.as_p }}
                    <button class="submit" id="registrado_selection_submit" style="width: 100%;">{% trans 'Ensaluti' %}</button>
                    <a href="{% url 'registrado:restarigo' %}">{% trans 'Renovigi aliron' %}</a> | <a href="{% url 'registrado:registrado' %}">{% trans 'Registrado' %}</a>
                </form>
            </div>
        {% endif %}
        <div class="card border-warning" style="width: 57rem; margin-left: auto; margin-right: auto;">
            <div class="card-header">
                <h5 class="text-center">{% trans 'Внимание!' %}</h5>
            </div>
            <div class="card-body text-justify">
            <h5 style="margin-bottom: 20px">
                {% trans 'Уважаемый' %}
                {% if abonanto.unua_nomo.enhavo %}{{ abonanto.unua_nomo.enhavo }} {{ abonanto.familinomo.enhavo }}!
                {% else %}
                    {% trans 'пользователь' %}!
                {% endif %}
            </h5>
            {% if abonanto %}
                {% if nun %}
                <p>
                    {% blocktrans %}
                        Ваш адрес электронной почты исключен из списков рассылки.
                    {% endblocktrans %}
                </p>
                {% else %}
                <p>
                    {% blocktrans %}
                        Нажав кнопку &laquo;Отписаться&raquo; Вы откажетесь от рассылки Технокома.
                        Вам перестанут приходить оповещения о публикациях и событиях в Ваших сообществах.
                        Возобновить рассылку уведомлений Вы можете в Настройках профиля.
                    {% endblocktrans %}
                </p>
                <p class="text-muted">
                    {% blocktrans %}
                        Обратите внимание на то, что технические уведомления Вам всё же могут прихоить.
                        Это могут быть письма с кодом подтверждения значимых на Технокоме действий
                        (письмо с кодом подтверждения действия, связанного с безопасностью аккаунта, и т.п.)
                    {% endblocktrans %}
                </p>
                {% endif %}
            {% else %}
                {% blocktrans %}
                    Вы пытаетесь отписаться от рассылки уведомлений.
                    Но похоже, что Вы не подписаны, либо перешли по неверной ссылке на эту страницу.
                    Рекомендуем воспользоваться ссылкой из последнего пришедшего на вашу электронную почту уведомления,
                    либо отписаться от рассылки в настройках своего профиля.
                {% endblocktrans %}
            {% endif %}
            </div>
            {% if abonanto and not nun %}
            <div class="card-footer text-center">
                <button class="btn btn-primary btn-lg" id="malaboni">{% trans 'Отписаться' %}</button>
                <div id="fail_message" class="text-danger hidden-element">
                    {% blocktrans %}
                        Вы пытаетесь отписаться от рассылки уведомлений.
                        Но похоже, что Вы не подписаны, либо перешли по неверной ссылке на эту страницу.
                        Рекомендуем воспользоваться ссылкой из последнего пришедшего на вашу электронную почту уведомления,
                        либо отписаться от рассылки в настройках своего профиля.
                    {% endblocktrans %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock main %}