{# Internacia Lingvo (Esperanto) https://tehnokom.su/il #}

{# Kopirajto © 2017 Teknokom https://tehnokom.su #}
{# Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso #}

{# Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ #}
{# kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara #}
{# Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. #}

{# La programo estas distribuata esperante, ke ĝi utilos, #}
{# Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO #}
{# POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. #}

{# Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. #}
{# Se ne, do vidu https://www.gnu.org/licenses #}

{% extends "main/bazo.html" %}
{% load i18n %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block css_js %}
    <link href="{% static 'komunumoj/style/komunumo.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'main/script/pagination.js' %}"></script>
{% endblock css_js %}
{% block title %}
    {% trans 'Gekamaradoj' %}
{% endblock title %}
{% block main_side %}
    <div class="komunumoj_socio_chiuj">
        <div class="komunumoj_socio_chiuj_bloko">
            <section class="tabs">
                <input id="tab_1" type="radio" name="tab" checked="checked" />
                <input id="tab_2" type="radio" name="tab" />
                {% if user.is_authenticated %}
                    <label for="tab_1" id="tab_l1">{% trans 'Mia gekamaradoj' %}</label>
                {% endif %}
                <label for="tab_2" id="tab_l2">{% trans 'Ĉiuj homoj' %}</label>
                <div style="clear:both"></div>
                <div class="bazo_tabs_serqo">
                    <form action="{% url 'uzantoj:uzantoj_gekamarado' %}" method="get">
                        {{ search_form.search_field }}
                        <button class="bazo_tabs_serqo_submit" type="submit">Найти</button>
                        <a href="{% url 'uzantoj:uzantoj_gekamarado' %}"><button class="bazo_tabs_serqo_submit">Сброс</button></a>
                    </form>
                </div>
                <div class="tabs_cont">
                    {% if user.is_authenticated %}
                        <div id="tab_c1">
                            {% if gekamaradoj %}
                                {% with gekamaradoj as rekordoj %}
                                    {% include 'uzantoj/uzantoj_listo_pago.html' %}
                                {% endwith %}
                                {% if gekamaradoj_more %}
                                    <a href="javascript:void(0)" class="more_button" data-page-typo="gekamarado">{% trans 'Montri pli' %}</a>
                                {% endif %}
                            {% else %}
                                <p>{% trans 'Vi, ankoraŭ, ne havas gekamaradojn.' %}</p>
                            {% endif %}
                        </div>
                    {% endif %}
                    <div id="tab_c2">
                        {% with uzantoj as rekordoj %}
                            {% include 'uzantoj/uzantoj_listo_pago.html' %}
                        {% endwith %}
                        {% if uzantoj_more %}
                            <a href="javascript:void(0)" class="more_button" data-page-typo="uzanto">{% trans 'Montri pli' %}</a>
                        {% endif %}
                    </div>
                </div>
            </section>

        </div>
    </div>

    {#  Срипт добавления якоря ко вкладкам  #}
    <script type="text/javascript">
        let $j = jQuery.noConflict();
        $j(function(){
            if($j('.tabs > label[for]').length > 0){
                let
                    hash = window.location.hash;
                    hash = (hash.indexOf('/') !== -1) ? hash.slice(0, hash.indexOf('/')) : hash;
                $j('.tabs > label[for]').each(function(){
                    let
                        $e = $j(this),
                        id = '#' + $e.attr('id');

                    //Меняет якорь при клике на вкладку
                    $e.click(function(e){
                        window.location.hash = id;
                    });

                    //Показывает вкладку в соответствии с якорем
                    if(hash === id)
                        $e.click();
                });
            }
        });
    </script>

{% endblock main_side %}
