{# Internacia Lingvo (Esperanto) https://tehnokom.su/il #}

{# Kopirajto © 2017 Teknokom https://tehnokom.su #}
{# Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso #}

{# Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ #}
{# kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara #}
{# Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. #}

{# La programo estas distribuata esperante, ke ĝi utilos, #}
{# Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO #}
{# POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. #}

{# Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. #}
{# Se ne, do vidu https://www.gnu.org/licenses #}

{% extends 'main/bazo.html' %}
{% load i18n %}
{% load static %}
{% load readmore %}
{% block meta %}
{% endblock meta %}
{% block css_js %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
    <link href="{% static 'uzantoj/style/uzantoj.css' %}" rel="stylesheet">
{% endblock css_js %}
{% block title %}{% trans 'Poehali!' %}{% endblock %}
{% block main_side %}
{#    <div class="row">#}
    <div class="uzantoj_starta_chiuj">
        <div class="uzantoj_starta_titolo_bloko">
            <p><strong>{% trans 'Ваша панель управления миром' %}</strong></p>
        </div>
    {% block menuo %}
        {% include 'uzantoj/uzanto_menuo_starta.html' with panelo=True %}
    {% endblock menuo %}
    </div>
    <div class="uzantoj_starta_chiuj">
        <div class="news-feed">
            {% for tasko in taskoj %}
                <div class="uzantoj_starta_bloko">
                    <ul class="uzantoj_starta_listo">
                        <li class="uzantoj_starta_listo_item">
                            <a href="/idu{{ tasko.autoro__id }}" title="{{ tasko.autoro__unua_nomo__enhavo }}{% if tasko.autoro__familinomo__enhavo %}&nbsp{{ tasko.autoro__familinomo__enhavo }}{% else %}{% endif %}">
                                <div class="uzantoj_starta_listo_item_image">
                                    {% if tasko.autoro__uzantojavataro__bildo_min %}
                                        <img src="/media/{{ tasko.autoro__uzantojavataro__bildo_min }}">
                                    {% else %}
                                        {% if tasko.autoro__sekso == 'vira' or tasko.autoro__sekso is None %}
                                            <img src="{% static 'main/images/vira-avataro-min.png' %}">
                                        {% else %}
                                            <img src="{% static 'main/images/virina-avataro-min.png' %}">
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </a>
                            <div class="uzantoj_starta_listo_item_titolo"><a href="/idu{{ tasko.autoro__id }}">{{ tasko.autoro__unua_nomo__enhavo }}{% if tasko.autoro__familinomo__enhavo %}&nbsp{{ tasko.autoro__familinomo__enhavo }}{% else %}{% endif %}</a><span class="uzantoj_starta_listo_item_ofico">{% if tasko.autoro__komunumojorganizomembro__laborarolo__nomo__enhavo %},&nbsp{{ tasko.autoro__komunumojorganizomembro__laborarolo__nomo__enhavo }}{% else %}{% endif %}</span>
                            </div>
                            <div class="uzantoj_starta_listo_item_priskribo">{{ tasko.priskribo__enhavo|safe|linebreaksbr }}
                            </div>
                        </li>
                    </ul>
                </div>
            {% endfor %}
        </div>
        <div class="uzantoj_dekstra_chefa_bloko">
            <div class="uzantoj_dekstra_bloko">
                <div class="uzantoj_dekstra_titolo">Статистика Технокома
                    {% if user.is_admin %}
                        &nbsp;<a class="fa fa-briefcase" title="Получить подробную статистику" href="{% url 'statistiko:statistiko' %}"></a>
                    {% endif %}
                </div>
                <div class="uzantoj_dekstra_unu">Всего людей</div>
                <div class="uzantoj_dekstra_du"><a href="/kmr/#tab_l2/">{{ uzanto }} человек</a></div>
                <div class="uzantoj_dekstra_unu">Всего сообществ</div>
{#                <div class="uzantoj_dekstra_du">{{ sociaprojekto|add:soveto|add:organizo|add:grupo|add:kolektivablogo }} (<a href="/socio/#tab_l1" title="{% trans 'Sociaprojektoj' %}">{{ sociaprojekto }}</a> / <a href="/socio/#tab_l2" title="{% trans 'Sovetoj' %}">{{ soveto }}</a> / <a href="/socio/#tab_l3" title="{% trans 'Organizoj' %}">{{ organizo }}</a> / <a href="/socio/#tab_l4" title="{% trans 'Grupoj' %}">{{ grupo }}</a> / {{ kolektivablogo }})</div>#}
                <div class="uzantoj_dekstra_du"><a href="/socio/#tab_l1" title="{% trans 'Ĉiuj komunumoj' %}">{{ sociaprojekto|add:soveto|add:organizo|add:grupo }}</a> (<a href="/socio/#tab_l2" title="{% trans 'Sociaprojektoj' %}">{{ sociaprojekto }}</a> / <a href="/socio/#tab_l3" title="{% trans 'Sovetoj' %}">{{ soveto }}</a> / <a href="/socio/#tab_l4" title="{% trans 'Organizoj' %}">{{ organizo }}</a> / <a href="/socio/#tab_l5" title="{% trans 'Grupoj' %}">{{ grupo }}</a>)</div>
{#                <div class="uzantoj_dekstra_unu">Всего ресурсов</div>#}
{#                <div class="uzantoj_dekstra_du">Нет данных</div>#}
{#                <div class="uzantoj_dekstra_unu">Задач в Международном плане</div>#}
{#                <div class="uzantoj_dekstra_du">Нет данных</div>#}
            </div>
            <div class="uzantoj_dekstra_bloko">
                <div class="uzantoj_dekstra_titolo">Cтатистика пользователя</div>
                <div class="uzantoj_dekstra_unu">Ваши советы</div>
                <div class="uzantoj_dekstra_du">
                {% if sovetoj %}
                    {% for soveto in sovetoj %}
                        <div class="uzantoj_enskribo_montri">
                            <div class="uzantoj_enskribo_montri_avatar">
                                <a href="{% url 'muroj:muro_soveto' soveto_id=soveto.posedanto__id %}" title="{{ soveto.posedanto__nomo__enhavo }}">
                                    {% if soveto.posedanto__komunumojsovetoavataro__bildo_min %}
                                        <img width="16" height="16" alt="{{ soveto.posedanto__nomo__enhavo }}" src="/media/{{ soveto.posedanto__komunumojsovetoavataro__bildo_min }}" />
                                    {% else %}
                                        <img width="16" height="16" alt="{{ soveto.posedanto__nomo__enhavo }}" src="{% static 'main/images/defaulte-avataro-min.jpg' %}" />
                                    {% endif %}
                                </a>
                            </div>
                            <div class="uzantoj_enskribo_montri_teksto">
                                <a href="{% url 'muroj:muro_soveto' soveto_id=soveto.posedanto__id %}">{{ soveto.posedanto__nomo__enhavo }}</a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    Нет данных
                {% endif %}
                </div>
                <div class="uzantoj_dekstra_unu">Ваши профсоюзы</div>
                <div class="uzantoj_dekstra_du">
                {% if sindikatoj %}
                    {% for sindikato in sindikatoj %}
                        <div class="uzantoj_enskribo_montri">
                            <div class="uzantoj_enskribo_montri_avatar">
                                <a href="{% url 'muroj:muro_organizo' organizo_id=sindikato.posedanto__id %}" title="{{ sindikato.posedanto__nomo__enhavo }}">
                                    {% if sindikato.posedanto__komunumojorganizoavataro__bildo_min %}
                                        <img width="16" height="16" alt="{{ sindikato.posedanto__nomo__enhavo }}" src="/media/{{ sindikato.posedanto__komunumojorganizoavataro__bildo_min }}" />
                                    {% else %}
                                        <img width="16" height="16" alt="{{ sindikato.posedanto__nomo__enhavo }}" src="{% static 'main/images/defaulte-avataro-min.jpg' %}" />
                                    {% endif %}
                                </a>
                            </div>
                            <div class="uzantoj_enskribo_montri_teksto">
                                <a href="{% url 'muroj:muro_organizo' organizo_id=sindikato.posedanto__id %}">{{ sindikato.posedanto__nomo__enhavo }}</a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    Нет данных
                {% endif %}
                </div>
                <div class="uzantoj_dekstra_unu">Ваше народное предприятие</div>
                <div class="uzantoj_dekstra_du">
                {% if chefa_organizo %}

                    <div class="uzantoj_enskribo_montri">
                        <div class="uzantoj_enskribo_montri_avatar">
                            <a href="{% url 'muroj:muro_organizo' organizo_id=chefa_organizo.posedanto__id %}" title="{{ chefa_organizo.posedanto__nomo__enhavo }}">
                                {% if chefa_organizo.posedanto__komunumojorganizoavataro__bildo_min %}
                                    <img width="16" height="16" alt="{{ chefa_organizo.posedanto__nomo__enhavo }}" src="/media/{{ chefa_organizo.posedanto__komunumojorganizoavataro__bildo_min }}" />
                                {% else %}
                                    <img width="16" height="16" alt="{{ chefa_organizo.posedanto__nomo__enhavo }}" src="{% static 'main/images/defaulte-avataro-min.jpg' %}" />
                                {% endif %}
                            </a>
                        </div>
                        <div class="uzantoj_enskribo_montri_teksto">
                            <a href="{% url 'muroj:muro_organizo' organizo_id=chefa_organizo.posedanto__id %}">{{ chefa_organizo.posedanto__nomo__enhavo }}</a>
                        </div>
                    </div>

                {% else %}
                    Нет данных
                {% endif %}
                </div>
            </div>
            <div class="uzantoj_dekstra_bloko">
                <div class="uzantoj_dekstra_titolo">Важные сообщества</div>
{#                <div class="uzantoj_dekstra_unu"></div>#}
                <div class="uzantoj_dekstra_du">
                {% if komunumoj %}
                    {% for komunumo in komunumoj %}
                        <div class="uzantoj_enskribo_montri">
                            <div class="uzantoj_enskribo_montri_avatar">
                                <a href="{{ komunumo.get_absolute_url }}" title="{{ komunumo.nomo__enhavo }}">
                                    {% if komunumo.avataro_bildo_min %}
                                        <img width="16" height="16" alt="{{ komunumo.nomo__enhavo }}" src="/media/{{ komunumo.avataro_bildo_min }}" />
                                    {% else %}
                                        <img width="16" height="16" alt="{{ komunumo.nomo__enhavo }}" src="{% static 'main/images/defaulte-avataro-min.jpg' %}" />
                                    {% endif %}
                                </a>
                            </div>
                            <div class="uzantoj_enskribo_montri_teksto">
                                <a href="{{ komunumo.get_absolute_url }}">{{ komunumo.nomo__enhavo }}</a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    Нет данных
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{#    </div>#}
{% endblock main_side %}
