{# Internacia Lingvo (Esperanto) https://tehnokom.su/il #}

{# Kopirajto © 2017 Teknokom https://tehnokom.su #}
{# Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso #}

{# Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ #}
{# kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara #}
{# Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. #}

{# La programo estas distribuata esperante, ke ĝi utilos, #}
{# Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO #}
{# POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. #}

{# Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. #}
{# Se ne, do vidu https://www.gnu.org/licenses #}

{% extends 'uzantoj/uzanto.html' %}
{% load i18n %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block css_js2 %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
    <script type="text/javascript">
        var informiloj_url = '{% url 'informiloj:informiloj' %}';
    </script>
    <script src="{% static 'informiloj/script/informiloj.js' %}"></script>
    <script src="{% static 'uzantoj/script/uzantoj_agordoj.js' %}"></script>
{% endblock css_js2 %}
{% block title %}
    {% trans 'Agordoj' %} — {{ uzanto.unua_nomo__enhavo }} {{ uzanto.familinomo__enhavo }}
{% endblock title %}
{% block uzanto_side %}

        <div class="feed-cont1">
        <div class="komunumoj_informo">
            <div class="komunumoj_informo_bloko">
                <section class="tabs">
                    <input id="tab_1" type="radio" name="tab" checked="checked" />
                    <input id="tab_2" type="radio" name="tab" />
                    <input id="tab_3" type="radio" name="tab" />
                    <label for="tab_1" id="tab_l1">{% trans 'Baza' %}</label>
                    <label for="tab_2" id="tab_l2">{% trans 'Sekureco' %}</label>
                    <label for="tab_3" id="tab_l3">{% trans 'Уведомления' %}</label>
                    <div style="clear:both"></div>
                    <div class="tabs_cont">
                        <div id="tab_c1">
                        <div class="uzantoj_agordoj_tab_bloko">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="uzantoj_agordoj_bloko_unua">
                                    <p>{{ formoj.agordoj.unua_nomo.label }}:</p>
                                    <p>{{ formoj.agordoj.unua_nomo }}</p>
                                    <small>{{ formoj.agordoj.unua_nomo.errors }}</small>
                                    <p>{{ formoj.agordoj.dua_nomo.label }}:</p>
                                    <p>{{ formoj.agordoj.dua_nomo }}</p>
                                    <small>{{ formoj.agordoj.dua_nomo.errors }}</small>
                                    <p>{{ formoj.agordoj.familinomo.label }}:</p>
                                    <p>{{ formoj.agordoj.familinomo }}</p>
                                    <small>{{ formoj.agordoj.familinomo.errors }}</small>
                                </div>
                                <div class="uzantoj_agordoj_bloko_unua">
                                    <div class="uzantoj_agordoj_bloko_statuso">
                                        <p>{{ formoj.agordoj.statuso.label }}:</p>
                                        <p>{{ formoj.agordoj.statuso }}</p>
                                        <small>{{ formoj.agordoj.statuso.errors }}</small>
                                    </div>
                                </div>
                                <div class="uzantoj_agordoj_bloko_unua">
                                    <p>{{ formoj.agordoj.naskighdato.label }}:</p>
                                    <p>{{ formoj.agordoj.naskighdato }}</p>
                                    <small>{{ formoj.agordoj.naskighdato.errors }}</small>
                                    <p>{{ formoj.agordoj.sekso.label }}:</p>
                                    <p>{{ formoj.agordoj.sekso }}</p>
                                    <small>{{ formoj.agordoj.sekso.errors }}</small>
                                </div>
                                <div class="uzantoj_agordoj_bloko_unua">
                                    <div class="uzantoj_agordoj_bloko_lando">
                                        <p>{{ formoj.agordoj.loghlando.label }}:</p>
                                        <p>{{ formoj.agordoj.loghlando }}</p>
                                        <small>{{ formoj.agordoj.loghlando.errors }}</small>
                                        <p>{{ formoj.agordoj.loghregiono.label }}:</p>
                                        <p>{{ formoj.agordoj.loghregiono }}</p>
                                        <small>{{ formoj.agordoj.loghregiono.errors }}</small>
                                    </div>
                                </div>
                                <div class="uzantoj_agordoj_bloko_unua">
                                    <div class="uzantoj_agordoj_bloko_lando">
                                        <p>{{ formoj.agordoj.entrepreno.label }}:</p>
                                        <p>{{ formoj.agordoj.entrepreno }}</p>
                                        <small>{{ formoj.agordoj.entrepreno.errors }}</small>
                                    </div>
                                </div>
                                <div class="uzantoj_agordoj_bloko_unua">
                                    <div class="uzantoj_agordoj_bloko_lando">
                                        <p>Внимание! Функционал загрузки аватар и обложек находится в процессе разработки, на текущий момент нет пользовательской обрезки исходного изображения с выбором нужной области. Сейчас изображение автоматически режется или растягивается, в результате чего может быть не очень красивый результат. Чтобы получить хороший результат, вы можете предварительно обрезать изображение под нужный размер в графическом редакторе на вашем компьютере.</p>
                                    </div>
                                </div>
                                <div class="uzantoj_agordoj_bloko_unua">
                                    <p>{% trans 'Avataro (grandeco 180x180px):' %}</p>
                                    {% if uzanto.uzantojavataro__bildo %}
                                    <img width="180" height="180" src="/media/{{ uzanto.uzantojavataro__bildo }}">
                                    {% else %}
                                        {% if uzanto.sekso == 'vira' or uzanto.sekso is None %}
                                            <img width="180" height="180" src="{% static 'main/images/vira-avataro.png' %}">
                                        {% else %}
                                            <img width="180" height="180" src="{% static 'main/images/virina-avataro.png' %}">
                                        {% endif %}
                                    {% endif %}
                                    <p>{{ formoj.agordoj.avataro_bildo }}</p>
                                    <small>{{ formoj.agordoj.avataro_bildo.errors }}</small>
                                    <p>{% trans 'Kovrilo (grandeco 820x200px):' %}</p>
                                    {% if uzanto.uzantojkovrilo__bildo %}
                                    <img width="798" class="uzantoj_kovrilo_bildo" src="/media/{{ uzanto.uzantojkovrilo__bildo }}">
                                    {% else %}
                                    <img width="798" height="200" class="uzantoj_kovrilo_bildo" src="{%  static 'main/images/defaulte-kovrilo.jpg' %}">
                                    {% endif %}
                                    <p>{{ formoj.agordoj.kovrilo_bildo }}</p>
                                    <small>{{ formoj.agordoj.kovrilo_bildo.errors }}</small>
                                </div>
                                <div class="registrado_blok_submit">
                                    <button class="submit" id="registrado_selection_submit">{% trans 'Konservi agordojn' %}</button>
                                </div>
                            </form>
                        </div>
                        </div>
                        <div id="tab_c2">
                            <form method="POST">
                                {% csrf_token %}
                                {{ formoj.sekureco.id }}
                                <div class="uzantoj_agordoj_tab_bloko">
                                    <div class="uzantoj_agordoj_bloko_unua">
                                        <p>{{ formoj.sekureco.password1.label }}:</p>
                                        <p>{{ formoj.sekureco.password1 }}</p>
                                        <small>{{ formoj.sekureco.password1.errors }}</small>
                                        <p>{{ formoj.sekureco.password2.label }}:</p>
                                        <p>{{ formoj.sekureco.password2 }}</p>
                                        <small>{{ formoj.sekureco.password2.errors }}</small>
                                    </div>
                                    <div class="uzantoj_agordoj_bloko_unua">
                                        <p>{% trans 'Ĉhefa retpoŝto:' %}</p>
                                        <p>
                                            <button id="changeMail" type="button" class="btn btn-primary" data-toggle="modal"
                                                    data-target="#chefaRetposhtoFormo"
                                                    title="{% trans 'Изменить адрес электронной почты' %}">
                                                {{ user.chefa_retposhto }}
                                            </button>
                                        </p>
                                        <p>{% trans 'Ĉhefa telefonanumero:' %}</p>
                                        <p>{{ formoj.sekureco.chefa_telefonanumero }}</p>
                                        <small>{{ formoj.sekureco.chefa_telefonanumero.errors }}</small>
                                    </div>
                                    <div class="registrado_blok_submit">
                                        <button class="submit" id="registrado_selection_submit">{% trans 'Konservi agordojn' %}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="tab_c3">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="uzantoj_agordoj_tab_bloko">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            {% trans 'Включить почтовую рассылку' %}
                                            <div class="material-switch pull-right">
                                                <input id="sciigoj" name="sciigoj" type="checkbox" {% if user.agordoj.abono_shlosilo %}checked{% endif %} />
                                                <label for="sciigoj" class="text-success"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="registrado_blok_submit">
                                        <button class="submit" id="registrado_selection_submit">{% trans 'Konservi agordojn' %}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- Форма смены Email -->
    <div class="modal fade" id="chefaRetposhtoFormo" tabindex="-1" role="dialog"
         aria-labelledby="chefaRetposhtoFormoTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="chefaRetposhtoFormoTitle">{% trans 'Изменение адреса электронной почты' %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="retposhtoSlider" class="carousel slide" data-ride="carousel" data-interval="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <!-- Фрейм ввода email -->
                                <div class="input-group input-group-lg">
                                    <input id="newMail" type="email" class="form-control text-center" placeholder="{% trans 'Новый адрес email' %}"
                                        aria-label="{% trans 'Новый адрес email' %}" aria-describedby="basic-addon2"
                                        data-placement="bottom">
                                    <div class="input-group-append">
                                        <button id="checkMail" class="btn btn-outline-primary" type="button">{% trans 'Проверить' %}</button>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <!-- Фрейм ввода кода подтверждения -->
                                <div class="row">
                                    <div class="input-group input-group-lg col-md-7 mx-auto">
                                        <input id="confirmCode" type="text" class="form-control text-center" maxlength="8"
                                            placeholder="{% trans 'Код' %}" aria-label="{% trans 'Код' %}"
                                            data-content-origin="{% trans 'На новый адрес электронной почты отправлен код подтверждения. Для завершения действия введите код в это поле.' %}"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button id="сonfirmBtn" class="btn btn-outline-success" type="button">
                                                {% trans 'Подтвердить' %}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <!-- Фрейм ввода кода подтверждения -->
                                <div class="row">
                                    <div class="col-lg-3 mx-auto text-center">
                                        <span class="fa fa-check-circle" style="font-size: 39px; color: #00A000"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Отменить' %}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock uzanto_side %}