{# Internacia Lingvo (Esperanto) https://tehnokom.su/il #}

{# Kopirajto © 2017 Teknokom https://tehnokom.su #}
{# Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso #}

{# Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ #}
{# kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara #}
{# Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. #}

{# La programo estas distribuata esperante, ke ĝi utilos, #}
{# Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO #}
{# POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. #}

{# Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. #}
{# Se ne, do vidu https://www.gnu.org/licenses #}

{% extends "main/bazo.html" %}
{% load i18n %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block css_js %}
    {% if user.is_authenticated %}
        <script type="text/javascript">
            var gekamarado_url = '{% url 'uzantoj:uzantoj_kamaradoj' %}';
        </script>
        <script src="{% static 'uzantoj/script/uzantoj.js' %}"></script>
    {% endif %}
    {% block css_js2 %}
    {% endblock css_js2 %}
{% endblock css_js %}
{% block title %}
    {{ uzanto.unua_nomo__enhavo }}{% if uzanto.familinomo__enhavo %}&nbsp{{ uzanto.familinomo__enhavo }}{% else %}{% endif %}
{% endblock title %}
{% block main_side %}
        <div class="uzantoj_kovrilo uzanto_datumoj" data-uzanto_uuid="{{ uzanto.uuid }}">
            {% if uzanto.uzantojkovrilo__bildo %}
                <img class="uzantoj_kovrilo_bildo" src="/media/{{ uzanto.uzantojkovrilo__bildo }}">
            {% else %}
                <img class="uzantoj_kovrilo_bildo" src="{% static 'main/images/defaulte-kovrilo.jpg' %}">
            {% endif %}
            <div class="uzantoj_title-bl">
                <h2 class="uzantoj_title">{{ uzanto.unua_nomo__enhavo }}
                    {% if uzanto.familinomo__enhavo %}
                        {{ uzanto.familinomo__enhavo }}
                    {% else %}
                        &nbsp
                    {% endif %}
                </h2>
                <h2 class="uzantoj_pod-title">
                    {% if uzanto.uzantojstatuso__teksto__enhavo %}
                        {{ uzanto.uzantojstatuso__teksto__enhavo }}
                    {% else %}
                        <span>{% trans 'La vivo estas bela!' %}</span>
                    {% endif %}
                    </h2>
                {% if uzanto.uuid != a_uzanto.uuid %}
                    <a href="javascript:void(0)">
                    {%  if mia_kamarado %}
                        <div class="uzanto_kamarado">{% trans 'Via gekamarado' %}</div>
                    {% elif petis %}
                        <div class="uzanto_kandidato">{% trans 'Заявка отправлена' %}</div>
                        <div class="uzantoj_joining hidden-element">{% trans 'Добавить в товарищи' %}</div>
                    {% elif kandidato %}
                        <div class="uzanto_kandidato">{% trans 'Кандидат в товарищи' %}</div>
                        <div class="uzanto_kamarado hidden-element">{% trans 'Via gekamarado' %}</div>
                    {% else  %}
                        <div class="uzanto_kandidato {% if not petis %}hidden-element{% endif %}">{% trans 'Заявка отправлена' %}</div>
                        <div class="uzantoj_joining {% if petis %}hidden-element{% endif %}">{% trans 'Добавить в товарищи' %}</div>
                    {% endif %}
                    </a>
                {% else %}
                    <a href="javascript:void(0)">
                        <div class="uzantoj_kandidatoj {% if not kandidatoj %}hidden-element{% endif %}" data-open-popup="kandidatoj_listo">
                            {% trans 'Заявки в товарищи:' %} <span id="kandidatoj_tuta">{{ kandidatoj|length }}</span>
                        </div>
                        <div class="uzantoj_malplena {% if kandidatoj %}hidden-element{% endif %}">{% trans 'Нет заявок' %}</div>
                    </a>
                    <div class="kandidatoj_listo s_popup" data-id="kandidatoj_listo" data-close="1">
                        <div class="container">
                            <ul>
                                {% for kandidato in kandidatoj %}
                                    <li>
                                        <div>
                                            <a href="{% url "muroj:muro_uzanto" uzanto_id=kandidato.posedanto_id %}" title="{{ kandidato.posedanto__unua_nomo__enhavo }} {{ kandidato.posedanto__familinomo__enhavo }}">
                                                {% if kandidato.posedanto__uzantojavataro__bildo_min %}
                                                <img src="/media/{{ kandidato.posedanto__uzantojavataro__bildo_min }}" width="48px">
                                                {% else %}
                                                    {% if uzanto.sekso == 'vira' or uzanto.sekso is None %}
                                                <img class="" src="{% static 'main/images/vira-avataro-min.png' %}" width="48px">
                                                    {% elif uzanto.posedanto__sekso == 'virina' %}
                                                <img class="" src="{% static 'main/images/virina-avataro-min.png' %}" width="48px">
                                                    {% endif %}
                                                {% endif %}
                                            </a>
                                        </div>
                                        <div>
                                            <div style="height: 25px;">
                                                <a href="{% url "muroj:muro_uzanto" uzanto_id=kandidato.posedanto_id %}">
                                                    {{ kandidato.posedanto__unua_nomo__enhavo }} {{ kandidato.posedanto__familinomo__enhavo }}
                                                </a>
                                            </div>
                                            <div style="height: 25px;" data-uzanto_uuid="{{ kandidato.posedanto__uuid }}">
                                                <a href="javascript:void(0)" class="uzantoj_joining small_teksto">
                                                    {% trans 'Принять' %}
                                                </a>
                                                <a href="javascript:void(0)" class="uzanto_kandidato small_teksto" data-ago="neita">
                                                    {% trans 'Отклонить' %}
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
                {% if request.user.id != uzanto.id %}
                    <a href="/im/direct/{{ uzanto.id }}" target="_blank" class="uzanto_mesago"><div>{% trans 'Написать сообщение' %}</div></a>
                {% endif %}
            </div>
            <div class="uzantoj_shadow-cov-field">
                <div class="uzantoj_avatar">
                    {% if uzanto.uzantojavataro__bildo %}
                        <img src="/media/{{ uzanto.uzantojavataro__bildo }}">
                    {% else %}
                        {% if uzanto.sekso == 'vira' or uzanto.sekso is None %}
                            <img class="in-ava" src="{% static 'main/images/vira-avataro.png' %}">
                        {% else %}
                            <img class="in-ava" src="{% static 'main/images/virina-avataro.png' %}">
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="alert alert-warning" role="alert">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          В функционале пользователя Технокома на ближайшее время запланировано добавить: более обширную систему настроек, разделы "Дела" и "Здоровье".
        </div>
    {% block uzanto_side %}
    {% endblock uzanto_side %}
{% endblock main_side %}
