{% load i18n %}
{% load static %}
{% for rekordo in rekordoj %}
    <ul class="komunumoj_socio_listo">
        <li class="komunumoj_socio_listo_item">
            <a href="/idu{{ rekordo.id }}" title="{{ rekordo.unua_nomo.enhavo }} {{ rekordo.familinomo.enhavo }}">
                <div class="komunumoj_socio_listo_item_image">
                    {% if rekordo.uzantojavataro__bildo_min %}
                        <img width="50" height="50" src="{% get_media_prefix %}{{ rekordo.uzantojavataro__bildo_min }}">
                    {% else %}
                        {% if rekordo.sekso == 'vira' or rekordo.sekso is None %}
                            <img width="50" height="50" src="{% static 'main/images/vira-avataro-min.png' %}">
                        {% else %}
                            <img width="50" height="50" src="{% static 'main/images/virina-avataro-min.png' %}">
                        {% endif %}
                    {% endif %}
                </div>
            </a>
            <a href="/idu{{ rekordo.id }}">
                <div class="komunumoj_socio_listo_item_titolo">{{ rekordo.unua_nomo.enhavo }}
                    {% if rekordo.familinomo.enhavo %}
                        {{ rekordo.familinomo.enhavo }}
                    {% else %}
                        &nbsp
                    {% endif %}
                </div>
            </a>
            <div class="komunumoj_socio_listo_item_priskribo">
                {% if rekordo.uzantojstatuso__teksto__enhavo %}
                    {{ rekordo.uzantojstatuso__teksto__enhavo }}
                {% else %}
                    <span>{% trans 'La vivo estas bela!' %}</span>
                {% endif %}
            </div>

        </li>
    </ul>
{% endfor %}