{# Internacia Lingvo (Esperanto) https://tehnokom.su/il #}

{# Kopirajto © 2017 Teknokom https://tehnokom.su #}
{# Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso #}

{# Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ #}
{# kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara #}
{# Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. #}

{# La programo estas distribuata esperante, ke ĝi utilos, #}
{# Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO #}
{# POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. #}

{# Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. #}
{# Se ne, do vidu https://www.gnu.org/licenses #}

{% load i18n %}
<nav>
    <div class="uzantoj_btn-cont">
        <a href="/idu{{ uzanto.id }}" {% if chefa %}class="btn btn-primary"{% else %}class="btn btn-outline-primary"{% endif %} role="button">{% trans 'Ĉefa' %}</a>
        <a href="/infu{{ uzanto.id }}" {% if informo %}class="btn btn-primary"{% else %}class="btn btn-outline-primary"{% endif %} role="button">{% trans 'Informo' %}</a>
        <a href="/tenu{{ uzanto.id }}" {% if tenejo %}class="btn btn-primary"{% else %}class="btn btn-outline-primary"{% endif %} role="button">{% trans 'Tenejo' %}</a>
        <a href="/tasu{{ uzanto.id }}" {% if taskoj %}class="btn btn-primary"{% else %}class="btn btn-outline-primary"{% endif %} role="button">{% trans 'Taskoj' %}</a>
        <a href="/resu{{ uzanto.id }}" {% if resursoj %}class="btn btn-primary"{% else %}class="btn btn-outline-primary"{% endif %} role="button">{% trans 'Resursoj' %}</a>
    </div>
</nav>