{% extends 'main/emails/poshto.html' %}
{% load static %}
{% load i18n %}
{% block style %}
    <style type="text/css">
        #forumo-komento {
            width: 96%;
            margin: 10px;
            border-collapse: collapse;
            border: 1px solid #CCCCCC;
        }

        #forumo-komento-titolo {
            padding: 5px;
            background: #CCCCCC;
            font-size: 13px;
        }

        #forumo-komento-teksto {
            padding: 10px;
            text-align: justify-all;
            background: #FFFFFF;
            font-size: 14px;
        }

        #forumo-komento-teksto blockquote {
            padding: 10px 8px 5px 20px;
            border-left: 5px solid #ccc;
            font-style: italic;
            margin-left: 0;
            font-family: Georgia, Times, "Times New Roman", serif;
        }
    </style>
{% endblock style %}
{% block title %}{{ titolo }}{% endblock title %}
{% block subject %}
    {{ titolo }}
{% endblock subject %}
{% block content %}
    {% trans 'Для просмотра данного комментария на форуме нужно воспользоваться ссылкой' %} <a href="{{ komento_url }}">{{ komento_url }}</a>
    <table id="forumo-komento">
        <tbody>
            <tr>
                <td id="forumo-komento-titolo">{% trans 'Uzanto' %} <strong>{{ autoro }}</strong> {{ dato }} {% trans 'skribis:' %}</td>
            </tr>
            <tr>
                <td id="forumo-komento-teksto">
                    {{ teksto|safe }}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock content %}