{% load i18n %}
{% load static %}
{% load embed_video_tags %}
{% load readmore %}

{% for enskribo in enskriboj %}
    <div class="t_bazo_bloko" data-enskribo_id="{{ enskribo.uuid }}" data-kom_tipo="{{ enskribo.kom_tipo }}">
        <ul class="t_bazo_bloko_listo">
            <li class="t_bazo_bloko_listo_item">
                <a href="{{ enskribo.posedanto.get_absolute_url }}" title="{{ enskribo.posedanto_nomo_enhavo }}">
                    <div class="t_bazo_bloko_listo_item_image">
                        {% if enskribo.avataro_bildo_min %}
                            <img src="/media/{{ enskribo.avataro_bildo_min }}" width="50px">
                        {% else %}
                             <img src="{% static 'main/images/defaulte-avataro-min.jpg' %}" width="50px" />
                        {% endif %}
                    </div>
                </a>
                <div class="t_bazo_bloko_listo_item_titolo"><a href="{{ enskribo.posedanto.get_absolute_url }}">{{ enskribo.posedanto_nomo_enhavo }}</a>
                    <div class="t_bazo_bloko_listo_item_dato"><a href="{{ enskribo.get_absolute_url }}">{{ enskribo.publikiga_dato }}</a></div>
                </div>
            </li>
        </ul>
        <div class="t_bazo_bloko_listo_item_priskribo_tasko">{{ enskribo.teksto_enhavo|readmore:30|linebreaksbr|urlize }}
        </div>
        {% if enskribo.bildo %}
            <div class="t_bazo_bloko_listo_item_bildo">
                <img src="/media/{{ enskribo.bildo }}">
            </div>
        {% elif enskribo.video %}
            <div class="t_bazo_bloko_listo_item_video">
                {% video enskribo.video '100%x100%' is_secure=True %}
            </div>
        {% endif %}
        {% if enskribo.autoro_montri %}
            <div class="t_bazo_bloko_mini">
                <div class="t_bazo_bloko_mini_avataro">
                    <a href="{{ enskribo.autoro.get_absolute_url }}" title="{{ enskribo.autoro_unua_nomo_enhavo }} {{ enskribo.autoro_familinomo_enhavo }}">
                        {% if enskribo.avataro_uzanto_bildo_min %}
                            <img width="16" height="16" alt="{{ enskribo.autoro_unua_nomo_enhavo }} {{ enskribo.autoro_familinomo_enhavo }}"
                                src="/media/{{ enskribo.avataro_uzanto_bildo_min }}" />
                        {% else %}
                            {% if enskribo.autoro_sekso == 'vira' or enskribo.autoro_sekso is None %}
                                <img width="16" height="16" alt="{{ enskribo.autoro_unua_nomo_enhavo }} {{ enskribo.autoro_familinomo_enhavo }}"
                                src="{% static 'main/images/vira-avataro-min.png' %}" />
                            {% else %}
                                <img width="16" height="16" alt="{{ enskribo.autoro_unua_nomo_enhavo }} {{ enskribo.autoro_familinomo_enhavo }}"
                                    src="{% static 'main/images/virina-avataro-min.png' %}" />
                            {% endif %}
                        {% endif %}
                    </a>
                </div>
                <div class="t_bazo_bloko_mini_teksto">
                    <a href="{{ enskribo.autoro.get_absolute_url }}" title="{{ enskribo.autoro_unua_nomo_enhavo }} {{ enskribo.autoro_familinomo_enhavo }}">
                        {{ enskribo.autoro_unua_nomo_enhavo }} {{ enskribo.autoro_familinomo_enhavo }}
                    </a>
                </div>
            </div>
        {% endif %}
        <div class="t_bazo_bloko_listo_item_panelo">
            <div class="t_bazo_bloko_listo_item_panelo_komenti {% if unu %}aldonu-komento{% endif %}">
                <div class="t_bazo_bloko_listo_item_panelo_komenti_bildo">
    {#                <a {% if unu %}href="javascript:void(0)" class="aldonu-komento"{% else %}href="{% url 'muroj:muro_grupo_unu' grupo_id=grupo.id enskribo_id=enskribo.id %}"{% endif %}>#}
                    <a href="{{ enskribo.get_absolute_url }}">
                        <img src="{% static 'muroj/images/komenti.png' %}" class="" width="16" height="16"/>
                    </a>
                </div>
                <div class="t_bazo_bloko_listo_item_panelo_komenti_teksto">
    {#                <a {% if unu %}href="javascript:void(0)" class="aldonu-komento tuta"{% else %}href="{% url 'muroj:muro_grupo_unu' grupo_id=grupo.id enskribo_id=enskribo.id %}"{% endif %}>#}
                    <a href="{{ enskribo.get_absolute_url }}">
                        {% if unu %}{{ enskribo.komentoj|length }}{% else %}{{ enskribo.komentoj_tuta|default:0 }}{% endif %}
                    </a>
                </div>
            </div>
            <div class="t_bazo_bloko_listo_item_panelo_interese interese">
                <div class="t_bazo_bloko_listo_item_panelo_interese_bildo">
                    <a href="javascript:void(0)">
                        <img src="{% if enskribo.uzanto_interese %}{% static 'muroj/images/interese_on.png' %}{% else %}{% static 'muroj/images/interese.png' %}{% endif %}" class="" width="18" height="18"/>
                    </a>
                </div>
                <div class="t_bazo_bloko_listo_item_panelo_interese_teksto">
                    <a href="javascript:void(0)">Интересно
                        <span class="interese-tuta">
                            {% if enskribo.interese_tuta %}{{ enskribo.interese_tuta }}{% endif %}
                        </span>
                    </a>
                </div>
            </div>
            <div class="t_bazo_bloko_listo_item_panelo_teleporti">
                <div class="t_bazo_bloko_listo_item_panelo_teleporti_bildo">
                    <a href="javascript:void(0)" title="Телепортация записей отключена">
                        <img src="{% static 'muroj/images/teleporti.png' %}" class="" width="21" height="16"/></a>
                </div>
                <div class="t_bazo_bloko_listo_item_panelo_teleporti_teksto">
                    <a href="javascript:void(0)" title="Телепортация записей отключена">0</a>
                </div>
            </div>
        </div>
    {#    {% for komento in enskribo.komentoj %}#}
    {#        {% include 'novayoj/novayoj_komento.html' %}#}
    {#    {% endfor %}#}
    {#    {% if user.is_authenticated and unu %}#}
    {#        <form method="POST" class="komento-formo formo-open">#}
    {#            <input type="hidden" name="enskribo" value="{{ enskribo.uuid }}">#}
    {#            <div class="muroj_komento_bloko">#}
    {#                <div class="muroj_komento_avatar">#}
    {#                    <a href="/idu{{ komento.autoro_id }}" title="{{ komento.autoro__unua_nomo__enhavo }} {{ komento.autoro__familinomo__enhavo }}">#}
    {#                    {% if a_uzanto.uzantojavataro__bildo_min %}#}
    {#                        <img width="36" height="36" src="/media/{{ a_uzanto.uzantojavataro__bildo_min }}">#}
    {#                    {% else %}#}
    {#                        {% if a_uzanto.autoro__sekso == 'vira' or a_uzanto.autoro__sekso is None %}#}
    {#                            <img width="36" height="36" src="{% static 'main/images/vira-avataro-min.png' %}">#}
    {#                        {% else %}#}
    {#                            <img width="36" height="36" src="{% static 'main/images/virina-avataro-min.png' %}">#}
    {#                        {% endif %}#}
    {#                    {% endif %}#}
    {#                    </a>#}
    {#                </div>#}
    {#                <div class="muroj_komento_enhavo">#}
    {#                    <input type="hidden" name="ago" value="komento"/>#}
    {#                    <div class="muroj_komento_teksto">{{ formoj.komento_formo.teksto_formo }}</div>#}
    {#                    <div class="muroj_komento_butono">#}
    {#                    <button class="submit">{% trans 'Publikigi' %}</button>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </form>#}
    {#    {% else %}#}
    {#        <div class="komento-formo averto_bloko">#}
    {#            <span>{% trans 'Por komenti, vi devas' %} <a href="{% url 'registrado:ensaluti' %}">{% trans 'ensaluti' %}</a> {% trans 'aŭ' %} <a href="{% url "registrado:registrado" %}">{% trans 'registriĝi' %}</a>.#}
    {#            </span>#}
    {#        </div>#}
    {#    {% endif %}#}
    </div>
{% endfor %}