{% extends 'main/emails/poshto.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Код подтверждения действия на Техноком' %}{% endblock title %}
{% block subject %}
    {% trans 'Код подтверждения действия на Техноком' %}
{% endblock subject %}
{% block content %}
    <p>
        {% if poshto %}
            {% trans 'Код подтверждения действия по изменению Вашего адреса электронной почты' %}:
        {% else %}
            {% trans 'Код подтверждения действия по изменению Вашего номера телефона' %}:
        {% endif %}
    </p>
    <h2>{{ confirmcode }}</h2>
{% endblock content %}