/* Internacia Lingvo (Esperanto) https://tehnokom.su/il */

/* Kopirajto © 2017 Teknokom https://tehnokom.su */
/* Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso */

/* Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ */
/* kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara */
/* Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. */

/* La programo estas distribuata esperante, ke ĝi utilos, */
/* Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO */
/* POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. */

/* Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. */
/* Se ne, do vidu https://www.gnu.org/licenses */


.taskoj_chiuj{
	width: 818px;
	border-radius: 5px;
	height: auto;
	border: 1px solid #DFDFDF;
	margin-top: 10px;
	display: inline-block;
}

.taskoj_chiuj_bloko{
	padding: 0 10px 0 10px;
}

.taskoj_listo{
	display: block;
	position: relative;
	list-style-type: none;
	padding: 0;
    border-top: 1px solid rgba(204, 204, 204, 0.6);
    padding-top: 5px;
}

.taskoj_listo:first-child{
    border-top: 0;
}

.taskoj_listo_item_ofico{
	color: #555555;
	text-transform: lowercase;
}

.taskoj_listo_item{ display: block; position: relative; min-height: 50px; margin-top: 10px; padding-left: 60px;  }

.taskoj_listo_item_image { display: block; position: absolute; top: 0; left: 0; width: 50px; height: 50px; border: 1px solid rgba(0,0,0,0.2); border-radius: 50%; }

.taskoj_listo_item_image > img { vertical-align: middle; width: 100%; height: 100%; border-radius: 50%; }

.taskoj_listo_item_titolo { margin-bottom: 7px;}

.taskoj_informo_teksto{
    width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.komunumoj_informo_teksto a {
	font-weight: normal;
}