{# Internacia Lingvo (Esperanto) https://tehnokom.su/il #}

{# Kopirajto © 2017 Teknokom https://tehnokom.su #}
{# Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso #}

{# Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ #}
{# kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara #}
{# Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. #}

{# La programo estas distribuata esperante, ke ĝi utilos, #}
{# Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO #}
{# POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. #}

{# Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. #}
{# Se ne, do vidu https://www.gnu.org/licenses #}

{% extends "main/bazo.html" %}
{% load i18n %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block css_js %}
    <link href="{% static 'enhavo/style/enhavo.css' %}" rel="stylesheet">
{% endblock css_js %}
{% block title %}
    {{ enhavo.nomo }}
{% endblock title %}
{% block main_side %}
    <div class="feed-cont1">
    <div class="enhavo_informo">


<div class="enhavo_bloko">
    <div class="enhavo_teksto">
        <div class="enhavo_teksto_titolo">
            <div>{{ enhavo.nomo }}</div>
        </div>
        <div>
            <div>{{ enhavo.teksto|safe }}</div>
        </div>
    </div>
</div>


    </div>
    </div>
{% endblock main_side %}