{# Internacia Lingvo (Esperanto) https://tehnokom.su/il #}

{# Kopirajto © 2017 Teknokom https://tehnokom.su #}
{# Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso #}

{# Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ #}
{# kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara #}
{# Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. #}

{# La programo estas distribuata esperante, ke ĝi utilos, #}
{# Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO #}
{# POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. #}

{# Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. #}
{# Se ne, do vidu https://www.gnu.org/licenses #}

{% extends "main/portebla/t_bazo.html" %}
{% load i18n %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block css_js %}

{% endblock css_js %}
{% block title %}
    {% trans 'Premioj' %}
{% endblock title %}
{% block t_main %}
    <div class="t_bazo_chiuj">
        <div class="t_bazo_bloko_kvar">
            <section class="t_tabs">
                <div class="t_tabs_bloko">
                    <input id="t_tab_1" type="radio" name="t_tab" checked="checked" />
                    <input id="t_tab_2" type="radio" name="t_tab" />
                    <label for="t_tab_1" id="t_tab_l1">{% trans 'Ваши награды' %}</label>
                    <label for="t_tab_2" id="t_tab_l2">{% trans 'Ближайшие награды' %}</label>

                    <div style="clear:both"></div>

                    <div class="t_tabs_cont">
                        <div id="t_tab_c1">
                            {#  Проверка есть ли награды  #}
                            {% if premioj %}
                                {#  Если есть, то выбрать их из цикла и вывести  #}
                                {% for premio in premioj %}
                                    <ul class="t_bazo_bloko_listo">
                                        <li class="t_bazo_bloko_listo_item">
    {#                                        <a href="#">#}
                                                <div class="t_bazo_bloko_listo_item_image">
                                                {% if premio.premio__bildo_min %}
                                                    <img src="/media/{{ premio.premio__bildo_min }}">
                                                {% else %}
                                                    <img src="{% static 'main/images/defaulte-avataro.jpg' %}">
                                                {% endif %}
                                                </div>
    {#                                        </a>#}
                                            <div class="t_bazo_bloko_listo_item_titolo">
    {#                                            <a href="#">#}
                                                    {{ premio.premio__speco__nomo__enhavo }}
    {#                                            </a>#}
                                                <div class="t_bazo_bloko_listo_item_priskribo">{{ premio.premio__tipo__nomo__enhavo }} (cтепень - {{ premio.premio__grado__grado }})</div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="t_bazo_bloko_listo_item_grado"><img src="/media/{{ premio.premio__bildo_info }}"></div>
                                {% endfor %}
                            {#  Если нет, то вывести специальное уведомление  #}
                            {% else %}
                                <div class="t_bazo_bloko_no">
                                    <div class="t_bazo_informa_mesaxo_tri">{% blocktrans %}У вас пока нет наград, но они обязательно появятся позже, по мере развития функционала Международной системы наград Технокома и вашей активности.{% endblocktrans %}</div>
                                </div>
                            {% endif %}
                        </div>
                        <div id="t_tab_c2">
                            <div class="t_bazo_bloko_no">
                                <div class="t_bazo_informa_mesaxo_tri">{% blocktrans %}Информации о ближайших наградах пока нет, но она обязательно появятся позже, по мере развития функционала Международной системы наград Технокома и вашей активности.{% endblocktrans %}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

{#  Срипт добавления якоря ко вкладкам  #}
<script type="text/javascript">
    $(function(){
        if($('.t_tabs > label[for]').length > 0){
            var
                hash = window.location.hash,
                hash = (hash.indexOf('/') != -1) ? hash.slice(0, hash.indexOf('/')) : hash;
            $('.t_tabs > label[for]').each(function(){
                var
                    $e = $(this),
                        id = '#' + $e.attr('id');

                //Меняет якорь при клике на вкладку
                $e.click(function(e){
                    window.location.hash = id;
                });

                //Показывает вкладку в соответствии с якорем
                if(hash == id)
                    $e.click();
            });
        }
    });
</script>

{% endblock t_main %}
