{# Internacia Lingvo (Esperanto) https://tehnokom.su/il #}

{# Kopirajto © 2017 Teknokom https://tehnokom.su #}
{# Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso #}

{# Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ #}
{# kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara #}
{# Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. #}

{# La programo estas distribuata esperante, ke ĝi utilos, #}
{# Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO #}
{# POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. #}

{# Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. #}
{# Se ne, do vidu https://www.gnu.org/licenses #}

{% extends 'komunumoj/soveto.html' %}
{% load i18n %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block css_js2 %}
    <link href="{% static 'forumoj/style/forumoj.css' %}" rel="stylesheet">
{% endblock css_js2 %}
{% block title %}
    {% trans 'Kreado de nova kategorio' %} — {{ komunumo.nomo__enhavo }}
{% endblock title %}
{% block komunumo_side %}
    {% block menuo %}
        {% include 'komunumoj/komunumoj_soveto_menuo.html' with forumo=True %}
    {% endblock menuo %}
    <div class="forumoj_chiuj">
        <div class="forumoj_adreso_bloko">
            <div class="forumoj_adreso_bloko_vorto">
                <a href="{% url 'forumoj:forumoj_kategorio_listo' kom_tipo=kom_tipo kom_id=komunumo.id %}">
                    {% trans 'Forumo de Soveto' %}
                </a>&nbsp>
                <span class="forumoj_teksta_butono">{% trans 'Kreado de nova kategorio' %}</span>

            </div>
        </div>
    </div>
    <div class="forumoj_chiuj">
    <div class="forumoj_chiuj_bloko">


        <form method="POST" class="kategorio-formo" action="{% url 'forumoj:forumoj_novakategorio' kom_tipo=kom_tipo kom_id=komunumo.id %}">
        {% csrf_token %}
        <input name="posedanto" id="id_posedanto" value="{{ komunumo.uuid }}" type="hidden" >
        <input name="autoro" id="id_autoro" value="{{ user.id }}" type="hidden" >
        <ul class="forumoj_listo">
            <li class="forumoj_listo_item">
                <a href="{% url 'muroj:muro_uzanto' uzanto_id=a_uzanto.id %}" title="{{ a_uzanto.unua_nomo__enhavo }} {{ a_uzanto.familinomo__enhavo }}">
                    <div class="forumoj_listo_item_image">
                        {% if a_uzanto.uzantojavataro__bildo_min %}
                            <img src="/media/{{ a_uzanto.uzantojavataro__bildo_min }}">
                        {% else %}
                            {% if a_uzanto.autoro__sekso == 'vira' or a_uzanto.autoro__sekso is None %}
                                <img src="{% static 'main/images/vira-avataro-min.png' %}">
                            {% else %}
                                <img src="{% static 'main/images/virina-avataro-min.png' %}">
                            {% endif %}
                        {% endif %}
                    </div>
                </a>
                <div class="forumoj_listo_item_teksto">
                <div class="forumoj_komento_enhavo">
                    <input type="hidden" name="ago" value="kategorio"/>
                    <div class="forumoj_komento_teksto">
                        {% if formo.non_field_errors %}
                        <ul>
                            {% for error in formo.non_field_errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <p class="forumoj_katigorio_nomo">{{ formo.nomo }}</p>
                        <small>{{ formo.nomo.errors }}</small>
                        <p>{{ formo.priskribo }}</p>
                        <small>{{ formo.priskribo.errors }}</small>
                        <p>{% trans 'Tipo' %} {{ formo.tipo }}&nbsp;&nbsp;&nbsp;{% trans 'Aliro' %} {{ formo.aliro }}</p>
                    </div>
                    <div class="forumoj_komento_butono">
                    <button class="submit">{% trans 'Publikigi' %}</button>
                    </div>
                </div>
                </div>

            </li>
        </ul>
        </form>


    </div>
    </div>
{% endblock komunumo_side %}
