{# Internacia Lingvo (Esperanto) https://tehnokom.su/il #}

{# Kopirajto © 2017 Teknokom https://tehnokom.su #}
{# Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso #}

{# Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ #}
{# kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara #}
{# Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. #}

{# La programo estas distribuata esperante, ke ĝi utilos, #}
{# Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO #}
{# POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. #}

{# Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. #}
{# Se ne, do vidu https://www.gnu.org/licenses #}

{% extends 'komunumoj/soveto.html' %}
{% load i18n %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block css_js2 %}
    <script type="text/javascript" src="{% static 'main/script/moment-with-locales.min.js' %}"></script>
    <link href="{% static 'forumoj/style/forumoj.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
    <script type="text/javascript">
        let l10n = {kom_forigi: '{% trans 'Ĉu vi volas forigi ĉi tiun komenton?' %}'};
    </script>
    <script src="{% static 'forumoj/script/forumoj.js' %}"></script>
{% endblock css_js2 %}
{% block title %}
        {{ temo.nomo__enhavo }} — {{ komunumo.nomo__enhavo }}
{% endblock title %}
{% block komunumo_side %}
    {% block menuo %}
        {% include 'komunumoj/komunumoj_soveto_menuo.html' with forumo=True %}
    {% endblock menuo %}

    {% include "forumoj/forumoj_temo.html" %}

    <div class="forumoj_chiuj">
    <div class="forumoj_chiuj_bloko">
    {% if user.is_authenticated %}
        <form method="POST" class="komento-formo">
        {{ formoj.komento_formo.media }}
        <ul class="forumoj_listo">
            <li class="forumoj_listo_item">
                <a href="/idu{{ komento.autoro_id }}" title="{{ komento.autoro__unua_nomo__enhavo }} {{ komento.autoro__familinomo__enhavo }}">
                    <div class="forumoj_listo_item_image">
                        {% if a_uzanto.uzantojavataro__bildo_min %}
                            <img src="/media/{{ a_uzanto.uzantojavataro__bildo_min }}">
                        {% else %}
                            {% if a_uzanto.autoro__sekso == 'vira' or a_uzanto.autoro__sekso is None %}
                                <img src="{% static 'main/images/vira-avataro-min.png' %}">
                            {% else %}
                                <img src="{% static 'main/images/virina-avataro-min.png' %}">
                            {% endif %}
                        {% endif %}
                    </div>
                </a>
                <div class="forumoj_listo_item_teksto">
                <div class="forumoj_komento_enhavo">
                    <input type="hidden" name="ago" value="komento"/>
                    <input type="hidden" name="temo" value="{{ temo.uuid }}">
                    <div class="forumoj_komento_teksto">{{ formoj.komento_formo.teksto_formo }}</div>
                    <div class="forumoj_komento_butono">
                        <button type="submit" class="btn btn-primary">{% trans 'Publikigi' %}</button>
                        <button type="reset" class="btn btn-secondary">{% trans 'Nuligi' %}</button>
                    </div>
                </div>
                </div>

            </li>
        </ul>
        </form>
    {% else %}

        <div class="komento-formo averto_bloko">
            <span>{% trans 'Por komenti, vi devas' %} <a href="{% url 'registrado:ensaluti' %}">{% trans 'ensaluti' %}</a> {% trans 'aŭ' %} <a href="{% url "registrado:registrado" %}">{% trans 'registriĝi' %}</a>.
            </span>
        </div>
    {% endif %}

       </div>
    </div>
{% endblock komunumo_side %}