{# Internacia Lingvo (Esperanto) https://tehnokom.su/il #}

{# Kopirajto © 2017 Teknokom https://tehnokom.su #}
{# Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso #}

{# Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ #}
{# kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara #}
{# Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. #}

{# La programo estas distribuata esperante, ke ĝi utilos, #}
{# Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO #}
{# POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. #}

{# Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. #}
{# Se ne, do vidu https://www.gnu.org/licenses #}

{% extends 'komunumoj/grupo.html' %}
{% load i18n %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block css_js2 %}
    <link href="{% static 'forumoj/style/forumoj.css' %}" rel="stylesheet">
{% endblock css_js2 %}
{% block title %}
    {% trans 'Forumo de grupo' %} — {{ komunumo.nomo__enhavo }}
{% endblock title %}
{% block komunumo_side %}
    {% block menuo %}
        {% include 'komunumoj/komunumoj_grupo_menuo.html' with forumo=True %}
    {% endblock menuo %}
    <div class="forumoj_chiuj">
        <div class="forumoj_adreso_bloko">
            <div class="forumoj_adreso_bloko_vorto">
                <a href="{% url 'forumoj:forumoj_kategorio_listo' kom_tipo=kom_tipo kom_id=komunumo.id %}">{% trans 'Forumo de grupo' %}</a>&nbsp>&nbsp
                <a href="{% url 'forumoj:forumoj_kategorio_listo' kom_tipo=kom_tipo kom_id=komunumo.id %}">{% trans 'Listo de kategorioj' %}</a>
                {% if uzanto_aliro == 'moderiganto' or uzanto_aliro == 'administranto' %}
                &nbsp|<a href="/frmg{{ komunumo.id }}-novakategorio">
                        <span class="forumoj_teksta_butono">{% trans 'Krei kategorion' %}</span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="forumoj_chiuj">
    <div class="forumoj_chiuj_bloko">
        {#  Проверка есть ли категории  #}
        {% if kategorioj %}
            {% for kategorio in kategorioj %}
                <ul class="forumoj_listo">
                    <li class="forumoj_listo_item">
                        <a href="/frmg{{ komunumo.id }}-k{{ kategorio.id }}">
                            <div class="forumoj_listo_item_image">
                                <img src="{% static 'main/images/defaulte-avataro.jpg' %}">
                            </div>
                        </a>
                        <a href="/frmg{{ komunumo.id }}-k{{ kategorio.id }}">
                            <div class="forumoj_listo_item_titolo">{{ kategorio.nomo__enhavo }}</div>
                        </a>
                        <div class="forumoj_listo_item_priskribo">{{ kategorio.priskribo__enhavo }}</div>
                    </li>
                </ul>
            {% endfor %}
        {#  Если нет, то вывести специальное уведомление  #}
        {% else %}

            {#  Если это администратор / модератор сообщества, то вариант 1  #}
            {% if uzanto_aliro in adm_membroj %}
                <div class="alert-container">
                    <div class="alert alert-info" role="alert">
                      {% blocktrans %}В этом форуме пока нет категорий. Вы можете создать категорию нажав кнопку "Создать категорию", заполнив там необходимые поля и нажав кнопку "Опубликовать".{% endblocktrans %}
                    </div>
                </div>
            {#  Если нет, то вариант 2  #}
            {% else %}
                <div class="alert-container">
                    <div class="alert alert-info" role="alert">
                      {% blocktrans %}В этом форуме пока нет категорий, но они обязательно появятся позже. Чтобы за ними следить, подпишитесь на обновления сообщества, ваше участие важно!{% endblocktrans %}
                    </div>
                </div>
            {% endif %}

        {% endif %}
    </div>
    </div>
{% endblock komunumo_side %}
