{% load i18n %}
{% load static %}
{% load readmore %}

<li class="forumoj_listo_komento_item" data-komento_id="{{ komento.uuid }}">
    <a href="/idu{{ komento.autoro_id }}" title="{{ komento.autoro.unua_nomo.enhavo }}&nbsp;{{ komento.autoro.familinomo.enhavo }}">
        <div class="forumoj_listo_komento_item_image">
            {% if komento.autoro_avataro_min %}
                <img src="/media/{{ komento.autoro_avataro_min }}">
            {% else %}
                {% if komento.autoro.sekso == 'vira' or komento.autoro.sekso is None %}
                    <img src="{% static 'main/images/vira-avataro-min.png' %}">
                {% else %}
                    <img src="{% static 'main/images/virina-avataro-min.png' %}">
                {% endif %}
            {% endif %}
        </div>
    </a>
    <div class="forumoj_listo_komento_item_titolo">
        <a href="/idu{{ komento.autoro_id }}">{{ komento.autoro.unua_nomo.enhavo }} {{ komento.autoro.familinomo.enhavo }}</a>
        <span class="forumoj_komento_dato">
            {{ komento.krea_dato }}
            {% if user.is_admin or temo.autoro_id == user.id %}
                &nbsp|&nbsp<a href="javascript:void(0)" data-ago="redaktu">{% trans 'Redaktu' %}</a>
                &nbsp|&nbsp<a href="javascript:void(0)" data-ago="forigi">{% trans 'Forigi' %}</a>
            {% endif %}
        </span>
        <span class="komento-anchor">
            <a id="{{ komento.uuid }}"></a>
            {% if offset %}
                <a href="{% url 'forumoj:forumoj_temo' kom_tipo=kom_tipo kom_id=kom_id temo_id=temo_id offset=offset %}#{{ komento.uuid }}" title="{% trans 'Daŭrligo' %}">#</a>
            {% else %}
                <a href="{% url 'forumoj:forumoj_temo' kom_tipo=kom_tipo kom_id=kom_id temo_id=temo_id %}#{{ komento.uuid }}" title="{% trans 'Daŭrligo' %}">#</a>
            {% endif %}
        </span>
    </div>
    <div class="forumoj_listo_komento_item_priskribo">{{ komento.teksto.enhavo|safe }}</div>
    <div class="forumoj_listo_komento_item_redaktu">
        {% if komento.lasta_autoro %}
            <span class="fa fa-pencil"></span>
            <a href="{% url 'muroj:muro_uzanto' uzanto_id=komento.lasta_autoro_id %}">
            {% if komento.lasta_autoro_avataro_min %}
                <img class="avataro-mikro" src="/media/{{ komento.lasta_autoro_avataro_min }}">
            {% else %}
                {% if komento.lasta_autoro.sekso == 'vira' or komento.lasta_autoro.sekso is None %}
                    <img src="{% static 'main/images/vira-avataro-min.png' %}">
                {% else %}
                    <img src="{% static 'main/images/virina-avataro-min.png' %}">
                {% endif %}
            {% endif %}
            &nbsp;{{ komento.lasta_autoro.unua_nomo.enhavo }}&nbsp;{{ komento.lasta_autoro.familinomo.enhavo }}&nbsp;
            </a>
            <span>{{ komento.lasta_dato }}</span>
        {% endif %}
    </div>

</li>

