{% load i18n %}
{% load static %}
{% load main_tags %}
{% load readmore %}

    <div class="forumoj_chiuj">
    <div class="forumoj_adreso_bloko">
        <div class="forumoj_adreso_bloko_vorto">
            <a href="{% url 'forumoj:forumoj_kategorio_listo' kom_tipo=kom_tipo kom_id=komunumo.id %}">
                {% if kom_tipo == 'p' %}
                    {% trans 'Forumo de Sociaprojekto' %}
                {% elif kom_tipo == 'o' %}
                    {% trans 'Forumo de Organizo' %}
                {% elif kom_tipo == 's' %}
                    {% trans 'Forumo de Soveto' %}
                {% else %}
                    {% trans 'Forumo de grupo' %}
                {% endif %}
            </a>&nbsp>&nbsp
            <a href="{% url 'forumoj:forumoj_temo_listo' kom_tipo=kom_tipo kom_id=komunumo.id kategorio_id=temo.kategorio__id %}">{{ temo.kategorio__nomo__enhavo }}</a>&nbsp>&nbsp
            <a href="{% url 'forumoj:forumoj_temo' kom_tipo=kom_tipo kom_id=komunumo.id temo_id=temo.id %}">{{ temo.nomo__enhavo }}</a>
        </div>
    </div>
    </div>

    <div class="forumoj_chiuj">
    <div class="forumoj_chiuj_bloko">
<div class="forumoj_temo" data-temo_id="{{ temo.uuid }}">
    <div class="forumoj_temo_top">
        <div><strong>{{ temo.nomo__enhavo }}</strong>
            {% if user.is_admin or temo.autoro_id == user.id %}
                &nbsp|&nbsp<a href="javascript:void(0)" data-ago="redaktu"><span class="forumoj_teksta_butono">{% trans 'Redaktu' %}</span></a>
                &nbsp|&nbsp<a href="javascript:void(0)" data-ago="forigi"><span class="forumoj_teksta_butono">{% trans 'Forigi' %}</span></a>
            {% endif %}
        </div>
        <div>
            {% if temo_sciigoj is not None %}
            [<a data-ago="temo_sciigoj" href="javascript:void(0)">
                <span class="malaboni {% if not temo_sciigoj %}hidden-element{% endif %}">{% trans 'Malaboni' %}</span>
                <span class="aboni {% if 'powto' in temo_sciigoj %}hidden-element{% endif %}">{% trans 'Aboni' %}</span>
            </a>]
            {% endif %}
        </div>
    </div>

<div class="forumoj_komento_bloko">
<ul class="forumoj_listo">
    <li class="forumoj_listo_item">
                <a href="{% url 'muroj:muro_uzanto' uzanto_id=temo.autoro_id %}" title="{{ temo.autoro__unua_nomo__enhavo }} {{ temo.autoro__familinomo__enhavo }}">
            <div class="forumoj_listo_item_image">
            {% if temo.autoro__uzantojavataro__bildo_min %}
                <img src="/media/{{ temo.autoro__uzantojavataro__bildo_min }}">
            {% else %}
                {% if temo.autoro__sekso == 'vira' or temo.autoro__sekso is None %}
                    <img src="{% static 'main/images/vira-avataro-min.png' %}">
                {% else %}
                    <img src="{% static 'main/images/virina-avataro-min.png' %}">
                {% endif %}
            {% endif %}
            </div>
        </a>
        <div class="forumoj_listo_temo_item_titolo">
          <a href="/idu{{ temo.autoro_id }}">{{ temo.autoro__unua_nomo__enhavo }} {{ temo.autoro__familinomo__enhavo }}</a> <span class="forumoj_temo_dato">{{ temo.krea_dato }}</span>
        </div>
        <div class="forumoj_listo_item_priskribo">{{ temo.teksto__enhavo|safe }}</div>
        <div class="forumoj_listo_komento_item_redaktu">
            {% if temo.lasta_autoro_id %}
                <span class="fa fa-pencil"></span>
                <a href="{% url 'muroj:muro_uzanto' uzanto_id=temo.lasta_autoro_id %}">
                {% if temo.lasta_autoro__uzantojavataro__bildo_min %}
                    <img class="avataro-mikro" src="/media/{{ temo.lasta_autoro__uzantojavataro__bildo_min }}">
                {% else %}
                    {% if temo.lasta_autoro.sekso == 'vira' or temo.lasta_autoro__sekso is None %}
                        <img src="{% static 'main/images/vira-avataro-min.png' %}">
                    {% else %}
                        <img src="{% static 'main/images/virina-avataro-min.png' %}">
                    {% endif %}
                {% endif %}
                &nbsp;{{ temo.lasta_autoro__unua_nomo__enhavo }}&nbsp;{{ temo.lasta_autoro__familinomo__enhavo }}&nbsp;
                </a>
                <span>{{ temo.lasta_dato }}</span>
            {% endif %}
        </div>
    </li>
</ul>
</div>
<div class="forumoj_listo_komento_bloko" data-komento_id="{{ komento.uuid }}">
    <ul class="forumoj_listo">
        {% for komento in komentoj %}
            {% include "forumoj/forumoj_komento.html" %}
        {% endfor %}
    </ul>
</div>
</div>
        </div>
    </div>
    <div class="forumoj_chiuj">
    <div class="forumoj_pagination_bloko">
        <div class="forumoj_pagination_bloko_vorto">
            {% trans 'Paĝo' %}&nbsp
        </div>
        <div class="forumoj_pagination_bloko_numeroj">
            {% pagination pagination %}
        </div>
    </div>
    </div>
