{# Internacia Lingvo (Esperanto) https://tehnokom.su/il #}

{# Kopirajto © 2017 Teknokom https://tehnokom.su #}
{# Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso #}

{# Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ #}
{# kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara #}
{# Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. #}

{# La programo estas distribuata esperante, ke ĝi utilos, #}
{# Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO #}
{# POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. #}

{# Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. #}
{# Se ne, do vidu https://www.gnu.org/licenses #}

{% extends 'komunumoj/organizo.html' %}
{% load i18n %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block css_js2 %}
    <link href="{% static 'forumoj/style/forumoj.css' %}" rel="stylesheet">
{% endblock css_js2 %}
{% block title %}
    {% trans 'Kreado de nova temo' %} — {{ komunumo.nomo__enhavo }}
{% endblock title %}
{% block komunumo_side %}
    {% block menuo %}
        {% include 'komunumoj/komunumoj_organizo_menuo.html' with forumo=True %}
    {% endblock menuo %}
    <div class="forumoj_chiuj">
        <div class="forumoj_adreso_bloko">
            <div class="forumoj_adreso_bloko_vorto">
                <a href="{% url 'forumoj:forumoj_kategorio_listo' kom_tipo=kom_tipo kom_id=komunumo.id %}">{% trans 'Forumo de Organizo' %}</a>&nbsp>&nbsp
                <a href="{% url 'forumoj:forumoj_temo_listo' kom_tipo=kom_tipo kom_id=komunumo.id kategorio_id=kategorio.id %}">{{ kategorio.nomo__enhavo }}</a>&nbsp>
                <span class="forumoj_teksta_butono">{% trans 'Kreado de nova temo' %}</span>
            </div>
        </div>
    </div>
    <div class="forumoj_chiuj">
    <div class="forumoj_chiuj_bloko">


        <form method="POST" class="temo-formo"  action="{% url 'forumoj:forumoj_novatemo' kom_tipo=kom_tipo kom_id=komunumo.id kategorio_id=kategorio.id %}">
        {% csrf_token %}
        {{ formo.media }}
        {{ formo.posedanto }}
        {{ formo.kategorio }}
        {{ formo.autoro }}
        <ul class="forumoj_listo">
            <li class="forumoj_listo_item">
                <a href="{% url 'muroj:muro_uzanto' uzanto_id=a_uzanto.id %}" title="{{ a_uzanto.unua_nomo__enhavo }} {{ a_uzanto.familinomo__enhavo }}">
                    <div class="forumoj_listo_item_image">
                        {% if a_uzanto.uzantojavataro__bildo_min %}
                            <img src="/media/{{ a_uzanto.uzantojavataro__bildo_min }}">
                        {% else %}
                            {% if a_uzanto.autoro__sekso == 'vira' or a_uzanto.autoro__sekso is None %}
                                <img src="{% static 'main/images/vira-avataro-min.png' %}">
                            {% else %}
                                <img src="{% static 'main/images/virina-avataro-min.png' %}">
                            {% endif %}
                        {% endif %}
                    </div>
                </a>
                <div class="forumoj_listo_item_teksto">
                <div class="forumoj_komento_enhavo">
                    <input type="hidden" name="ago" value="kategorio"/>
                    <div class="forumoj_komento_teksto">
                        {% if formo.non_field_errors %}
                        <ul>
                            {% for error in formo.non_field_errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <p>{{ formo.nomo_formo }}</p>
                        <small>{{ formo.small.errors }}</small>
                        <p>{{ formo.teksto_formo }}</p>
                        <small>{{ formo.teksto.errors }}</small>
                        <p>{% trans 'Tipo' %}&nbsp;&nbsp;{{ formo.tipo }}&nbsp;&nbsp;&nbsp;{% trans 'Aliro' %}&nbsp;&nbsp;{{ formo.komentado_aliro }}&nbsp;&nbsp;&nbsp;<label for="id_fiksa">Закрепить тему</label>{{ formo.fiksa }}</p>
                    </div>
                    <div class="forumoj_komento_butono">
                    <button class="submit">{% trans 'Publikigi' %}</button>
                    </div>
                </div>
                </div>

            </li>
        </ul>
        </form>


    </div>
    </div>
{% endblock komunumo_side %}
