{# Internacia Lingvo (Esperanto) https://tehnokom.su/il #}

{# Kopirajto © 2017 Teknokom https://tehnokom.su #}
{# Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso #}

{# Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ #}
{# kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara #}
{# Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. #}

{# La programo estas distribuata esperante, ke ĝi utilos, #}
{# Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO #}
{# POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. #}

{# Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. #}
{# Se ne, do vidu https://www.gnu.org/licenses #}

{% extends 'uzantoj/portebla/t_uzanto.html' %}
{% load i18n %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block css_js2 %}
    <script type="text/javascript">
        let kom_type = 'uzanto';
        let intereso_url = '{% url 'muroj:muroj_interese' %}';
        let l10n = {arkivo: '{% trans 'Ĉu vi volas movi ĉi tiun enskribon al la arkivo?' %}',
                    forigi: '{% trans 'Ĉu vi volas forigi ĉi tiun enskribon?' %}',
                    kom_forigi: '{% trans 'Ĉu vi volas forigi ĉi tiun komenton?' %}'};
    </script>
    <link href="{% static 'muroj/style/muroj.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'muroj/script/t_muroj.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/script/pagination.js' %}"></script>
{% endblock css_js2 %}
{% block t_uzanto %}
    {% if a_uzanto.is_admin %}
    {% block menuo %}
        {% include 'uzantoj/portebla/t_uzanto_menuo.html' with chefa=True %}
    {% endblock menuo %}
    {% endif %}
        <div class="t_bazo_chiuj">

        <div class="t_bazo_bloko_du">
            {% if formoj.enskribo_formo %}
                <div class="t_bazo_bloko_du_simple"><a href="{% url 'muroj:muro_uzanto' uzanto_id=uzanto.id %}"><span class="t_bazo_bloko_du_simple_titolo">{% trans 'Viaj enskriboj' %}</span></a>&nbsp|&nbsp<a href="">{% trans 'Malnetoj' %}</a>&nbsp|&nbsp<a href="{% url 'muroj:muro_uzanto_arkivo' uzanto_id=uzanto.id %}">{% trans 'Arkivo' %}</a></div>
            {% else %}
                <div class="t_bazo_bloko_du_simple"><span class="t_bazo_bloko_du_simple_titolo">{% trans 'Enskriboj de uzanto' %}</span></div>
            {% endif %}
        </div>

        {% if formoj.enskribo_formo %}
        <div class="t_bazo_bloko_du">
            <form method="POST" enctype="multipart/form-data">
                <input type="hidden" name="ago" value="enskribo"/>
                <div>{{ formoj.enskribo_formo.teksto_formo }}</div>
                <div class="t_bazo_bloko_video_input">{% trans 'Вставьте ссылку на видео Youtube:' %}&nbsp{{ formoj.enskribo_formo.video_formo }}</div>
                <div class="t_bazo_bloko_bildo_input">{% trans 'Или:' %}&nbsp{{ formoj.enskribo_formo.bildo_formo }}</div>
                <div class="t_bazo_bloko_du_aliro">{% trans 'Oni vidas' %} {{ formoj.enskribo_formo.aliro }}</div>
                <div class="t_bazo_bloko_du_aliro">{% trans 'Oni povas komenti' %} {{ formoj.enskribo_formo.komentado_aliro }}</div>
                <div class="t_bazo_bloko_errors"></div>
                <div class="t_bazo_bloko_butono">
                    <button class="t_submit">{% trans 'Publikigi' %}</button>
                </div>
            </form>
        </div>
        {% endif %}

    {#  Проверка есть ли на стене записи  #}
    {% if enskriboj %}
        {#  Если есть, то выбрать их из цикла и выводить в шаблоне записей  #}
        {% include "muroj/portebla/t_muro_uzanto_enskribo.html" %}
        {% if more %}
        <a href="javascript:void(0)" class="more_button">{% trans 'Montri pli' %}</a>
        {% endif %}
    {#  Если нет, то вывести специальное уведомление  #}
    {% else %}

        {#  Если это владелец стены, то вариант 1  #}
        {% if formoj.enskribo_formo %}
            <div class="t_bazo_informa_mesaxo_tri">{% blocktrans %}На вашей стене пока нет записей. Вы можете опубликовать запись, используя форму размещённую выше.{% endblocktrans %}
            </div>

        {#  Если это не владелец стены, то вариант 2  #}
        {% else %}
            <div class="t_bazo_informa_mesaxo_tri">{% blocktrans %}На этой стене пока нет записей или нет записей доступных для вас. Записи могут появится позже. Чтобы за ними следить, подпишитесь на обновления пользователя.{% endblocktrans %}
            </div>
        {% endif %}
    {% endif %}


    </div>
{% endblock t_uzanto %}
{% block hidden_blocks %}
    {% if user.is_authenticated %}
        <form method="POST" class="komento-formo">
            <div class="muroj_komento_bloko">
                <div class="muroj_komento_avatar">
                    <a href="{% url 'muroj:muro_uzanto' uzanto_id=user.id %}" title="{{ komento.autoro__unua_nomo__enhavo }} {{ komento.autoro__familinomo__enhavo }}">
                    {% if a_uzanto.uzantojavataro__bildo_min %}
                        <img width="36" height="36" src="/media/{{ a_uzanto.uzantojavataro__bildo_min }}">
                    {% else %}
                        {% if a_uzanto.autoro__sekso == 'vira' or a_uzanto.autoro__sekso is None %}
                            <img width="36" height="36" src="{% static 'main/images/vira-avataro-min.png' %}">
                        {% else %}
                            <img width="36" height="36" src="{% static 'main/images/virina-avataro-min.png' %}">
                        {% endif %}
                    {% endif %}
                    </a>
                </div>
                <div class="muroj_komento_enhavo">
                    <input type="hidden" name="ago" value="komento"/>
                    <div class="muroj_komento_teksto">{{ formoj.komento_formo.teksto_formo }}</div>
                    <div class="muroj_komento_butono">
                    <button class="t_submit">{% trans 'Publikigi' %}</button>
                    </div>
                </div>
            </div>
        </form>
    {% else %}
        <div class="komento-formo averto_bloko">
            <span>{% trans 'Por komenti, vi devas' %} <a href="{% url 'registrado:ensaluti' %}">{% trans 'ensaluti' %}</a> {% trans 'aŭ' %} <a href="{% url "registrado:registrado" %}">{% trans 'registriĝi' %}</a>.
            </span>
        </div>
    {% endif %}
{% endblock %}
