{# Internacia Lingvo (Esperanto) https://tehnokom.su/il #}

{# Kopirajto © 2017 Teknokom https://tehnokom.su #}
{# Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso #}

{# Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ #}
{# kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara #}
{# Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. #}

{# La programo estas distribuata esperante, ke ĝi utilos, #}
{# Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO #}
{# POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. #}

{# Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. #}
{# Se ne, do vidu https://www.gnu.org/licenses #}

{% extends "main/portebla/t_bazo.html" %}
{% load i18n %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block css_js2 %}
    <script type="text/javascript">
        var informiloj_url = '{% url 'informiloj:informiloj' %}';
    </script>
    <script src="{% static 'informiloj/script/informiloj.js' %}"></script>
    <script src="{% static 'uzantoj/script/uzantoj_agordoj.js' %}"></script>
{% endblock css_js2 %}
{% block title %}
    {% trans 'Agordoj' %} — {{ uzanto.unua_nomo__enhavo }} {{ uzanto.familinomo__enhavo }}
{% endblock title %}
{% block t_main %}
    <div class="t_bazo_chiuj">
        <div class="t_bazo_bloko_kvar">
            <section class="t_tabs">
                <div class="t_tabs_bloko">
                    <input id="t_tab_1" type="radio" name="t_tab" checked="checked" />
                    <input id="t_tab_2" type="radio" name="t_tab" />
                    <input id="t_tab_3" type="radio" name="t_tab" />
                    <label for="t_tab_1" id="t_tab_l1">{% trans 'Baza' %}</label>
                    <label for="t_tab_2" id="t_tab_l2">{% trans 'Sekureco' %}</label>
                    <label for="t_tab_3" id="t_tab_l3">{% trans 'Уведомления' %}</label>
                    <div style="clear:both"></div>
                    <div class="t_tabs_cont">
                        <div id="t_tab_c1">
                        <div class="t_bazo_bloko_kvin">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="t_bazo_bloko_kvin_bloko">
                                    <p>{{ formoj.agordoj.unua_nomo.label }}:</p>
                                    <p>{{ formoj.agordoj.unua_nomo }}</p>
                                    <small>{{ formoj.agordoj.unua_nomo.errors }}</small>
                                    <p>{{ formoj.agordoj.dua_nomo.label }}:</p>
                                    <p>{{ formoj.agordoj.dua_nomo }}</p>
                                    <small>{{ formoj.agordoj.dua_nomo.errors }}</small>
                                    <p>{{ formoj.agordoj.familinomo.label }}:</p>
                                    <p>{{ formoj.agordoj.familinomo }}</p>
                                    <small>{{ formoj.agordoj.familinomo.errors }}</small>
                                </div>
                                <div class="t_bazo_bloko_kvin_bloko">
                                    <p>{{ formoj.agordoj.statuso.label }}:</p>
                                    <p>{{ formoj.agordoj.statuso }}</p>
                                    <small>{{ formoj.agordoj.statuso.errors }}</small>
                                </div>
                                <div class="t_bazo_bloko_kvin_bloko">
                                    <p>{{ formoj.agordoj.naskighdato.label }}:</p>
                                    <p>{{ formoj.agordoj.naskighdato }}</p>
                                    <small>{{ formoj.agordoj.naskighdato.errors }}</small>
                                    <p>{{ formoj.agordoj.sekso.label }}:</p>
                                    <p>{{ formoj.agordoj.sekso }}</p>
                                    <small>{{ formoj.agordoj.sekso.errors }}</small>
                                </div>
                                <div class="t_bazo_bloko_kvin_bloko">
                                    <p>{{ formoj.agordoj.loghlando.label }}:</p>
                                    <p>{{ formoj.agordoj.loghlando }}</p>
                                    <small>{{ formoj.agordoj.loghlando.errors }}</small>
                                    <p>{{ formoj.agordoj.loghregiono.label }}:</p>
                                    <p>{{ formoj.agordoj.loghregiono }}</p>
                                    <small>{{ formoj.agordoj.loghregiono.errors }}</small>
                                </div>
                                <div class="t_bazo_bloko_kvin_bloko">
                                    <p>{{ formoj.agordoj.entrepreno.label }}:</p>
                                    <p>{{ formoj.agordoj.entrepreno }}</p>
                                    <small>{{ formoj.agordoj.entrepreno.errors }}</small>
                                </div>
                                <div class="t_bazo_bloko_kvin_bloko">
                                        <p>Внимание! Функционал загрузки аватар и обложек находится в процессе разработки, на текущий момент нет пользовательской обрезки исходного изображения с выбором нужной области. Сейчас изображение автоматически режется или растягивается, в результате чего может быть не очень красивый результат. Чтобы получить хороший результат, вы можете предварительно обрезать изображение под нужный размер в графическом редакторе на вашем компьютере.</p>
                                </div>
                                <div class="t_bazo_bloko_kvin_bloko">
                                    <p>{% trans 'Avataro (grandeco 180x180px):' %}</p>
                                    {% if uzanto.uzantojavataro__bildo %}
                                    <img width="180" height="180" src="/media/{{ uzanto.uzantojavataro__bildo }}">
                                    {% else %}
                                        {% if uzanto.sekso == 'vira' or uzanto.sekso is None %}
                                            <img width="180" height="180" src="{% static 'main/images/vira-avataro.png' %}">
                                        {% else %}
                                            <img width="180" height="180" src="{% static 'main/images/virina-avataro.png' %}">
                                        {% endif %}
                                    {% endif %}
                                    <p>{{ formoj.agordoj.avataro_bildo }}</p>
                                    <small>{{ formoj.agordoj.avataro_bildo.errors }}</small>
                                    <p>{% trans 'Kovrilo (grandeco 820x200px):' %}</p>
                                    {% if uzanto.uzantojkovrilo__bildo %}
                                    <img width="100%" class="uzantoj_kovrilo_bildo" src="/media/{{ uzanto.uzantojkovrilo__bildo }}">
                                    {% else %}
                                    <img width="100%" class="uzantoj_kovrilo_bildo" src="{%  static 'main/images/defaulte-kovrilo.jpg' %}">
                                    {% endif %}
                                    <p>{{ formoj.agordoj.kovrilo_bildo }}</p>
                                    <small>{{ formoj.agordoj.kovrilo_bildo.errors }}</small>
                                </div>
                                <div class="t_bazo_bloko_kvin_butono">
                                    <button class="t_submit">{% trans 'Konservi agordojn' %}</button>
                                </div>
                            </form>
                        </div>
                        </div>
                        <div id="t_tab_c2">
                            <form method="POST">
                                {% csrf_token %}
                                {{ formoj.sekureco.id }}
                                <div class="t_bazo_bloko_kvin">
                                    <div class="t_bazo_bloko_kvin_bloko">
                                        <p>{{ formoj.sekureco.password1.label }}:</p>
                                        <p>{{ formoj.sekureco.password1 }}</p>
                                        <small>{{ formoj.sekureco.password1.errors }}</small>
                                        <p>{{ formoj.sekureco.password2.label }}:</p>
                                        <p>{{ formoj.sekureco.password2 }}</p>
                                        <small>{{ formoj.sekureco.password2.errors }}</small>
                                    </div>
                                    <div class="t_bazo_bloko_kvin_bloko">
                                        <p>{% trans 'Ĉhefa retpoŝto:' %}</p>
                                        <p>{{ formoj.sekureco.chefa_retposhto }}</p>
                                        <small>{{ formoj.sekureco.chefa_retposhto.errors }}</small>
                                        <p>{% trans 'Ĉhefa telefonanumero:' %}</p>
                                        <p>{{ formoj.sekureco.chefa_telefonanumero }}</p>
                                        <small>{{ formoj.sekureco.chefa_telefonanumero.errors }}</small>
                                    </div>
                                    <div class="t_bazo_bloko_kvin_butono">
                                        <button class="t_submit">{% trans 'Konservi agordojn' %}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="t_tab_c3">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="t_bazo_bloko_kvin">
                                    <div class="t_bazo_informa_mesaxo_du">{% blocktrans %}Глобальных настроек уведомлений, доступных для вас на данный момент, нет. Уведомления от сообществ и товарищей вы можете настроить на их страницах.{% endblocktrans %}</div>
                                    <div class="t_bazo_bloko_kvin_butono">
                                        <button class="t_submit">{% trans 'Konservi agordojn' %}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock t_main %}