{# Internacia Lingvo (Esperanto) https://tehnokom.su/il #}

{# Kopirajto © 2017 Teknokom https://tehnokom.su #}
{# Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso #}

{# Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ #}
{# kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara #}
{# Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. #}

{# La programo estas distribuata esperante, ke ĝi utilos, #}
{# Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO #}
{# POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. #}

{# Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. #}
{# Se ne, do vidu https://www.gnu.org/licenses #}

{% extends "main/portebla/t_bazo.html" %}
{% load i18n %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block css_js %}

{% endblock css_js %}
{% block title %}{% trans 'Poehali!' %}{% endblock %}
{% block t_main %}
    <div class="t_bazo_chiuj">
        <div class="t_bazo_titolo_bloko">
            <h1>{% trans 'Ваша панель управления миром' %}</h1>
        </div>
    {% block menuo %}
        {% include 'uzantoj/portebla/t_uzanto_menuo_starta.html' with panelo=True %}
    {% endblock menuo %}
        <div class="t_bazo_bloko_du">
            <div class="t_bazo_bloko_du_titolo">Статистика Технокома</div>
            <div class="t_bazo_bloko_du_nomo">Всего людей</div>
            <div class="t_bazo_bloko_du_teksto"><a href="/kmr/#tab_l2/">{{ uzanto }} человек</a></div>
            <div class="t_bazo_bloko_du_nomo">Всего сообществ</div>
            <div class="t_bazo_bloko_du_teksto"><a href="/socio/#tab_l1" title="{% trans 'Ĉiuj komunumoj' %}">{{ sociaprojekto|add:soveto|add:organizo|add:grupo }}</a> (<a href="/socio/#tab_l2" title="{% trans 'Sociaprojektoj' %}">{{ sociaprojekto }}</a> / <a href="/socio/#tab_l3" title="{% trans 'Sovetoj' %}">{{ soveto }}</a> / <a href="/socio/#tab_l4" title="{% trans 'Organizoj' %}">{{ organizo }}</a> / <a href="/socio/#tab_l4" title="{% trans 'Grupoj' %}">{{ grupo }}</a>)</div>
        </div>
        <div class="t_bazo_bloko_du">
            <div class="t_bazo_bloko_du_titolo">Cтатистика пользователя</div>
            <div class="t_bazo_bloko_du_nomo">Вы член советов</div>
            <div class="t_bazo_bloko_du_teksto">
            {% if sovetoj %}
                {% for soveto in sovetoj %}
                    <div class="t_bazo_bloko_mini">
                        <div class="t_bazo_bloko_mini_avataro_starta">
                            <a href="{% url 'muroj:muro_soveto' soveto_id=soveto.posedanto__id %}" title="{{ soveto.posedanto__nomo__enhavo }}">
                                {% if soveto.posedanto__komunumojsovetoavataro__bildo_min %}
                                    <img width="16" height="16" alt="{{ soveto.posedanto__nomo__enhavo }}" src="/media/{{ soveto.posedanto__komunumojsovetoavataro__bildo_min }}" />
                                {% else %}
                                    <img width="16" height="16" alt="{{ soveto.posedanto__nomo__enhavo }}" src="{% static 'main/images/defaulte-avataro-min.jpg' %}" />
                                {% endif %}
                            </a>
                        </div>
                        <div class="t_bazo_bloko_mini_teksto_starta">
                            <a href="{% url 'muroj:muro_soveto' soveto_id=soveto.posedanto__id %}">{{ soveto.posedanto__nomo__enhavo }}</a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                Нет данных
            {% endif %}
            </div>
            <div class="t_bazo_bloko_du_nomo">Вы член профсоюзов</div>
            <div class="t_bazo_bloko_du_teksto">
            {% if sindikatoj %}
                {% for sindikato in sindikatoj %}
                    <div class="t_bazo_bloko_mini">
                        <div class="t_bazo_bloko_mini_avataro_starta">
                            <a href="{% url 'muroj:muro_organizo' organizo_id=sindikato.posedanto__id %}" title="{{ sindikato.posedanto__nomo__enhavo }}">
                                {% if sindikato.posedanto__komunumojorganizoavataro__bildo_min %}
                                    <img width="16" height="16" alt="{{ sindikato.posedanto__nomo__enhavo }}" src="/media/{{ sindikato.posedanto__komunumojorganizoavataro__bildo_min }}" />
                                {% else %}
                                    <img width="16" height="16" alt="{{ sindikato.posedanto__nomo__enhavo }}" src="{% static 'main/images/defaulte-avataro-min.jpg' %}" />
                                {% endif %}
                            </a>
                        </div>
                        <div class="t_bazo_bloko_mini_teksto_starta">
                            <a href="{% url 'muroj:muro_organizo' organizo_id=sindikato.posedanto__id %}">{{ sindikato.posedanto__nomo__enhavo }}</a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                Нет данных
            {% endif %}
            </div>
            <div class="t_bazo_bloko_du_nomo">Ваше народное предприятие</div>
            <div class="t_bazo_bloko_du_teksto">
            {% if chefa_organizo %}

                <div class="t_bazo_bloko_mini">
                    <div class="t_bazo_bloko_mini_avataro_starta">
                        <a href="{% url 'muroj:muro_organizo' organizo_id=chefa_organizo.posedanto__id %}" title="{{ chefa_organizo.posedanto__nomo__enhavo }}">
                            {% if chefa_organizo.posedanto__komunumojorganizoavataro__bildo_min %}
                                <img width="16" height="16" alt="{{ chefa_organizo.posedanto__nomo__enhavo }}" src="/media/{{ chefa_organizo.posedanto__komunumojorganizoavataro__bildo_min }}" />
                            {% else %}
                                <img width="16" height="16" alt="{{ chefa_organizo.posedanto__nomo__enhavo }}" src="{% static 'main/images/defaulte-avataro-min.jpg' %}" />
                            {% endif %}
                        </a>
                    </div>
                    <div class="t_bazo_bloko_mini_teksto_starta">
                        <a href="{% url 'muroj:muro_organizo' organizo_id=chefa_organizo.posedanto__id %}">{{ chefa_organizo.posedanto__nomo__enhavo }}</a>
                    </div>
                </div>

            {% else %}
                Нет данных
            {% endif %}
            </div>
        </div>
        {% for tasko in taskoj %}
            <div class="t_bazo_bloko">
                <ul class="t_bazo_bloko_listo">
                    <li class="t_bazo_bloko_listo_item">
                        <a href="/idu{{ tasko.autoro__id }}" title="{{ tasko.autoro__unua_nomo__enhavo }}{% if tasko.autoro__familinomo__enhavo %}&nbsp{{ tasko.autoro__familinomo__enhavo }}{% else %}{% endif %}">
                            <div class="t_bazo_bloko_listo_item_image">
                                {% if tasko.autoro__uzantojavataro__bildo_min %}
                                    <img src="/media/{{ tasko.autoro__uzantojavataro__bildo_min }}">
                                {% else %}
                                    {% if tasko.autoro__sekso == 'vira' or tasko.autoro__sekso is None %}
                                        <img src="{% static 'main/images/vira-avataro-min.png' %}">
                                    {% else %}
                                        <img src="{% static 'main/images/virina-avataro-min.png' %}">
                                    {% endif %}
                                {% endif %}
                            </div>
                        </a>
                        <div class="t_bazo_bloko_listo_item_titolo"><a href="/idu{{ tasko.autoro__id }}">{{ tasko.autoro__unua_nomo__enhavo }}{% if tasko.autoro__familinomo__enhavo %}&nbsp{{ tasko.autoro__familinomo__enhavo }}{% else %}{% endif %}</a>
                            <div class="t_bazo_bloko_listo_item_ofico">{% if tasko.autoro__komunumojorganizomembro__laborarolo__nomo__enhavo %}{{ tasko.autoro__komunumojorganizomembro__laborarolo__nomo__enhavo }}{% else %}{% endif %}</div>
                        </div>
                    </li>
                </ul>
                <div class="t_bazo_bloko_listo_item_priskribo_tasko">{{ tasko.priskribo__enhavo }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock t_main %}
