{% load i18n %}
{% load static %}
{% for rekordo in rekordoj %}
    <li class="t_bazo_bloko_listo_item">
        <a href="/idu{{ rekordo.id }}" title="{{ rekordo.unua_nomo }}&nbsp{{ rekordo.familinomo }}">
            <div class="t_bazo_bloko_listo_item_image">
                {% if rekordo.uzantojavataro__bildo_min %}
                    <img width="50" height="50" src="/media/{{ rekordo.uzantojavataro__bildo_min }}">
                {% else %}
                    {% if rekordo.sekso == 'vira' or rekordo.sekso is None %}
                        <img width="50" height="50" src="{% static 'main/images/vira-avataro-min.png' %}">
                    {% else %}
                        <img width="50" height="50" src="{% static 'main/images/virina-avataro-min.png' %}">
                    {% endif %}
                {% endif %}
            </div>
        </a>
        <div class="t_bazo_bloko_listo_item_titolo"><a href="/idu{{ rekordo.id }}">{{ rekordo.unua_nomo }}
            {% if rekordo.familinomo %}
                {{ rekordo.familinomo }}
            {% else %}
                &nbsp
            {% endif %}</a>
            <div class="t_bazo_bloko_listo_item_priskribo">
                {% if rekordo.uzantojstatuso__teksto__enhavo %}
                    {{ rekordo.uzantojstatuso__teksto__enhavo }}
                {% else %}
                    <span>{% trans 'La vivo estas bela!' %}</span>
                {% endif %}
            </div>
        </div>
    </li>
{% endfor %}