{# Internacia Lingvo (Esperanto) https://tehnokom.su/il #}

{# Kopirajto © 2017 Teknokom https://tehnokom.su #}
{# Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso #}

{# Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ #}
{# kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara #}
{# Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. #}

{# La programo estas distribuata esperante, ke ĝi utilos, #}
{# Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO #}
{# POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. #}

{# Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. #}
{# Se ne, do vidu https://www.gnu.org/licenses #}

{% load i18n %}
<nav>
    <div class="uzantoj_btn-cont">
        <a href="/sano{{ user.id }}" {% if taskoj %}class="btn btn-primary"{% else %}class="btn btn-outline-primary disabled"{% endif %} role="button">{% trans 'Медицинские задачи' %}</a>
        <a href="#" {% if vivo %}class="btn btn-primary"{% else %}class="btn btn-outline-primary disabled"{% endif %} role="button" aria-disabled="true">{% trans 'Образ жизни' %}</a>
        <a href="#" {% if fizkulturo %}class="btn btn-primary"{% else %}class="btn btn-outline-primary disabled"{% endif %} role="button" aria-disabled="true">{% trans 'Физическая культура' %}</a>
    </div>
</nav>