{# Internacia Lingvo (Esperanto) https://tehnokom.su/il #}

{# Kopirajto © 2017 Teknokom https://tehnokom.su #}
{# Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso #}

{# Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ #}
{# kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara #}
{# Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. #}

{# La programo estas distribuata esperante, ke ĝi utilos, #}
{# Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO #}
{# POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. #}

{# Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. #}
{# Se ne, do vidu https://www.gnu.org/licenses #}

{% extends 'main/bazo.html' %}
{% load i18n %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block css_js %}
    <link href="{% static 'uzantoj/style/uzantoj.css' %}" rel="stylesheet">
{% endblock css_js %}
{% block title %}{% trans 'Sano' %}{% endblock %}
{% block main_side %}
    <div class="uzantoj_starta_chiuj">
        <div class="uzantoj_starta_titolo_bloko">
            <p><strong>{% trans 'Ваша панель управления жизнью' %}</strong></p>
        </div>
    {% block menuo %}
        {% include 'sano/sano_menuo_uzanto.html' with taskoj=True %}
    {% endblock menuo %}
    </div>
    <div class="uzantoj_starta_chiuj">
        <div class="news-feed">
            {#  Проверка есть ли задачи  #}
            {% if taskoj %}
            {#  Если есть, то выбрать их из цикла и вывести  #}
            {% for tasko in taskoj %}
                <div class="uzantoj_starta_bloko">
                    <ul class="uzantoj_starta_listo">
                        <li class="uzantoj_starta_listo_item">
                            <a href="/idu{{ tasko.autoro__id }}" title="{{ tasko.autoro__unua_nomo__enhavo }}{% if tasko.autoro__familinomo__enhavo %}&nbsp{{ tasko.autoro__familinomo__enhavo }}{% else %}{% endif %}">
                                <div class="uzantoj_starta_listo_item_image">
                                    {% if tasko.autoro__uzantojavataro__bildo_min %}
                                        <img src="/media/{{ tasko.autoro__uzantojavataro__bildo_min }}">
                                    {% else %}
                                        {% if tasko.autoro__sekso == 'vira' or tasko.autoro__sekso is None %}
                                            <img src="{% static 'main/images/vira-avataro-min.png' %}">
                                        {% else %}
                                            <img src="{% static 'main/images/virina-avataro-min.png' %}">
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </a>
                            <div class="uzantoj_starta_listo_item_titolo"><a href="/idu{{ tasko.autoro__id }}">{{ tasko.autoro__unua_nomo__enhavo }}{% if tasko.autoro__familinomo__enhavo %}&nbsp{{ tasko.autoro__familinomo__enhavo }}{% else %}{% endif %}</a><span class="uzantoj_starta_listo_item_ofico">{% if tasko.autoro__komunumojorganizomembro__laborarolo__nomo__enhavo %},&nbsp{{ tasko.autoro__komunumojorganizomembro__laborarolo__nomo__enhavo }}{% else %}{% endif %}</span>
                            </div>
                            <div class="uzantoj_starta_listo_item_priskribo">{{ tasko.priskribo__enhavo }}
                            </div>
                        </li>
                    </ul>
                </div>
            {% endfor %}
            {#  Если нет, то вывести специальное уведомление  #}
            {% else %}
                <div class="alert-container">
                    <div class="alert alert-info" role="alert">{% blocktrans %}У вас пока нет активных медицинских задач, но они обязательно появятся позже, по мере развития функционала Технокома.{% endblocktrans %}</div>
                </div>
            {% endif %}
        </div>
        <div class="uzantoj_dekstra_chefa_bloko">
            <div class="uzantoj_dekstra_bloko">
                <div class="uzantoj_dekstra_titolo">Статистика здоровья</div>
                <div class="uzantoj_dekstra_unu">Выполненных действий</div>
                <div class="uzantoj_dekstra_du">Нет данных</div>
                <div class="uzantoj_dekstra_unu">Запланированных действий</div>
                <div class="uzantoj_dekstra_du">Нет данных</div>
            </div>
        </div>
    </div>
{% endblock main_side %}
