/* Internacia Lingvo (Esperanto) https://tehnokom.su/il */

/* Kopirajto © 2017 Teknokom https://tehnokom.su */
/* Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso */

/* Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ */
/* kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara */
/* Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. */

/* La programo estas distribuata esperante, ke ĝi utilos, */
/* Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO */
/* POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. */

/* Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. */
/* Se ne, do vidu https://www.gnu.org/licenses */

/*Listo*/
.ideoj_chiuj{
	width: 818px;
	border-radius: 5px;
	height: auto;
    margin-top: 10px;
	border: 1px solid #DFDFDF;
	display: inline-block;
}

.ideoj_chiuj_bloko{
	padding: 0 10px 0 10px;
}

.ideoj_listo{
	display: block;
	position: relative;
	list-style-type: none;
	padding: 0;
    overflow: hidden;
    transition: 1s all;
}

.ideoj_listo_item{
    display: block;
    position: relative;
    min-height: 50px;
    margin-top: 17px;
    padding-left: 60px;
    transition: 1s all;
}

.ideoj_listo_komento_item{
    border-top: 1px solid rgba(204, 204, 204, 0.6);
    display: block;
    position: relative;
    min-height: 50px;
    margin-bottom: 10px;
    padding-left: 60px;
    padding-top: 10px;
    transition: 1s all;
}

.ideoj_listo_item:first-child { margin-top: 0; }

.ideoj_listo_komento_item:first-child { margin-top: 0; }

.ideoj_listo_item_image { display: block; position: absolute; top: 0; left: 0; width: 50px; height: 50px; border: 1px solid rgba(0,0,0,0.2); border-radius: 50%; }

.ideoj_listo_item_image > img { vertical-align: middle; width: 100%; height: 100%; border-radius: 50%; }

.ideoj_listo_komento_item_image { display: block; position: absolute; top: 10px; left: 0; width: 50px; height: 50px; border: 1px solid rgba(0,0,0,0.2); border-radius: 50%; }

.ideoj_listo_komento_item_image > img { vertical-align: middle; width: 100%; height: 100%; border-radius: 50%; }

.ideoj_listo_item_titolo { margin-bottom: 7px; padding-top: 7px;}

.ideoj_listo_ideo_item_titolo { margin-bottom: 7px; padding-top: 0;}

.ideoj_listo_komento_item_titolo { margin-bottom: 7px; padding-top: 0;}

.ideoj_hidden{
    max-height: 0 !important;
    min-height: 0 !important;
    margin: 0 !important;
    opacity: 0 !important;
}

.enskribo-formo,
.komento-formo{
    overflow: hidden;
    opacity: 1.0;
    transition: 1s all;
}

/*Pagination*/
.ideoj_pagination{
	width: 818px;
	border-radius: 5px;
	height: auto;
    margin-top: 10px;
	border: 1px solid #DFDFDF;
	display: inline-block;
}

.ideoj_pagination_bloko{
	padding: 10px 10px 10px 10px;
}

.ideoj_pagination_bloko_vorto{
    float: left;
}

/*Adreso*/
.ideoj_adreso{
	width: 818px;
	border-radius: 5px;
	height: auto;
    margin-top: 10px;
	border: 1px solid #DFDFDF;
	display: inline-block;
}

.ideoj_adreso_bloko{
	padding: 10px 10px 10px 10px;
}

.ideoj_adreso_bloko_vorto{

}

/*Ideoj*/
.ideoj_ideo{
	width: 798px;
	height: auto;
    overflow-y: hidden;
    opacity: 1;
    transition: 1s all;
}

.ideoj_ideo a {
	font-weight: bold;
}

/*Komentoj*/
.ideoj_komento_bloko{
    border-top: 1px solid rgba(204, 204, 204, 0.6);
    position: relative;
    margin-top: 10px;
    opacity: 1;
    transition: 1s all;
}

.ideoj_ideo_teksto, .ideoj_komento_teksto{
    width: 100%;
    margin-top: 5px;
}

.ideoj_komento_teksto textarea{
    width: calc((100% - 6px));
    border: 1px solid #DFDFDF;
}

.ideoj_ideo_teksto a, .ideoj_komento_teksto a {
	font-weight: normal;
}

.ideoj_komento_dato, .ideoj_ideo_dato{
    margin-top: 5px;
    color: #777777;
}