{% load i18n %}
{% load static %}
{% load readmore %}

<div class="t_bazo_bloko" data-komento_id="{{ komento.uuid }}">
    <ul class="t_bazo_bloko_listo">
        <li class="t_bazo_bloko_listo_item">
            <a href="/idu{{ komento.autoro_id }}" title="{{ komento.autoro__unua_nomo__enhavo }} {{ komento.autoro__familinomo__enhavo }}">
                <div class="t_bazo_bloko_listo_item_image">
                    {% if komento.autoro__uzantojavataro__bildo_min %}
                        <img src="/media/{{ komento.autoro__uzantojavataro__bildo_min }}">
                    {% else %}
                        {% if komento.autoro__sekso == 'vira' or komento.autoro__sekso is None %}
                            <img src="{% static 'main/images/vira-avataro-min.png' %}">
                        {% else %}
                            <img src="{% static 'main/images/virina-avataro-min.png' %}">
                        {% endif %}
                    {% endif %}
                </div>
            </a>
            <div class="t_bazo_bloko_listo_item_titolo"><a href="/idu{{ komento.autoro_id }}">{{ komento.autoro__unua_nomo__enhavo }} {{ komento.autoro__familinomo__enhavo }}</a> <span class="forumoj_komento_dato"></span>
                <div class="t_bazo_bloko_listo_item_dato">{{ komento.krea_dato }}
                {% if user.is_admin or komento.autoro_id == user.id %}
                    &nbsp|&nbsp<a href="javascript:void(0)" data-ago="forigi">{% trans 'Forigi' %}</a>
                {% endif %}
                </div>
            </div>
        </li>
    </ul>
    <div class="t_bazo_bloko_listo_item_priskribo_tasko">{{ komento.teksto__enhavo|readmore:300|linebreaksbr|urlize }}</div>
</div>

