{% load i18n %}
{% load static %}
{% load main_tags %}
{% load readmore %}

    <div class="t_bazo_chiuj">
    <div class="t_bazo_bloko_du">
        <div class="t_bazo_bloko_du_simple">
            <a href="/frmg{{ grupo.id }}">{% trans 'Forumo de grupo' %}</a>&nbsp>&nbsp
            <a href="/frmg{{ grupo.id }}-k{{ temo.kategorio__id }}">{{ temo.kategorio__nomo__enhavo }}</a>&nbsp>&nbsp
            <a href="/frmg{{ grupo.id }}-t{{ temo.id }}">{{ temo.nomo__enhavo }}</a>
            {% if user.is_admin or temo.autoro_id == user.id %}
            &nbsp|&nbsp<a href="javascript:void(0)" data-ago="forigi"><span class="t_bazo_bloko_du_simple_teksta_butono">{% trans 'Forigi' %}</span></a>
            {% endif %}
        </div>
    </div>

    <div class="t_bazo_bloko" data-temo_id="{{ temo.uuid }}">
        <ul class="t_bazo_bloko_listo">
            <li class="t_bazo_bloko_listo_item">
                <a href="{% url 'muroj:muro_uzanto' uzanto_id=temo.autoro_id %}" title="{{ temo.autoro__unua_nomo__enhavo }} {{ temo.autoro__familinomo__enhavo }}">
                    <div class="t_bazo_bloko_listo_item_image">
                    {% if temo.autoro__uzantojavataro__bildo_min %}
                        <img src="/media/{{ temo.autoro__uzantojavataro__bildo_min }}">
                    {% else %}
                        {% if temo.autoro__sekso == 'vira' or temo.autoro__sekso is None %}
                            <img src="{% static 'main/images/vira-avataro-min.png' %}">
                        {% else %}
                            <img src="{% static 'main/images/virina-avataro-min.png' %}">
                        {% endif %}
                    {% endif %}
                    </div>
                </a>
                <div class="t_bazo_bloko_listo_item_titolo"><a href="/idu{{ temo.autoro_id }}">{{ temo.autoro__unua_nomo__enhavo }} {{ temo.autoro__familinomo__enhavo }}</a>
                    <div class="t_bazo_bloko_listo_item_dato">{{ temo.krea_dato }}</div>
                </div>
            </li>
        </ul>
        <div class="t_bazo_bloko_listo_item_priskribo_tasko">{{ temo.teksto__enhavo|readmore:300|linebreaksbr|urlize }}</div>
    {% for komento in komentoj %}

        {% include "forumoj/portebla/t_forumoj_grupo_komento.html" %}

    {% endfor %}

        </div>

        <div class="t_bazo_bloko_du">
            <div class="t_bazo_bloko_du_simple">
                <div class="t_bazo_bloko_du_simple_vorto">
                    {% trans 'Paĝo' %}&nbsp
                </div>
                <div class="t_bazo_bloko_du_simple_numeroj">
                    {% pagination pagination %}
                </div>
            </div>
        </div>
    </div>
