{% load i18n %}
{% load static %}
{% load main_tags %}
{% load readmore %}

    <div class="forumoj_chiuj">
    <div class="forumoj_adreso_bloko">
        <div class="forumoj_adreso_bloko_vorto">
            <a href="/ides{{ soveto.id }}">{% trans 'Ideoj de soveto' %}</a>&nbsp>&nbsp
            <a href="/ides{{ soveto.id }}-k{{ ideo.kategorio__id }}">{{ ideo.kategorio__nomo__enhavo }}</a>&nbsp>&nbsp
            <a href="/ides{{ soveto.id }}-i{{ ideo.id }}">{{ ideo.nomo__enhavo }}</a>
        </div>
    </div>
    </div>

    <div class="forumoj_chiuj">
    <div class="forumoj_chiuj_bloko">
<div class="forumoj_temo" data-ideo_id="{{ ideo.uuid }}">
    <div class="forumoj_temo_top">
        <p><strong>{{ ideo.nomo__enhavo }}</strong>{% if user.is_admin or ideo.autoro_id == user.id %}&nbsp|&nbsp<a href="javascript:void(0)" data-ago="forigi"><span class="forumoj_teksta_butono">{% trans 'Forigi' %}</span></a>{% endif %}</p>
    </div>

<div class="forumoj_komento_bloko">
<ul class="forumoj_listo">
    <li class="forumoj_listo_item">
                <a href="{% url 'muroj:muro_uzanto' uzanto_id=ideo.autoro_id %}" title="{{ ideo.autoro__unua_nomo__enhavo }} {{ ideo.autoro__familinomo__enhavo }}">
            <div class="forumoj_listo_item_image">
            {% if ideo.autoro__uzantojavataro__bildo_min %}
                <img src="/media/{{ ideo.autoro__uzantojavataro__bildo_min }}">
            {% else %}
                {% if ideo.autoro__sekso == 'vira' or ideo.autoro__sekso is None %}
                    <img src="{% static 'main/images/vira-avataro-min.png' %}">
                {% else %}
                    <img src="{% static 'main/images/virina-avataro-min.png' %}">
                {% endif %}
            {% endif %}
            </div>
        </a>
        <div class="forumoj_listo_temo_item_titolo">
          <a href="/idu{{ ideo.autoro_id }}">{{ ideo.autoro__unua_nomo__enhavo }} {{ ideo.autoro__familinomo__enhavo }}</a> <span class="forumoj_temo_dato">{{ ideo.krea_dato }}</span>
        </div>
        <div class="forumoj_listo_item_priskribo">{{ ideo.teksto__enhavo|readmore:500|linebreaksbr|urlize }}</div>

    </li>
</ul>
</div>
<div class="forumoj_listo_komento_bloko" data-komento_id="{{ komento.uuid }}">
    <ul class="forumoj_listo">
        {% for komento in komentoj %}
            {% include "ideoj/ideoj_soveto_komento.html" %}
        {% endfor %}
    </ul>
</div>
</div>
        </div>
    </div>
    <div class="forumoj_chiuj">
    <div class="forumoj_pagination_bloko">
        <div class="forumoj_pagination_bloko_vorto">
            {% trans 'Paĝo' %}&nbsp
        </div>
        <div class="forumoj_pagination_bloko_numeroj">
            {% pagination pagination %}
        </div>
    </div>
    </div>
