{% load i18n %}
{% load static %}
{% load readmore %}

<li class="forumoj_listo_komento_item" data-komento_id="{{ komento.uuid }}">
    <a href="/idu{{ komento.autoro_id }}" title="{{ komento.autoro__unua_nomo__enhavo }} {{ komento.autoro__familinomo__enhavo }}">
        <div class="forumoj_listo_komento_item_image">
            {% if komento.autoro__uzantojavataro__bildo_min %}
                <img src="/media/{{ komento.autoro__uzantojavataro__bildo_min }}">
            {% else %}
                {% if komento.autoro__sekso == 'vira' or komento.autoro__sekso is None %}
                    <img src="{% static 'main/images/vira-avataro-min.png' %}">
                {% else %}
                    <img src="{% static 'main/images/virina-avataro-min.png' %}">
                {% endif %}
            {% endif %}
        </div>
    </a>
    <div class="forumoj_listo_komento_item_titolo">
        <a href="/idu{{ komento.autoro_id }}">{{ komento.autoro__unua_nomo__enhavo }} {{ komento.autoro__familinomo__enhavo }}</a> <span class="forumoj_komento_dato">{{ komento.krea_dato }}{% if user.is_admin or ideo.autoro_id == user.id %}&nbsp|&nbsp<a href="javascript:void(0)" data-ago="forigi">{% trans 'Forigi' %}</a>{% endif %}</span>
    </div>
    <div class="forumoj_listo_komento_item_priskribo">{{ komento.teksto__enhavo|readmore:500|linebreaksbr|urlize }}</div>

</li>

