{# Internacia Lingvo (Esperanto) https://tehnokom.su/il #}

{# Kopirajto © 2017 Teknokom https://tehnokom.su #}
{# Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso #}

{# Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ #}
{# kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara #}
{# Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. #}

{# La programo estas distribuata esperante, ke ĝi utilos, #}
{# Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO #}
{# POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. #}

{# Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. #}
{# Se ne, do vidu https://www.gnu.org/licenses #}

{% load i18n %}
<nav>
    <div class="t_bazo_menuo">
        <a href="/idg{{ grupo.id }}">
            <div class="t_bazo_menuo_butono"{% if chefa %} id="t_bazo_menuo_butono_aktiva"{% endif %}>{% trans 'Ĉefa' %}</div>
        </a>
        <a href="/infg{{ grupo.id }}">
            <div class="t_bazo_menuo_butono"{% if informo %} id="t_bazo_menuo_butono_aktiva"{% endif %}>{% trans 'Informo' %}</div>
        </a>
    {% if a_uzanto.is_admin %}
        <a href="/teng{{ grupo.id }}">
            <div class="t_bazo_menuo_butono"{% if tenejo %} id="t_bazo_menuo_butono_aktiva"{% endif %}>{% trans 'Tenejo' %}</div>
        </a>
    {% else %}
        <a href="#">
            <div class="t_bazo_menuo_butono-malakt"{% if tenejo %} id="t_bazo_menuo_butono_aktiva"{% endif %}>{% trans 'Tenejo' %}</div>
        </a>
    {% endif %}
        <a href="/frmg{{ grupo.id }}">
            <div class="t_bazo_menuo_butono"{% if forumo %} id="t_bazo_menuo_butono_aktiva"{% endif %}>{% trans 'Forumo' %}</div>
        </a>
    {% if a_uzanto.is_admin %}
        <a href="/resg{{ grupo.id }}">
            <div class="t_bazo_menuo_butono"{% if resursoj %} id="t_bazo_menuo_butono_aktiva"{% endif %}>{% trans 'Respondoj' %}</div>
        </a>
    {% else %}
        <a href="#">
            <div class="t_bazo_menuo_butono-malakt"{% if resursoj %} id="t_bazo_menuo_butono_aktiva"{% endif %}>{% trans 'Respondoj' %}</div>
        </a>
    {% endif %}
    {% if uzanto_aliro == 'administranto' %}
        <a href="/admg{{ grupo.id }}">
            <div class="t_bazo_menuo_butono"{% if administrado %} id="t_bazo_menuo_butono_aktiva"{% endif %}>{% trans 'Administrado' %}</div>
        </a>
    {% endif %}
    </div>
</nav>