{# Internacia Lingvo (Esperanto) https://tehnokom.su/il #}

{# Kopirajto © 2017 Teknokom https://tehnokom.su #}
{# Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso #}

{# Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ #}
{# kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara #}
{# Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. #}

{# La programo estas distribuata esperante, ke ĝi utilos, #}
{# Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO #}
{# POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. #}

{# Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. #}
{# Se ne, do vidu https://www.gnu.org/licenses #}

{% extends 'komunumoj/portebla/t_sociaprojekto.html' %}
{% load i18n %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block css_js2 %}

{% endblock css_js2 %}
{% block title %}
    {% trans 'Informo' %} — {{ sociaprojekto.nomo__enhavo }}
{% endblock title %}
{% block t_komunumo %}
    {% block menuo %}
        {% include 'komunumoj/portebla/t_komunumoj_sociaprojekto_menuo.html' with informo=True %}
    {% endblock menuo %}
    <div class="t_bazo_chiuj">
        <div class="t_bazo_bloko_du_no">
            <section class="t_tabs">
                <div class="t_tabs_bloko">
                    <input id="t_tab_1" type="radio" name="t_tab" checked="checked" />
                    <input id="t_tab_2" type="radio" name="t_tab" />
                    <label for="t_tab_1" id="t_tab_l1">Краткое описание</label>
                    <label for="t_tab_2" id="t_tab_l2">Участники сообщества</label>
                    <div style="clear:both"></div>
                    <div class="t_tabs_cont">
                        <div id="t_tab_c1">
                        {% if informo.teksto %}
                            <div class="t_bazo_bloko_kvin">
                                <div>
                                    <div>{{ informo.teksto|linebreaksbr|urlize }}</div>
                                </div>
                            </div>
                            {% if informo.ligilo %}
                            <div class="t_bazo_bloko_du_ligilo">
                                <div class="t_bazo_bloko_du_titolo">
                                    <div>Подробное описание в Энциклопедии</div>
                                </div>
                                <div>
                                    <div>{{ informo.ligilo|urlize }}</div>
                                </div>
                            </div>
                            {% endif %}
                            <div class="t_bazo_bloko_du_bildo">
                                <div>
                                    <img src="/media/{{ informo.bildo }}">
                                </div>
                            </div>
                        {% else %}
                            <div class="t_bazo_bloko_kvin">
                                <div>
                                    <div class="t_bazo_informa_mesaxo_du">{% blocktrans %}В этой группе пока нет краткого описания и ссылки на подробное описание в Энциклопедии. Описания появятся позже. Чтобы за ними следить, подпишитесь на обновления сообщества.{% endblocktrans %}</div>
                                </div>
                            </div>
                        {% endif %}
                        </div>
                        <div id="t_tab_c2">
                            <ul class="t_bazo_bloko_listo">
                                {% for membro in membroj %}
                                    <li class="t_bazo_bloko_listo_item">
                                        <a href="/idu{{ membro.autoro__id }}" title="{{ membro.autoro__unua_nomo__enhavo }}&nbsp{{ membro.autoro__familinomo__enhavo }}">
                                            <div class="t_bazo_bloko_listo_item_image">
                                                {% if membro.autoro__uzantojavataro__bildo_min %}
                                                    <img width="50" height="50" src="/media/{{ membro.autoro__uzantojavataro__bildo_min }}">
                                                {% else %}
                                                    {% if membro.autoro__sekso == 'vira' or membro.autoro__sekso is None %}
                                                        <img width="50" height="50" src="{% static 'main/images/vira-avataro-min.png' %}">
                                                    {% else %}
                                                        <img width="50" height="50" src="{% static 'main/images/virina-avataro-min.png' %}">
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </a>
                                        <div class="t_bazo_bloko_listo_item_titolo"><a href="/idu{{ membro.autoro__id }}">{{ membro.autoro__unua_nomo__enhavo }}
                                            {% if membro.autoro__familinomo__enhavo %}
                                                {{ membro.autoro__familinomo__enhavo }}
                                                    {% else %}
                                                    &nbsp
                                                {% endif %}</a>
                                            <div class="t_bazo_bloko_listo_item_priskribo">
                                                {% if membro.autoro__uzantojstatuso__teksto__enhavo %}
                                                    {{ membro.autoro__uzantojstatuso__teksto__enhavo }}
                                                {% else %}
                                                    <span>{% trans 'La vivo estas bela!' %}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock t_komunumo %}