{% load i18n %}
{% load static %}
{% for rekordo in rekordoj %}
    <ul class="t_bazo_bloko_listo">
        <li class="t_bazo_bloko_listo_item">
            <a href="{{ rekordo.get_absolute_url }}">
                <div class="t_bazo_bloko_listo_item_image">
                    {% if rekordo.avataro_bildo_min %}
                        <img src="/media/{{ rekordo.avataro_bildo_min }}">
                    {% else %}
                        <img src="{% static 'main/images/defaulte-avataro.jpg' %}">
                    {% endif %}
                </div>
            </a>
            <div class="t_bazo_bloko_listo_item_titolo"><a
                    href="{{ rekordo.get_absolute_url }}">{{ rekordo.nomo__enhavo }}</a>
                <div class="t_bazo_bloko_listo_item_priskribo">{{ rekordo.priskribo__enhavo }}</div>
            </div>
        </li>
    </ul>
{% endfor %}