{# Internacia Lingvo (Esperanto) https://tehnokom.su/il #}

{# Kopirajto © 2017 Teknokom https://tehnokom.su #}
{# Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso #}

{# Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ #}
{# kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara #}
{# Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. #}

{# La programo estas distribuata esperante, ke ĝi utilos, #}
{# Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO #}
{# POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. #}

{# Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. #}
{# Se ne, do vidu https://www.gnu.org/licenses #}

{% extends "main/portebla/t_bazo.html" %}
{% load i18n %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block css_js %}
    <link href="{% static 'komunumoj/style/komunumo.css' %}" rel="stylesheet">
    <script type="text/javascript">
        let page_multi = {{ komunumoj_multi|safe }};
    </script>
    <script type="text/javascript" src="{% static 'main/script/pagination.js' %}"></script>
{% endblock css_js %}
{% block title %}
    {% trans 'Komunumoj' %}
{% endblock title %}
{% block t_main %}
    <div class="t_bazo_chiuj">
        <div class="t_bazo_bloko_kvar">
            <section class="t_tabs">
                <div class="t_tabs_bloko">
                    <input id="t_tab_1" type="radio" name="t_tab" checked="checked" />
                    <input id="t_tab_2" type="radio" name="t_tab" />
                    <input id="t_tab_3" type="radio" name="t_tab" />
                    <input id="t_tab_4" type="radio" name="t_tab" />
                    <input id="t_tab_5" type="radio" name="t_tab" />
                    <label for="t_tab_1" id="t_tab_l1">{% trans 'Ĉiuj komunumoj' %}</label>
                    <label for="t_tab_2" id="t_tab_l2">{% trans 'Sociaprojektoj' %}</label>
                    <label for="t_tab_3" id="t_tab_l3">{% trans 'Sovetoj' %}</label>
                    <label for="t_tab_4" id="t_tab_l4">{% trans 'Organizoj' %}</label>
                    <label for="t_tab_5" id="t_tab_l5">{% trans 'Grupoj' %}</label>
                    <div style="clear:both"></div>

                    <div class="t_tabs_cont">
                        <div id="t_tab_c1">
                            {% with komunumoj as rekordoj %}
                                {% include 'komunumoj/portebla/t_komunumoj_listo_pago.html' %}
                            {% endwith %}
                            {% if komunumoj_more %}
                            <a href="javascript:void(0)" class="more_button" data-page-typo="multi">{% trans 'Montri pli' %}</a>
                            {% endif %}
                        </div>
                        <div id="t_tab_c2">
                            {% with sociaprojektoj as rekordoj %}
                                {% include 'komunumoj/portebla/t_komunumoj_listo_pago.html' %}
                            {% endwith %}
                            {% if sociaprojektoj_more %}
                            <a href="javascript:void(0)" class="more_button" data-page-typo="projekto">{% trans 'Montri pli' %}</a>
                            {% endif %}
                        </div>
                        <div id="t_tab_c3">
                            {% with sovetoj as rekordoj %}
                                {% include 'komunumoj/portebla/t_komunumoj_listo_pago.html' %}
                            {% endwith %}
                            {% if sovetoj_more %}
                            <a href="javascript:void(0)" class="more_button" data-page-typo="soveto">{% trans 'Montri pli' %}</a>
                            {% endif %}
                        </div>
                        <div id="t_tab_c4">
                            {% with organizoj as rekordoj %}
                                {% include 'komunumoj/portebla/t_komunumoj_listo_pago.html' %}
                            {% endwith %}
                            {% if organizoj_more %}
                            <a href="javascript:void(0)" class="more_button" data-page-typo="organizo">{% trans 'Montri pli' %}</a>
                            {% endif %}
                        </div>
                        <div id="t_tab_c5">
                            {% with grupoj as rekordoj %}
                                {% include 'komunumoj/portebla/t_komunumoj_listo_pago.html' %}
                            {% endwith %}
                            {% if grupoj_more %}
                            <a href="javascript:void(0)" class="more_button" data-page-typo="grupo">{% trans 'Montri pli' %}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

{#  Срипт добавления якоря ко вкладкам  #}
<script type="text/javascript">
    $(function(){
        if($('.t_tabs label[for]').length > 0){
            let hash = window.location.hash;
                hash = (hash.indexOf('/') !== -1) ? hash.slice(0, hash.indexOf('/')) : hash;
            $('.t_tabs label[for]').each(function(){
                let
                    $e = $(this),
                        id = '#' + $e.attr('id');

                //Меняет якорь при клике на вкладку
                $e.click(function(e){
                    window.location.hash = id;
                });

                //Показывает вкладку в соответствии с якорем
                if(hash === id)
                    $e.click();
            });
        }
    });
</script>

{% endblock t_main %}
