{# Internacia Lingvo (Esperanto) https://tehnokom.su/il #}

{# Kopirajto © 2017 Teknokom https://tehnokom.su #}
{# Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso #}

{# Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ #}
{# kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara #}
{# Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. #}

{# La programo estas distribuata esperante, ke ĝi utilos, #}
{# Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO #}
{# POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. #}

{# Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. #}
{# Se ne, do vidu https://www.gnu.org/licenses #}

{% extends "main/portebla/t_bazo.html" %}
{% load i18n %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block css_js %}
    <script type="text/javascript">
        var ago_url = '{% url 'komunumoj:kunigu_organizo' %}';
        var kom_type = 'organizo';
    </script>
    {% if user.is_authenticated %}
    <script src="{% static 'komunumoj/script/t_komunumoj.js' %}"></script>
    {% endif %}
    {% block css_js2 %}
    {% endblock css_js2 %}
{% endblock css_js %}
{% block title %}
    {{ organizo.nomo__enhavo }}
{% endblock title %}
{% block t_main %}
    <div class="t_bazo_chiuj">
    <div class="t_bazo_kovrilo projekto_datumoj" data-organizo_uuid="{{ organizo.uuid }}">
        {% if organizo.komunumojorganizokovrilo__bildo %}
            <img class="t_bazo_kovrilo_bildo" src="/media/{{ organizo.komunumojorganizokovrilo__bildo }}">
        {% else %}
            <img class="t_bazo_kovrilo_bildo" src="{% static 'main/images/defaulte-kovrilo.jpg' %}">
        {% endif %}

        <div class="t_bazo_avataro">
            {% if organizo.komunumojorganizoavataro__bildo %}
                <img src="/media/{{ organizo.komunumojorganizoavataro__bildo }}">
            {% else %}
                <img src="{% static 'main/images/defaulte-avataro.jpg' %}">
            {% endif %}
        </div>

        <div class="t_bazo_kovrilo_title_bloko">
            <h2 class="t_bazo_kovrilo_title">{{ organizo.nomo__enhavo }}</h2>
        </div>
    </div>

{#    <div class="t_bazo_progress_bar">#}
{#        <div class="t_bazo_progress" style="width: {{ statistikoj.procentoj }}%;"></div>#}
{#    </div>#}
    <h2 class="t_bazo_bloko_statuso">
        {{ organizo.priskribo__enhavo }}
    </h2>

    {% if uzanto_aliro in tipoj_membroj %}
        <a href="javascript:void(0)" title="{% if organizo.tipo__kodo == 'sindikato' %}Это Ваш профсоюз, Вы не можете выйти из него.{% elif organizo.tipo__kodo == 'resursacentro' %}Это Ваш Ресурсный Центр, Вы не можете выйти из него.{% else %}Это Ваше основное народное предприятие. Вы можете изменить его в настройках пользователя.{% endif %}">
            <div class="t_bazo_komunumo_via_komunumo">{% if organizo.tipo__kodo == 'sindikato' %}Ваш Профсоюз{% elif organizo.tipo__kodo == 'resursacentro' %}Ваш Ресурсный Центр{% else %}Ваша организация{% endif %}</div>
        </a>
        {% else %}
        <a href="{% if user.is_authenticated %}javascript:void(0){% else %}{% url 'registrado:ensaluti' %}{% endif %}" {% if statistikoj.uzanto_aligis %}class="hidden-element"{% endif %}>
            <div class="t_bazo_komunumo_joining" id="joining">Подписаться</div>
        </a>
        <a href="javascript:void(0)" {% if not statistikoj.uzanto_aligis %}class="hidden-element"{% endif %}>
            <div class="t_bazo_komunumo_leaving" id="leaving">Вы подписаны</div>
        </a>
    {% endif %}

    <h2 class="t_bazo_komunumo_peoples"><span id="tuta">{{ statistikoj.tuta }}</span> человек</h2>
    </div>

    {% block t_komunumo %}
    {% endblock t_komunumo %}
{% endblock t_main %}
