{# Internacia Lingvo (Esperanto) https://tehnokom.su/il #}

{# Kopirajto © 2017 Teknokom https://tehnokom.su #}
{# Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso #}

{# Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ #}
{# kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara #}
{# Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. #}

{# La programo estas distribuata esperante, ke ĝi utilos, #}
{# Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO #}
{# POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. #}

{# Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. #}
{# Se ne, do vidu https://www.gnu.org/licenses #}

{% load i18n %}
<nav>
    <div class="g-btn-cont">
        <a href="/idg{{ grupo.id }}" {% if chefa %}class="btn btn-primary"{% else %}class="btn btn-outline-primary"{% endif %} role="button">{% trans 'Ĉefa' %}</a>
        <a href="/infg{{ grupo.id }}" {% if informo %}class="btn btn-primary"{% else %}class="btn btn-outline-primary"{% endif %} role="button">{% trans 'Informo' %}</a>
    {% if a_uzanto.is_admin %}
        <a href="/teng{{ grupo.id }}" {% if tenejo %}class="btn btn-primary"{% else %}class="btn btn-outline-primary"{% endif %} role="button">{% trans 'Tenejo' %}</a>
    {% else %}
        <a href="#" {% if tenejo %}class="btn btn-primary"{% else %}class="btn btn-outline-primary disabled"{% endif %} role="button" aria-disabled="true">{% trans 'Tenejo' %}</a>
    {% endif %}
        <a href="/frmg{{ grupo.id }}" {% if forumo %}class="btn btn-primary"{% else %}class="btn btn-outline-primary"{% endif %} role="button">{% trans 'Forumo' %}</a>
    {% if a_uzanto.is_admin %}
        <a href="/resg{{ grupo.id }}" {% if respondoj %}class="btn btn-primary"{% else %}class="btn btn-outline-primary"{% endif %} role="button">{% trans 'Respondoj' %}</a>
    {% else %}
        <a href="#" {% if respondoj %}class="btn btn-primary"{% else %}class="btn btn-outline-primary disabled"{% endif %} role="button" aria-disabled="true">{% trans 'Respondoj' %}</a>
    {% endif %}
    {% if uzanto_aliro == 'administranto' %}
        <a href="/admg{{ grupo.id }}" {% if administrado %}class="btn btn-primary"{% else %}class="btn btn-outline-primary"{% endif %} role="button">{% trans 'Administrado' %}</a>
    {% endif %}
    </div>
</nav>