{# Internacia Lingvo (Esperanto) https://tehnokom.su/il #}

{# Kopirajto © 2017 Teknokom https://tehnokom.su #}
{# Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso #}

{# Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ #}
{# kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara #}
{# Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. #}

{# La programo estas distribuata esperante, ke ĝi utilos, #}
{# Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO #}
{# POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. #}

{# Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. #}
{# Se ne, do vidu https://www.gnu.org/licenses #}

{% extends 'komunumoj/sociaprojekto.html' %}
{% load i18n %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block css_js2 %}

{% endblock css_js2 %}
{% block komunumo_side %}
    {% block menuo %}
        {% include 'komunumoj/komunumoj_sociaprojekto_menuo.html' with agordoj=True %}
    {% endblock menuo %}
    <div class="feed-cont1">
    <div class="komunumoj_informo">


<div class="komunumoj_informo_bloko">
    <div class="komunumoj_informo_teksto">
        <div class="komunumoj_informo_teksto_titolo">
            <div>Краткая информация</div>
        </div>
        <div>
            <div>{{ informo.teksto|linebreaksbr|urlize }}</div>
        </div>
    </div>
    {% if informo.ligilo %}
    <div class="komunumoj_informo_ligilo">
        <div class="komunumoj_informo_ligilo_titolo">
            <div>Подробная информация в Энциклопедии</div>
        </div>
        <div>
            <div>{{ informo.ligilo|urlize }}</div>
        </div>
    </div>
    {% endif %}
    <div class="komunumoj_informo_bildo">
        <div>
            <img src="/media/{{ informo.bildo }}">
        </div>
    </div>
</div>


    </div>
    </div>
{% endblock komunumo_side %}