{# Internacia Lingvo (Esperanto) https://tehnokom.su/il #}

{# Kopirajto © 2017 Teknokom https://tehnokom.su #}
{# Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso #}

{# Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ #}
{# kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara #}
{# Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. #}

{# La programo estas distribuata esperante, ke ĝi utilos, #}
{# Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO #}
{# POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. #}

{# Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. #}
{# Se ne, do vidu https://www.gnu.org/licenses #}

{% extends 'komunumoj/organizo.html' %}
{% load i18n %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block css_js2 %}

{% endblock css_js2 %}
{% block title %}
    {% trans 'Informo' %} — {{ organizo.nomo__enhavo }}
{% endblock title %}
{% block komunumo_side %}
    {% block menuo %}
        {% include 'komunumoj/komunumoj_organizo_menuo.html' with informo=True %}
    {% endblock menuo %}
    <div class="feed-cont1">
        <div class="komunumoj_informo">
            <div class="komunumoj_informo_bloko">
                <section class="tabs">
                    <input id="tab_1" type="radio" name="tab" checked="checked" />
                    <input id="tab_2" type="radio" name="tab" />
                    <label for="tab_1" id="tab_l1">Краткое описание</label>
                    <label for="tab_2" id="tab_l2">Участники сообщества</label>
                    <div style="clear:both"></div>
                    <div class="tabs_cont">
                        <div id="tab_c1">
                        {% if informo.teksto %}
                            <div class="komunumoj_informo_teksto">
                                <div>
                                    <div>{{ informo.teksto|linebreaksbr|urlize }}</div>
                                </div>
                            </div>
                            {% if informo.ligilo %}
                            <div class="komunumoj_informo_ligilo">
                                <div class="komunumoj_informo_ligilo_titolo">
                                    <div>Подробное описание в Энциклопедии</div>
                                </div>
                                <div>
                                    <div>{{ informo.ligilo|urlize }}</div>
                                </div>
                            </div>
                            {% endif %}
                            <div class="komunumoj_informo_bildo">
                                <div>
                                    <img src="/media/{{ informo.bildo }}">
                                </div>
                            </div>
                        {% else %}
                            <div class="alert-container">
                                <div class="alert alert-info" role="alert">
                                  {% blocktrans %}В этой организации пока нет краткого описания и ссылки на подробное описание в Энциклопедии. Описания появятся позже. Чтобы за ними следить, подпишитесь на обновления сообщества.{% endblocktrans %}
                                </div>
                            </div>
                        {% endif %}
                        </div>
                        <div id="tab_c2">
                            {% for membro in membroj %}
                                <ul class="komunumoj_socio_listo">
                                    <li class="komunumoj_socio_listo_item">
                                        <a href="/idu{{ membro.autoro__id }}" title="{{ membro.autoro__unua_nomo__enhavo }}&nbsp{{ membro.autoro__familinomo__enhavo }}">
                                            <div class="komunumoj_socio_listo_item_image">
                                                {% if membro.autoro__uzantojavataro__bildo_min %}
                                                    <img width="50" height="50" src="/media/{{ membro.autoro__uzantojavataro__bildo_min }}">
                                                {% else %}
                                                    {% if membro.autoro__sekso == 'vira' or membro.autoro__sekso is None %}
                                                        <img width="50" height="50" src="{% static 'main/images/vira-avataro-min.png' %}">
                                                    {% else %}
                                                        <img width="50" height="50" src="{% static 'main/images/virina-avataro-min.png' %}">
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </a>
                                        <div class="komunumoj_socio_listo_item_titolo">
                                            <a href="/idu{{ membro.autoro__id }}" title="{{ membro.autoro__unua_nomo__enhavo }}&nbsp{{ membro.autoro__familinomo__enhavo }}">
                                                {{ membro.autoro__unua_nomo__enhavo }}
                                                    {% if membro.autoro__familinomo__enhavo %}
                                                    {{ membro.autoro__familinomo__enhavo }}
                                                        {% else %}
                                                        &nbsp
                                                    {% endif %}
                                            </a>
                                            {% if membro.tipo__kodo == 'administranto' or membro.tipo__kodo == 'moderiganto' %}
                                                —&nbsp{{ membro.tipo__nomo__enhavo }}
                                            {% endif %}
                                        </div>
                                            <div class="komunumoj_socio_listo_item_priskribo">
                                                {% if membro.autoro__uzantojstatuso__teksto__enhavo %}
                                                    {{ membro.autoro__uzantojstatuso__teksto__enhavo }}
                                                {% else %}
                                                    <span>{% trans 'La vivo estas bela!' %}</span>
                                                {% endif %}
                                            </div>
                                    </li>
                                </ul>
                            {% endfor %}
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock komunumo_side %}