{% load i18n %}
{% load static %}
{% for rekordo in rekordoj %}
    <ul class="komunumoj_socio_listo">
        <li class="komunumoj_socio_listo_item">
            <a href="{{ rekordo.get_absolute_url }}">
                <div class="komunumoj_socio_listo_item_image">
                {% if rekordo.avataro_bildo_min %}
                    <img src="{% get_media_prefix %}{{ rekordo.avataro_bildo_min }}">
                {% else %}
                    <img src="{% static 'main/images/defaulte-avataro.jpg' %}">
                {% endif %}
                </div>
            </a>
            <a href="{{ rekordo.get_absolute_url }}">
                <div class="komunumoj_socio_listo_item_titolo">{{ rekordo.nomo__enhavo }}</div>
            </a>
            <div class="komunumoj_socio_listo_item_priskribo">{{ rekordo.priskribo__enhavo }}</div>
        </li>
    </ul>
{% endfor %}