{# Internacia Lingvo (Esperanto) https://tehnokom.su/il #}

{# Kopirajto © 2017 Teknokom https://tehnokom.su #}
{# Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso #}

{# Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ #}
{# kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara #}
{# Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. #}

{# La programo estas distribuata esperante, ke ĝi utilos, #}
{# Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO #}
{# POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. #}

{# Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. #}
{# Se ne, do vidu https://www.gnu.org/licenses #}

{% extends "main/bazo.html" %}
{% load i18n %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block css_js %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
    <script type="text/javascript">
        let ago_url = '{% url 'komunumoj:kunigu_organizo' %}';
        let kom_type = 'organizo';
    </script>
    {% if user.is_authenticated %}
    <script src="{% static 'komunumoj/script/komunumoj.js' %}"></script>
    {% endif %}
    {% block css_js2 %}
    {% endblock css_js2 %}
{% endblock css_js %}
{% block title %}
    {{ organizo.nomo__enhavo }}
{% endblock title %}
{% block main_side %}
        <div class="komunumoj_kovrilo organizo_datumoj" data-organizo_uuid="{{ organizo.uuid }}">
            {% if organizo.komunumojorganizokovrilo__bildo %}
                <img class="komunumoj_kovrilo_bildo" src="/media/{{ organizo.komunumojorganizokovrilo__bildo }}">
            {% else %}
                <img class="komunumoj_kovrilo_bildo" src="{% static 'main/images/defaulte-kovrilo.jpg' %}">
            {% endif %}
            <div class="g-title-bl">
                <h2 class="g-title">{{ organizo.nomo__enhavo }}</h2>
                <h2 class="pod-title">{{ organizo.priskribo__enhavo }}</h2>
            </div>
            <div class="shadow-cov-field">
                <div class="komunumoj_btn">
                {% if uzanto_aliro in tipoj_membroj %}
                    <div class="btn-group">
                        <button class="btn btn-danger act_btn via" title="{% if organizo.tipo__kodo == 'sindikato' %}Это Ваш профсоюз, Вы не можете выйти из него.{% elif organizo.tipo__kodo == 'resursacentro' %}Это Ваш Ресурсный Центр, Вы не можете выйти из него.{% else %}Это Ваше основное народное предприятие. Вы можете изменить его в настройках пользователя.{% endif %}" disabled>
                            {% if organizo.tipo__kodo == 'sindikato' %}Ваш Профсоюз{% elif organizo.tipo__kodo == 'resursacentro' %}Ваш Ресурсный Центр{% else %}Ваша организация{% endif %}
                        </button>
                        <button class="btn btn-danger dropdown-toggle dropdown-toggle-split via" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <h6 class="dropdown-header">{% trans 'Уведомления' %}</h6>
                            <div class="dropdown-item">
                                <a data-sciigo="powto" data-checked="{% if 'powto' in statistikoj.uzanto_aligis %}1{% else %}0{% endif %}" href="javascript:void(0)">
                                    <i class="fa fa-check"></i>
                                    {% trans 'На почту' %}
                                </a>
                            </div>
                        </div>
                    </div>
                    {% else %}
                        {% if user.is_authenticated %}
                        <button class="btn btn-success joining {% if statistikoj.uzanto_aligis != False %}hidden-element{% endif %}">{% trans 'Подписаться' %}</button>
                        <div class="btn-group {% if statistikoj.uzanto_aligis == False %}hidden-element{% endif %}">
                            <button class="btn btn-primary act_btn leaving {% if statistikoj.uzanto_aligis == False %}hidden-element{% endif %}">{% trans 'Вы подписаны' %}</button>
                            <button class="btn btn-primary dropdown-toggle dropdown-toggle-split leaving {% if statistikoj.uzanto_aligis == False %}hidden-element{% endif %}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <h6 class="dropdown-header">{% trans 'Уведомления' %}</h6>
                                <div class="dropdown-item">
                                    <a data-sciigo="powto" data-checked="{% if 'powto' in statistikoj.uzanto_aligis %}1{% else %}0{% endif %}" href="javascript:void(0)">
                                        <i class="fa fa-check"></i>
                                        {% trans 'На почту' %}
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <a href="{% url 'registrado:ensaluti' %}" {% if statistikoj.uzanto_aligis %}class="hidden-element"{% endif %}>
                            <div class="joining">{% trans 'Подписаться' %}</div>
                        </a>
                        {% endif %}
                {% endif %}
                </div>
                <div class="komunumoj_avataro">
                    {% if organizo.komunumojorganizoavataro__bildo %}
                        <img src="/media/{{ organizo.komunumojorganizoavataro__bildo }}">
                    {% else %}
                        <img src="{% static 'main/images/defaulte-avataro.jpg' %}">
                    {% endif %}
                </div>
                <div class="progress-bar">
                    <div class="progress" style="width: {{ statistikoj.procentoj }}%;"></div>
                </div>
                <h2 class="peoples"><span id="tuta">{{ statistikoj.tuta }}</span> человек</h2>
            </div>
        </div>
        <div class="alert alert-warning" role="alert">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          Нажмите "Подписаться" для того, чтобы следить за информацией этой организации. Объединяйтесь с другими людьми на основе умных методологий Технокома, создавайте: народные предприятия, профсоюзы и другие организации.
        </div>
    {% block komunumo_side %}
    {% endblock komunumo_side %}
{% endblock main_side %}
