{% extends 'komunumoj/sociaprojekto.html' %}
{% load static %}
{% block meta %}
{% endblock meta %}
<link href="{% static 'komunumoj/style/projektoj.css' %}" rel="stylesheet">
{% block komunumo_side %}
            <div class="news-feed">
                <div class="feed-bl">
                    <h2>Связанные сообщества</h2>
                    <ul>
                        <li>
                            <a href="/mst">Международный Совет Технокома</a>
                        </li>
                    </ul>
                </div>
                <div class="feed-bl">
                    <h2>Новости</h2>
                </div>
            </div>
            <div class="g-right-block">
                <p>
                    Региональные Советы могут создавать и администрировать только члены команды Технокома. Если вы хотите участвовать в развитии этого сообщества или какого-то другого, в том числе создать новое, просим вас подать заявку на вступление в команду Технокома.
                </p>
            </div>
{% endblock komunumo_side %}
