{% load i18n %}
{% load static %}
{% load embed_video_tags %}
{% load readmore %}

{% for enskribo in enskriboj %}
    <div class="muroj_enskribo" data-enskribo_id="{{ enskribo.uuid }}" data-kom_tipo="{{ enskribo.kom_tipo }}">
        <div class="muroj_enskribo_top">
            <div class="muroj_enskribo_avatar">
                <a href="{{ enskribo.posedanto.get_absolute_url }}" title="{{ enskribo.posedanto_nomo_enhavo }}">
                    {% if enskribo.avataro_bildo_min %}
                        <img src="/media/{{ enskribo.avataro_bildo_min }}" width="50px" />
                    {% else %}
                        <img src="{% static 'main/images/defaulte-avataro.jpg' %}" width="50px" />
                    {% endif %}
                </a>
            </div>
            <div>
                <div class="muroj_konto">
                    <div>
                            <a href="{{ enskribo.posedanto.get_absolute_url }}" title="">
                            {{ enskribo.posedanto_nomo_enhavo }}
                        </a>
                    </div>
                </div>
                <div class="muroj_enskribo_dato">
                    <div>
                        <p><a href="{{ enskribo.get_absolute_url }}">{{ enskribo.publikiga_dato }}</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="muroj_enskribo_teksto">
            <div>
                <div>{{ enskribo.teksto_enhavo|readmore:60|linebreaksbr|urlize }}</div>
            </div>
            {% if enskribo.bildo %}
                <div class="muroj_enskribo_bildo">
                    <img src="/media/{{ enskribo.bildo }}">
                </div>
            {% elif enskribo.video %}
                <div class="muroj_enskribo_video">
                    {% video enskribo.video '538x303' is_secure=True %}
                </div>
            {% endif %}
        {% if enskribo.autoro_montri %}
            <div class="muroj_enskribo_montri">
                <div class="muroj_enskribo_montri_avatar">
                    <a href="{{ enskribo.autoro.get_absolute_url }}" title="{{ enskribo.autoro_unua_nomo_enhavo }} {{ enskribo.autoro_familinomo_enhavo }}">
                        {% if enskribo.avataro_uzanto_bildo_min %}
                            <img width="16" height="16" alt="{{ enskribo.autoro_unua_nomo_enhavo }} {{ enskribo.autoro_familinomo_enhavo }}"
                                src="/media/{{ enskribo.avataro_uzanto_bildo_min }}" />
                        {% else %}
                            {% if enskribo.autoro_sekso == 'vira' or enskribo.autoro_sekso is None %}
                                <img width="16" height="16" alt="{{ enskribo.autoro_unua_nomo_enhavo }} {{ enskribo.autoro_familinomo_enhavo }}"
                                src="{% static 'main/images/vira-avataro-min.png' %}" />
                            {% else %}
                                <img width="16" height="16" alt="{{ enskribo.autoro_unua_nomo_enhavo }} {{ enskribo.autoro_familinomo_enhavo }}"
                                    src="{% static 'main/images/virina-avataro-min.png' %}" />
                            {% endif %}
                        {% endif %}
                    </a>
                </div>
                <div class="muroj_enskribo_montri_teksto">
                    <a href="{{ enskribo.autoro.get_absolute_url }}" title="{{ enskribo.autoro_unua_nomo_enhavo }} {{ enskribo.autoro_familinomo_enhavo }}">
                        {{ enskribo.autoro_unua_nomo_enhavo }} {{ enskribo.autoro_familinomo_enhavo }}
                    </a>
                </div>
            </div>
        {% endif %}
        </div>
        <div class="muroj_enskribo_malsupro">
            <div class="muroj_enskribo_malsupro_komenti">
                <div class="muroj_enskribo_malsupro_komenti_bildo">
                    <a class="aldonu-komento" href="javascript:void(0)">
                        <img src="{% static 'muroj/images/komenti.png' %}" class="" width="16" height="16"/></a>
                </div>
                <div class="muroj_enskribo_malsupro_komenti_teksto">
    {#                <a class="aldonu-komento" href="javascript:void(0)">Комментировать</a>#}
                    <a href="{{ enskribo.get_absolute_url }}">Комментировать ({{ enskribo.komentoj_tuta }})</a>
                </div>
            </div>
            <div class="muroj_enskribo_malsupro_interese">
                <div class="muroj_enskribo_malsupro_interese_bildo">
                    <a href="javascript:void(0)">
                        <img src="{% if enskribo.uzanto_interese %}{% static 'muroj/images/interese_on.png' %}{% else %}{% static 'muroj/images/interese.png' %}{% endif %}" class="" width="18" height="18"/>
                    </a>
                </div>
                <div class="muroj_enskribo_malsupro_interese_teksto">
                    <a href="javascript:void(0)">Интересно
                        <span class="interese-tuta">
                            {% if enskribo.interese_tuta %}{{ enskribo.interese_tuta }}{% endif %}
                        </span>
                    </a>
                </div>
            </div>
            <div class="muroj_enskribo_malsupro_teleporti">
                <div class="muroj_enskribo_malsupro_teleporti_bildo">
                    <a href="javascript:void(0)" title="Телепортация записей отключена">
                        <img src="{% static 'muroj/images/teleporti.png' %}" class="" width="21" height="16"/></a>
                </div>
                <div class="muroj_enskribo_malsupro_teleporti_teksto">
                    <a href="javascript:void(0)" title="Телепортация записей отключена">0</a>
                </div>
            </div>
        </div>
        <div class="muroj_komentoj">
    {#        {% for komento in enskribo.komentoj %}#}
    {#            {% include 'novayoj/novayoj_komento.html' %}#}
    {#        {% endfor %}#}
        </div>
    </div>
{% endfor %}