{% extends "main/portebla/t_bazo.html" %}
{% load  i18n %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block css_js %}
    <script type="text/javascript">
        var lastapaso_url = '{% url 'registrado:lastapaso' %}';
    </script>
    <script type="text/javascript" src="{% static 'registrado/script/konfirmo.js' %}"></script>
{% endblock css_js %}
{% block title %}
    {% trans 'Konfirmo de la registrado' %}
{% endblock title %}
{% block t_main %}

{% endblock t_main %}
