{# Internacia Lingvo (Esperanto) https://tehnokom.su/il #}

{# Kopirajto © 2017 Teknokom https://tehnokom.su #}
{# Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso #}

{# Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ #}
{# kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara #}
{# Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. #}

{# La programo estas distribuata esperante, ke ĝi utilos, #}
{# Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO #}
{# POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. #}

{# Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. #}
{# Se ne, do vidu https://www.gnu.org/licenses #}

{% extends "main/portebla/t_bazo.html" %}
{% load i18n %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block css_js %}
    <script src="{% static 'registrado/script/jquery.min.js' %}"></script>
    <script src="{% static 'registrado/script/t_ui.js' %}"></script>
{% endblock css_js %}
{% block title %}
    {% trans 'Baza informo pri Teknokomo' %}
{% endblock title %}
{% block t_main %}
    <div class="t_bazo_chiuj">
        <div class="t_bazo_bloko_tri">
        <p>{% blocktrans %}Ознакомьтесь, пожалуйста, с этими положениями, чтобы убедиться, что мы одинаково с вами видим, каким должно быть светлое коммунистическое будущее. Согласитесь со всеми пунктами и нажмите на кнопку "Зарегистрироваться". Если вы уже зарегистрированы, вы можете войти по <a href="/ensaluti/">ссылке</a>.{% endblocktrans %}</p>
        </div>
        <div class="t_bazo_bloko_tri">
            <p>{% blocktrans %}Мы каждый день реальными делами строим коммунизм. Мы создаём всемирные Советы. Каждый человек на Технокоме - это Советский человек. Вы с нами?{% endblocktrans %}</p>
            <div class="t_bazo_selection_checkbox" data-required="true">
                <input type="checkbox">
                <label>{% trans 'Jes, mi estas kun vi' %}</label>
            </div>
        </div>
        <div class="t_bazo_bloko_tri">
            <p>{% blocktrans %}Por atingo de niaj celoj ni kreas tutmondan aŭtomatigitan sistemon Teknokom, kies tasko estas plej efektive gvidi robotigitajn fabrikojn, transportad-loĝistikajn sistemojn, liveri la plej bonan edukadon kaj maksimume plilongigi vivon de ĉiu homo kaj multon alian, por liberigi tempon al la homo por okupoj pri la plej grava: studado de kosmo, familio, evoluiĝo, arto, vojaĝado, ĉio, kio estas vere grava.{% endblocktrans %}</p>
            <div class="t_bazo_selection_checkbox" data-required="true">
                <input type="checkbox">
                <label>{% trans 'Tio estas mia revo' %}</label>
            </div>
        </div>
        <div class="t_bazo_bloko_tri">
            <p>{% blocktrans %}Por liveri efikan instrumenton por interkomunikado kaj unuiĝo de homoj de la tuta mondo estas kreita kaj plu evoluas la unua bloko de Teknokom - la saĝa socia reto. Ĉiuj kune ni kreas la duan blokon de Teknokom - aŭtomatigitan platformon Roboto-1.{% endblocktrans %}</p>
            <div class="t_bazo_selection_checkbox" data-required="true">
                <input type="checkbox">
                <label>{% trans 'Mi komprenas' %}</label>
            </div>
        </div>
        <div class="t_bazo_bloko_tri">
            <p>{% blocktrans %}Teknokom liveras sciojn, instrumentojn kaj motivigon, por ke ĉiu homo povus plibonigi sian vivon kaj la tutan socion. Dank'al saĝaj metodoj de Teknokom, vi povos fondi popolan entreprenon (kie ĉiuj laborantoj estas posedantoj) aŭ aliĝi al la jam funkcianta, vi povos fondi sindikaton aŭ alian socian organizaĵon, vi povos trovi samideanojn kaj multon alian.{% endblocktrans %}</p>
            <div class="t_bazo_selection_checkbox" data-required="true">
                <input type="checkbox">
                <label>{% trans 'Tio al mi plaĉas' %}</label>
            </div>
        </div>
        <div class="t_bazo_bloko_tri">
            <p>{% blocktrans %}Ni opinias grava konservado de biologia familio. La familio konsistas el viro, virino kaj infanoj.{% endblocktrans %}</p>
            <div class="t_bazo_selection_checkbox" data-required="true">
                <input type="checkbox">
                <label>{% trans 'Mi subtenas' %}</label>
            </div>
        </div>
        <div class="t_bazo_bloko_tri">
            <p>{% blocktrans %}Религия отделена от Технокома, мы создаём светское общество.{% endblocktrans %}</p>
            <div class="t_bazo_selection_checkbox" data-required="true">
                <input type="checkbox">
                <label>{% trans 'Hura al la evolucio, kamaradan saluton al eksterplanedanoj!' %}</label>
            </div>
        </div>
        <div class="t_bazo_bloko_tri">
            <p>{% blocktrans %}En la mondo de Teknokom homoj komunikas en diversaj lingvoj, por pli bona interkompreniĝo de homoj en la tuta mondo, ni subtenas aktivan disvastiĝon de naciaj lingvoj kaj Internacia lingvo (Esperanto).{% endblocktrans %}</p>
            <div class="t_bazo_selection_checkbox" data-required="true">
                <input type="checkbox">
                <label>{% trans 'Interese' %}</label>
            </div>
        </div>
        <div class="t_bazo_bloko_tri">
            <p>{% blocktrans %}Ĉu vi promesas ne malutili al Teknokom kaj al aliaj homoj?{% endblocktrans %}</p>
            <div class="t_bazo_selection_checkbox" data-required="true">
                <input type="checkbox">
                <label>{% trans 'Jes' %}</label>
            </div>
        </div>
        <div class="t_bazo_bloko_tri">
            <p>{% blocktrans %}Ĉu vi sincere respondis al ĉiuj demandoj?{% endblocktrans %}</p>
            <div class="t_bazo_selection_checkbox" data-required="true">
                <input type="checkbox">
                <label>{% trans 'Jes, sincere' %}</label>
            </div>
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="t_bazo_bloko_tri_butono">
                <button class="t_submit" id="t_bazo_selection_submit">{% trans 'Pluen al la registriĝo' %}</button>
            </div>
        </form>
    </div>
{% endblock t_main %}
