{# Internacia Lingvo (Esperanto) https://tehnokom.su/il #}

{# Kopirajto © 2017 Teknokom https://tehnokom.su #}
{# Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso #}

{# Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ #}
{# kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara #}
{# Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. #}

{# La programo estas distribuata esperante, ke ĝi utilos, #}
{# Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO #}
{# POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. #}

{# Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. #}
{# Se ne, do vidu https://www.gnu.org/licenses #}

{% extends "main/portebla/t_bazo.html" %}
{% load i18n %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block css_js %}
    <link href="{% static 'registrado/style/registrado.css' %}" rel="stylesheet">
    <script type="text/javascript">
        let informiloj_url = '{% url "informiloj:informiloj" %}';
        let formatter = false;
    </script>
    <script src="{% static 'registrado/script/jquery.min.js' %}"></script>
    <script src="{% static 'registrado/script/t_ui.js' %}"></script>
    <script src="{% static 'registrado/script/registrado.js' %}"></script>
    <script src="{% static 'informiloj/script/informiloj.js' %}"></script>
{% endblock css_js %}
{% block title %}
    {% trans 'Registrado' %}
{% endblock title %}
{% block t_main %}
    <div class="t_bazo_chiuj">
        <div class="t_bazo_bloko_kvin">
        <p>{% blocktrans %}Bonvolu plenigi ĉiujn kampojn kaj premu la butonon "Registriĝi"{% endblocktrans %}</p>
        </div>
        <form action="/registrado/" method="post">
        {% csrf_token %}
        <div class="t_bazo_bloko_kvin">
            <div class="t_bazo_bloko_kvin_bloko">
                <p>{{ form.unua_nomo }}</p>
                <p>{{ form.familinomo }}</p>
                <small>{{ form.familinomo.errors }}</small>
                <p>{{ form.chefa_retposhto }}</p>
                <p><span class="t_bazo_bloko_kvin_bloko_telkodo">
                    <select class="imaged" name="kodo_telefonanumero" id="kodo_telefonanumero_kodo_telefonanumero">
                    {% for id, option in form.fields.kodo_telefonanumero.choices %}
                        {{ option|safe }}
                    {% endfor %}
                    </select>&nbsp;{{ form.chefa_telefonanumero }}</span></p>

                <small>{{ form.chefa_telefonanumero.errors }}</small>
            </div>
            <div class="t_bazo_bloko_kvin_bloko">
                <p>{{ form.sekso.label }}:</p>
                <p>{{ form.sekso }}</p>
                <small>{{ form.sekso.errors }}</small>
                <p>{{ form.naskighdato.label }}:</p>
                <p>{{ form.naskighdato }}</p>
                <small>{{ form.naskighdato.errors }}</small>
            </div>
            <div class="t_bazo_bloko_kvin_bloko">
                <p>{% trans 'Via baza lingvo:' %}</p>
                <p>{{ form.chefa_lingvo }}</p>
                <small>{{ form.chefa_lingvo.errors }}</small>
            </div>
            <div class="t_bazo_bloko_kvin_bloko">
                <p>{{ form.loghlando.label }}:</p>
                <p>{{ form.loghlando }}</p>
                <small>{{ form.loghlando.errors }}</small>
                <p>{{ form.loghregiono.label }}:</p>
                <p>{{ form.loghregiono }}</p>
                <small>{{ form.loghregiono.errors }}</small>
            </div>
            <div class="t_bazo_bloko_kvin_bloko">
                <p>{{ form.entrepreno.label }}:</p>
                <p>{{ form.entrepreno }}</p>
                <small>{{ form.entrepreno.errors }}</small>
            </div>
            <div class="t_bazo_bloko_kvin_bloko">
                <p>{{ form.password1.label }}:</p>
                <p>{{ form.password1 }}</p>
                <small>{{ form.password1.errors }}</small>
                <p>{{ form.password2.label }}:</p>
                <p>{{ form.password2 }}</p>
                <small>{{ form.password2.errors }}</small>
            </div>
        <div class="t_bazo_bloko_kvin_bloko">
            <p>{% blocktrans %}Por registriĝi en la retejo de Teknokom vi devas akcepti <a href="/p1/" target="_blank">regulojn de la retejo</a>.{% endblocktrans %}</p>
            <div class="t_bazo_selection_checkbox" data-required="true">
            <input type="checkbox">
            <label>{% trans 'Jes, mi legis kaj konsentas kun la kondiĉoj' %}</label>
            </div>
        </div>
            <div class="t_bazo_bloko_kvin_bloko">
                {{ form.captcha }}
            </div>
        <div class="t_bazo_blok_submit">
            <button class="t_submit" id="t_bazo_selection_submit">{% trans 'Registriĝi' %}</button>
        </div>
        </div>
        </form>
    </div>
{% endblock t_main %}
