{% extends 'main/portebla/t_posto.html' %}
{% load i18n %}
{% load static %}
{% block css_js %}
    <style type="text/css">
        body {margin:0; padding: 0; min-width: 100%; !important;}
    </style>
{% endblock css_js %}
{% block title %}
    {% if not restarigo %}
    {% trans 'Konfirmo de la registrado' %}
    {% else %}
    Восстановление доступа к учетной записи Техноком
    {% endif %}
{% endblock title %}
{% block t_main %}
    <p>{% trans 'Saluton' %}, {{ uzanto.unua_nomo__enhavo }} {{ uzanto.familinomo__enhavo }}.</p>
    {% if not restarigo %}
    <p>{% trans 'Por konfirmi la registron, alklaku la ligilon' %} <a href="{{ token_url }}">{{ token_url }}</a>
    </p>
    {% else %}
    <p>Это письмо сформировано в ответ на попытку восстановления доступа к Вашей учетной записи.
       <b>Если это не Вы пытаетесь сменить пароль доступа к учетной записи, то игнорируйте это письмо</b>.
    </p>
    <p>
        Ссылка для подтверждения смены пароля к учетной записи: <a href="{{ token_url }}">{{ token_url }}</a>
    </p>
    {% endif %}
{% endblock t_main %}
