{# Internacia Lingvo (Esperanto) https://tehnokom.su/il #}

{# Kopirajto © 2017 Teknokom https://tehnokom.su #}
{# Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso #}

{# Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ #}
{# kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara #}
{# Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. #}

{# La programo estas distribuata esperante, ke ĝi utilos, #}
{# Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO #}
{# POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. #}

{# Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. #}
{# Se ne, do vidu https://www.gnu.org/licenses #}

{% extends "main/portebla/t_bazo.html" %}
{% load i18n %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block title %}
    {% trans 'Ensaluti' %}
{% endblock title %}
{% block css_js %}

{% endblock css_js %}
{% block t_main %}
    <div class="t_bazo_chiuj">
        <form action="{% url 'registrado:ensaluti' %}" method="post">
            {% csrf_token %}
                {% if form.non_field_errors %}
                <ul>
                    {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="t_bazo_bloko_kvin">
                    <p>{{ form.user.label }}</p>
                    <p>{{ form.user }}</p>
                    <small>{{ form.user.errors }}</small>
                    <p>{{ form.password.label }}</p>
                    <p>{{ form.password }}</p>
                    <small>{{ form.password.errors }}</small>
                </div>
                <div class="t_bazo_bloko_kvin">
                    <button class="t_submit" id="t_bazo_selection_submit">{% trans 'Ensaluti' %}</button>
                </div>
        </form>
    </div>
{% endblock t_main %}