{% extends "main/portebla/t_bazo.html" %}
{% load i18n %}
{% load static %}
{% block css_js %}
    <script type="text/javascript">
        var lastapaso_url = '{% url 'registrado:lastapaso' %}';
    </script>
    <script type="text/javascript" src="{% static 'registrado/script/konfirmo.js' %}"></script>
{% endblock css_js %}
{% block title %}
    {% trans 'Registrado' %} - {% trans 'La lasta paŝo!' %}
{% endblock title %}
{% block t_main %}
    <div class="t_bazo_chiuj">
        <div class="t_bazo_bloko_kvin">
            <p>{% blocktrans %}Bonege, {% endblocktrans %}{{ uzanto.unua_nomo__enhavo }}{% blocktrans %}, restis nur iomete!{% endblocktrans %}</p>
            <p>{% blocktrans %}Nun necesas konfirmi vian kontaktan informon. Por tio petu al Roboto helpi al vi:{% endblocktrans %}</p>
        </div>
        <div class="t_bazo_blok_submit">
            <button class="t_submit" data-action="email">{% blocktrans %}Estimata Roboto, sendu mesaĝon al mia retpoŝto.{% endblocktrans %}</button>
        </div>
        <div class="t_bazo_bloko_kvin">
            <br /><p><strong>{% blocktrans %}Внимание! Письмо может попасть в папку СПАМ.{% endblocktrans %}</strong></p>
            <p><strong>{% blocktrans %}Если вы не получили письмо для подтверждения, проверьте, не попало ли оно в ваш СПАМ.{% endblocktrans %}</strong></p>
        </div>
    </div>
{% endblock t_main %}