/* Internacia Lingvo (Esperanto) https://tehnokom.su/il */

/* Kopirajto © 2017 Teknokom https://tehnokom.su */
/* Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso */

/* Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ */
/* kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara */
/* Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. */

/* La programo estas distribuata esperante, ke ĝi utilos, */
/* Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO */
/* POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. */

/* Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. */
/* Se ne, do vidu https://www.gnu.org/licenses */


.muroj_hidden{
    max-height: 0 !important;
    opacity: 0 !important;
}

.muroj_mapo{
	width: 558px;
	border-radius: 5px;
	height: auto;
	border: 1px solid #DFDFDF;
	margin-top: 10px;
	display: inline-block;
}

.muroj_enskribo{
	width: 560px;
	border-radius: 5px;
	height: auto;
	border: 1px solid #DFDFDF;
	padding: 10px 10px 0 10px;
	margin-top: 10px;
    overflow-y: hidden;
    opacity: 1;
    transition: 1s all;
}

.enskribo-formo,
.komento-formo{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: 1s all;
}

.formo-open{
    max-height: 999px;
    opacity: 1;
}

.muroj_enskribo_formo_teksto{
    width: 100%;
    margin-top: 9px;
}

.muroj_enskribo_formo_teksto textarea, .muroj_komento_enhavo textarea{
    width: calc((100% - 6px));
    border: 1px solid #DFDFDF;
}

.muroj_enskribo_formo_bildo{
    padding-top: 5px;
    padding-bottom: 10px;
}

.muroj_enskribo_formo_video{
    margin-top: 10px;
}

.muroj_enskribo_formo_video input{
    width: 200px;
    border: 1px solid #DFDFDF;
}

.muroj_enskribo_formo_errors{
    padding-top: 10px;
	color: #990000;
}

.muroj_enskribo a {
	font-weight: bold;
}

.muroj_enskribo_autoro_montri{
    float: left;
    padding-right: 10px;
}

.muroj_enskribo_aliro{
    float: left;
    padding-right: 10px;
}

.muroj_enskribo_butono {
    padding-bottom: 10px;
}

.muroj_enskribo_teksto{
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin-top: 9px;
}

.muroj_enskribo_teksto a, .muroj_komento_teksto a {
	font-weight: normal;
}

.muroj_komento_teksto{
    margin-top: 5px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}


.muroj_enskribo_top {
    border-bottom: 1px solid rgba(204, 204, 204, 0.6);
    padding-bottom: 3px;
}

.muroj_enskribo_avatar {
    min-width: 52px;
    float: left;
}

.muroj_enskribo_avatar img {
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.muroj_enskribo_avatar img.kamarado {
    box-shadow: 0 0 7px rgba(0, 66, 255, 0.7);
}

.muroj_enskribo_avatar img.mem {
    box-shadow: 0 0 7px rgba(0, 158, 0, 1);
}

.muroj_konto {
    padding-top: 7px;
}

.muroj_enskribo_dato > div, .muroj_enskribo_dato a{
    color: #777777;
    /*margin-top: -6px;*/
    font-weight: normal;
}

.muroj_enskribo_bildo img{
    margin-top: 10px;
    max-width: 100%;
    vertical-align: middle;
}

.muroj_enskribo_video{
    margin-top: 10px;
    max-width: 100%;
    vertical-align: middle;
}

.muroj_enskribo_montri{
    position: relative;

}

.muroj_enskribo_montri_avatar{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 6px;
}

.muroj_enskribo_montri_avatar img {
    border-radius: 50%;
    margin-right: 5px;

}

.muroj_enskribo_montri_teksto{
    margin-left: 23px;
    padding-top: 6px;
}

.muroj_enskribo_montri_teksto a {
    font-weight: normal;
}

.muroj_enskribo_malsupro{
    border-top: 1px solid rgba(204, 204, 204, 0.6);
    margin-top: 10px;
    position: relative;
}

.muroj_enskribo_malsupro a{
    font-weight: bold;
    color: #003366;
}

.muroj_enskribo_malsupro_komenti{
    padding-bottom: 6px;
}

.muroj_enskribo_malsupro_komenti_bildo {
    position: absolute;
    top: 11px;
    left: 0;
}

.muroj_enskribo_malsupro_komenti_teksto{
    position: absolute;
    top: 10px;
    left: 24px;
}

.muroj_enskribo_malsupro_interese{

}

.muroj_enskribo_malsupro_interese_bildo{
    position: absolute;
    top: 8px;
    left: 324px;
}

.muroj_enskribo_malsupro_interese_teksto{
    position: absolute;
    top: 10px;
    left: 350px;
}

.muroj_enskribo_malsupro_teleporti{

}

.muroj_enskribo_malsupro_teleporti_bildo {
    position: absolute;
    top: 10px;
    left: 470px;
}

.muroj_enskribo_malsupro_teleporti_teksto {
    margin-left: 500px;
    padding-top: 4px;
}

/*.muroj_enskribo_senfineco {*/
    /*font-size: 26px;*/
    /*line-height: 0.3;*/
    /*margin-top: 5px;*/
/*}*/

/*.muroj_enskribo_malsupro_teleporti_bildo img {*/
    /*padding-top: 6px;*/
/*}*/

.muroj_komentoj{
    padding-bottom: 10px;
}

.muroj_komento_bloko{
    border-top: 1px solid rgba(204, 204, 204, 0.6);
    position: relative;
    margin-top: 10px;
    opacity: 1;
    transition: 1s all;
}

.muroj_komento_avatar{
    position: absolute;
    top: 0;
    left: 3px;
}

.muroj_komento_enhavo{
     margin-left: 51px;
}

.muroj_komento_avatar img {
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.muroj_komento_avatar img.kamarado {
    box-shadow: 0 0 7px rgba(0, 66, 255, 0.7);
}

.muroj_komento_avatar img.mem {
    box-shadow: 0 0 7px rgba(0, 158, 0, 1);
}

.muroj_komento_nomo{
    padding-top: 9px;
}

/*.muroj_komento_teksto{*/
    /*margin-top: 5px;*/
/*}*/

/*.muroj_komento_teksto a {*/
	/*font-weight: normal;*/
/*}*/

.muroj_komento_dato, .muroj_komento_dato a{
    margin-top: 5px;
    color: #777777;
    font-weight: normal;
}


/*.tk-profile, .tk-profile > div, .tk-date > div {*/
    /*display: table-cell !important;*/
    /*vertical-align: middle;*/
/*}*/

/*.tk-profile, .tk-date {*/
    /*display: table-row !important;*/
/*}*/

/*.tk-profile {*/
    /*border-bottom: 1px solid rgba(204, 204, 204, 0.6);*/
/*}*/


/*----------------------------------*/

.tk-news-title h2 {
    font-size: 17px;
}

.tk-news-unit div {
    padding: 5px;
}

.tk-news-unit > div {
    display: table-row;
}

.tk-news-unit > div > div {
    display: table-cell;
}

.tk-news-title > div {
    vertical-align: middle;
    /*padding: 5px 0 0 0;*/
}

.tk-news-footer > div {
    padding: 5px 0 5px 0;
}


.tk-bp-title {
    margin-left: auto;
}

/*  Unu   */

.muro_unu_feed-cont{
	width: 100%;
	height: auto;
}

.muro_unu-feed{
	width: 560px;
    margin-right: 8px;
	position: relative;
	height: auto;
	display: inline-block;
	margin-top: -10px;
}

.muro_unu_dekstra_bloko{
	width: 248px;
	/*margin-left: 25px;*/
	height: auto;
	border-radius: 5px;
	border: 1px solid #DFDFDF;
	position: relative;
	z-index: 200;
	display: inline-block;
	vertical-align: top;
}

.muro_unu_dekstra_bloko > p{
	padding-left: 10px;
	padding-top: 0px;
	padding-right: 10px;
	font-size: 13px;
}

.muro_unu_dekstra_du{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	color: #777777;
}