{% load i18n %}
{% load static %}
{% load main_tags %}
{% load readmore %}

    <div class="t_bazo_chiuj">
    <div class="t_bazo_bloko_du">
        <div class="t_bazo_bloko_du_simple">
            <a href="/ides{{ soveto.id }}">{% trans 'Ideoj de soveto' %}</a>&nbsp>&nbsp
            <a href="/ides{{ soveto.id }}-k{{ ideo.kategorio__id }}">{{ ideo.kategorio__nomo__enhavo }}</a>&nbsp>&nbsp
            <a href="/ides{{ soveto.id }}-i{{ ideo.id }}">{{ ideo.nomo__enhavo }}</a>
            {% if user.is_admin or ideo.autoro_id == user.id %}
            &nbsp|&nbsp<a href="javascript:void(0)" data-ago="forigi"><span class="t_bazo_bloko_du_simple_teksta_butono">{% trans 'Forigi' %}</span></a>
            {% endif %}
        </div>
    </div>

    <div class="t_bazo_bloko" data-ideo_id="{{ ideo.uuid }}">
        <ul class="t_bazo_bloko_listo">
            <li class="t_bazo_bloko_listo_item">
                <a href="{% url 'muroj:muro_uzanto' uzanto_id=ideo.autoro_id %}" title="{{ ideo.autoro__unua_nomo__enhavo }} {{ ideo.autoro__familinomo__enhavo }}">
                    <div class="t_bazo_bloko_listo_item_image">
                    {% if ideo.autoro__uzantojavataro__bildo_min %}
                        <img src="/media/{{ ideo.autoro__uzantojavataro__bildo_min }}">
                    {% else %}
                        {% if ideo.autoro__sekso == 'vira' or ideo.autoro__sekso is None %}
                            <img src="{% static 'main/images/vira-avataro-min.png' %}">
                        {% else %}
                            <img src="{% static 'main/images/virina-avataro-min.png' %}">
                        {% endif %}
                    {% endif %}
                    </div>
                </a>
                <div class="t_bazo_bloko_listo_item_titolo"><a href="/idu{{ ideo.autoro_id }}">{{ ideo.autoro__unua_nomo__enhavo }} {{ ideo.autoro__familinomo__enhavo }}</a>
                    <div class="t_bazo_bloko_listo_item_dato">{{ ideo.krea_dato }}</div>
                </div>
            </li>
        </ul>
        <div class="t_bazo_bloko_listo_item_priskribo_tasko">{{ ideo.teksto__enhavo|readmore:300|linebreaksbr|urlize }}</div>
    {% for komento in komentoj %}

        {% include "ideoj/portebla/t_ideoj_soveto_komento.html" %}

    {% endfor %}

        </div>

        <div class="t_bazo_bloko_du">
            <div class="t_bazo_bloko_du_simple">
                <div class="t_bazo_bloko_du_simple_vorto">
                    {% trans 'Paĝo' %}&nbsp
                </div>
                <div class="t_bazo_bloko_du_simple_numeroj">
                    {% pagination pagination %}
                </div>
            </div>
        </div>
    </div>
