{# Internacia Lingvo (Esperanto) https://tehnokom.su/il #}

{# Kopirajto © 2017 Teknokom https://tehnokom.su #}
{# Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso #}

{# Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ #}
{# kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara #}
{# Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. #}

{# La programo estas distribuata esperante, ke ĝi utilos, #}
{# Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO #}
{# POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. #}

{# Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. #}
{# Se ne, do vidu https://www.gnu.org/licenses #}

{% extends 'komunumoj/portebla/t_soveto.html' %}
{% load i18n %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block css_js %}

{% endblock css_js %}
{% block title %}
    {{ kategorio.nomo__enhavo }} — {{ soveto.nomo__enhavo }}
{% endblock title %}
{% block t_komunumo %}
    {% block menuo %}
        {% include 'komunumoj/portebla/t_komunumoj_soveto_menuo.html' with ideoj=True %}
    {% endblock menuo %}
    <div class="t_bazo_chiuj">
        <div class="t_bazo_bloko_du">
            <div class="t_bazo_bloko_du_simple">
                <a href="{% url 'ideoj:ideoj_soveto_kategorioj_listo' soveto_id=soveto.id %}">{% trans 'Ideoj de soveto' %}</a>&nbsp>&nbsp
                <a href="{% url 'ideoj:ideoj_soveto_ideoj_listo' soveto_id=soveto.id kategorio_id=kategorio.id %}">{{ kategorio.nomo__enhavo }}</a>
                {% if uzanto_aliro in adm_membroj %}
                &nbsp| <a href="{% url 'ideoj:ideoj_soveto_novaideo' soveto_id=soveto.id kategorio_id=kategorio.id %}">
                <span class="t_bazo_bloko_du_simple_teksta_butono">{% trans 'Kreos ideo' %}</span></a>
                {% endif %}
            </div>
        </div>
    <ul class="t_bazo_bloko_listo">
        {#  Проверка есть ли идеи  #}
        {% if ideoj %}
            {% for ideo in ideoj %}
                <li class="t_bazo_bloko_listo_item">
                    <a href="/ides{{ soveto.id }}-i{{ ideo.id }}">
                        <div class="t_bazo_bloko_listo_item_image">
                            <img width="50" height="50" src="{% static 'main/images/defaulte-avataro-min.jpg' %}">
                        </div>
                    </a>
                    <div class="t_bazo_bloko_listo_item_titolo">
                        <a href="/ides{{ soveto.id }}-i{{ ideo.id }}">{{ ideo.nomo__enhavo }}</a>
                    <div class="t_bazo_bloko_listo_item_priskribo">{{ ideo.tipo__nomo__enhavo }}</div>
                    </div>
                </li>
            {% endfor %}
        {#  Если нет, то вывести специальное уведомление  #}
        {% else %}

            {#  Если это администратор / модератор сообщества, то вариант 1  #}
            {% if uzanto_aliro in adm_membroj %}
                <div class="t_bazo_bloko_no">
                    <div class="t_bazo_informa_mesaxo_tri">
                        {% blocktrans %}В этой категории пока нет идей. Вы можете создать идею нажав кнопку "Создать идею", заполнив там необходимые поля и нажав кнопку "Опубликовать".{% endblocktrans %}
                    </div>
                </div>
            {#  Если нет, то вариант 2  #}
            {% else %}
                <div class="t_bazo_bloko_no">
                    <div class="t_bazo_informa_mesaxo_tri">
                        {% blocktrans %}В этом сообществе пока нет идей, но они обязательно появятся позже. Чтобы за ними следить, подпишитесь на обновления сообщества, ваше участие важно!{% endblocktrans %}
                    </div>
                </div>
            {% endif %}

        {% endif %}
    </ul>
    </div>
{% endblock t_komunumo %}
