{# Internacia Lingvo (Esperanto) https://tehnokom.su/il #}

{# Kopirajto © 2017 Teknokom https://tehnokom.su #}
{# Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso #}

{# Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ #}
{# kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara #}
{# Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. #}

{# La programo estas distribuata esperante, ke ĝi utilos, #}
{# Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO #}
{# POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. #}

{# Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. #}
{# Se ne, do vidu https://www.gnu.org/licenses #}

{% extends 'komunumoj/portebla/t_sociaprojekto.html' %}
{% load i18n %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block css_js2 %}
    <link href="{% static 'forumoj/style/forumoj.css' %}" rel="stylesheet">
{% endblock css_js2 %}
{% block title %}
    {% trans 'Kreado de nova ideo' %} — {{ sociaprojekto.nomo__enhavo }}
{% endblock title %}
{% block t_komunumo %}
    {% block menuo %}
        {% include 'komunumoj/portebla/t_komunumoj_sociaprojekto_menuo.html' with ideoj=True %}
    {% endblock menuo %}
    <div class="t_bazo_chiuj">
        <div class="t_bazo_bloko_du">
            <div class="t_bazo_bloko_du_simple">
                <a href="{% url 'ideoj:ideoj_sociaprojekto_kategorioj_listo' sociaprojekto_id=sociaprojekto.id %}">{% trans 'Ideoj de sociaprojekto' %}</a>&nbsp>&nbsp
                <a href="{% url 'ideoj:ideoj_sociaprojekto_ideoj_listo' sociaprojekto_id=sociaprojekto.id kategorio_id=kategorio.id %}">{{ kategorio.nomo__enhavo }}</a>&nbsp>
                <span class="forumoj_teksta_butono">{% trans 'Kreado de nova ideo' %}</span>
            </div>
        </div>

    <div class="t_bazo_bloko_du">
        <form method="POST" class="ideo-formo"  action="{% url 'ideoj:ideoj_sociaprojekto_novaideo' sociaprojekto_id=sociaprojekto.id kategorio_id=kategorio.id %}">
        {% csrf_token %}
        {{ formo.posedanto }}
        {{ formo.kategorio }}
        {{ formo.autoro }}
        <ul class="forumoj_listo">
            <li class="forumoj_listo_item">
                <a href="{% url 'muroj:muro_uzanto' uzanto_id=a_uzanto.id %}" title="{{ a_uzanto.unua_nomo__enhavo }} {{ a_uzanto.familinomo__enhavo }}">
                    <div class="forumoj_listo_item_image">
                        {% if a_uzanto.uzantojavataro__bildo_min %}
                            <img src="/media/{{ a_uzanto.uzantojavataro__bildo_min }}">
                        {% else %}
                            {% if a_uzanto.autoro__sekso == 'vira' or a_uzanto.autoro__sekso is None %}
                                <img src="{% static 'main/images/vira-avataro-min.png' %}">
                            {% else %}
                                <img src="{% static 'main/images/virina-avataro-min.png' %}">
                            {% endif %}
                        {% endif %}
                    </div>
                </a>
                <div class="forumoj_listo_item_teksto">
                <div class="forumoj_komento_enhavo">
                    <input type="hidden" name="ago" value="kategorio"/>
                    <div class="forumoj_komento_teksto">
                        {% if formo.non_field_errors %}
                        <ul>
                            {% for error in formo.non_field_errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <p>{{ formo.nomo_formo }}</p>
                        <small>{{ formo.small.errors }}</small>
                        <p>{{ formo.teksto_formo }}</p>
                        <small>{{ formo.teksto.errors }}</small>
                        <p>{% trans 'Tipo' %}&nbsp;&nbsp;{{ formo.tipo }}&nbsp;&nbsp;&nbsp;{% trans 'Aliro' %}&nbsp;&nbsp;{{ formo.komentado_aliro }}</p>
                        <p><label for="id_fiksa">Закрепить идею</label>&nbsp;{{ formo.fiksa }}</p>
                    </div>
                </div>
                </div>

            </li>
        </ul>
            <div class="t_bazo_bloko_butono">
                <button class="t_submit">{% trans 'Publikigi' %}</button>
            </div>
        </form>


    </div>
    </div>
{% endblock t_komunumo %}
