/* Internacia Lingvo (Esperanto) https://tehnokom.su/il */

/* Kopirajto © 2017 Teknokom https://tehnokom.su */
/* Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso */

/* Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ */
/* kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara */
/* Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. */

/* La programo estas distribuata esperante, ke ĝi utilos, */
/* Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO */
/* POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. */

/* Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. */
/* Se ne, do vidu https://www.gnu.org/licenses */

/*Listo*/
.forumoj_chiuj{
	width: 818px;
	border-radius: 5px;
	height: auto;
    margin-top: 10px;
	border: 1px solid #DFDFDF;
	display: inline-block;
}

.forumoj_chiuj_bloko{
	padding: 0 10px 0 10px;
}

.forumoj_listo{
	display: block;
	position: relative;
	list-style-type: none;
	padding: 0;
    overflow: hidden;
    transition: 1s all;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.forumoj_listo_item{
    display: block;
    position: relative;
    min-height: 52px;
    margin-top: 17px;
    padding-left: 60px;
    transition: 1s all;
}

.forumoj_listo_komento_item{
    border-top: 1px solid rgba(204, 204, 204, 0.6);
    display: block;
    position: relative;
    min-height: 50px;
    margin-bottom: 7px;
    padding: 10px 0 3px 60px;
    transition: 1s all;
}

.forumoj_listo_item:first-child { margin-top: 0; }

.forumoj_listo_komento_item:first-child { margin-top: 0; }

.forumoj_listo_item_image { display: block; position: absolute; top: 0; left: 0; width: 50px; height: 50px; border: 1px solid rgba(0,0,0,0.2); border-radius: 50%; }

.forumoj_listo_item_image > img, .forumoj_listo_komento_item_redaktu > a img { vertical-align: middle; width: 100%; height: 100%; border-radius: 50%; }

.forumoj_listo_komento_item_redaktu, .forumoj_listo_komento_item_redaktu > a { font-size: 10px !important; font-weight: normal !important; color: #81a2be !important; padding-top: 10px; }

.forumoj_listo_komento_item_redaktu > a img { width: 20px !important; }

.forumoj_listo_komento_item_image { display: block; position: absolute; top: 10px; left: 0; width: 50px; height: 50px; border: 1px solid rgba(0,0,0,0.2); border-radius: 50%; }

.forumoj_listo_komento_item_image > img { vertical-align: middle; width: 100%; height: 100%; border-radius: 50%; }

.forumoj_listo_item_titolo { margin-bottom: 7px; padding-top: 7px;}

.forumoj_listo_item_priskribo{
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.forumoj_listo_temo_item_titolo {
    margin-bottom: 7px;
    padding-top: 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.forumoj_listo_komento_item_titolo { margin-bottom: 7px; padding-top: 0;}

.forumoj_hidden{
    max-height: 0 !important;
    min-height: 0 !important;
    margin: 0 !important;
    opacity: 0 !important;
}

.enskribo-formo,
.komento-formo{
    overflow: hidden;
    opacity: 1.0;
    transition: 1s all;
}

/*Pagination*/
.forumoj_pagination{
	width: 818px;
	border-radius: 5px;
	height: auto;
    margin-top: 10px;
	border: 1px solid #DFDFDF;
	display: inline-block;
}

.forumoj_pagination_bloko{
	padding: 10px 10px 10px 10px;
}

.forumoj_pagination_bloko > div {
    display: inline-block;
}

.forumoj_pagination_bloko .pagination > span {
    margin-right: 10px;
}

.forumoj_pagination_bloko_vorto{
    float: left;
}

/*Adreso*/
.forumoj_adreso{
	width: 818px;
	border-radius: 5px;
	height: auto;
    margin-top: 10px;
	border: 1px solid #DFDFDF;
	display: inline-block;
}

.forumoj_adreso_bloko{
	padding: 10px 10px 10px 10px;
}

.forumoj_adreso_bloko_vorto{
    overflow-wrap: break-word;
    word-wrap: break-word;
}

/*Temoj*/
.forumoj_temo{
	width: 798px;
	height: auto;
    overflow-y: hidden;
    opacity: 1;
    transition: 1s all;
}

.forumoj_temo a {
	font-weight: bold;
}

/*Komentoj*/
.forumoj_komento_bloko{
    border-top: 1px solid rgba(204, 204, 204, 0.6);
    position: relative;
    /*margin-top: 10px;*/
    opacity: 1;
    transition: 1s all;
    padding-top: 10px;
}

.forumoj_temo_top{
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.forumoj_temo_top > div:first-child {
    display: inline-block;
    margin: 5px 5px 5px 0;
}

.forumoj_temo_top > div:last-child {
    float: right;
    margin: 5px 5px 0 0;
}

.forumoj_temo_top > div:last-child a {
    font-weight: normal;
}

.forumoj_temo_teksto, .forumoj_komento_teksto{
    width: 100%;
    margin-top: 5px;
}

.forumoj_komento_teksto textarea{
    width: calc((100% - 6px));
    border: 1px solid #DFDFDF;
}

.forumoj_katigorio_nomo input[type='text']{
    width: calc((100% - 22px));
}

.forumoj_listo_komento_item_priskribo a, .forumoj_listo_item_priskribo a {
	font-weight: normal;
}

.forumoj_temo_teksto a, .forumoj_komento_teksto a {
	font-weight: normal;
}

.forumoj_komento_dato, .forumoj_komento_dato a, .forumoj_temo_dato{
    margin-top: 5px;
    color: #777777;
    font-weight: normal;
}

.forumoj_teksta_butono, .forumoj_teksta_butono a {
    color: #777777;
    font-weight: normal;
}

blockquote {
    padding: 10px 8px 5px 20px;
    border-left: 5px solid #ccc;
    font-style: italic;
    font-family: Georgia, Times, "Times New Roman", serif;
}

.forumoj_listo_komento_item_priskribo ul{
    list-style: disc !important;
}

.komento-anchor {
    float: right;
}