{# Internacia Lingvo (Esperanto) https://tehnokom.su/il #}

{# Kopirajto © 2017 Teknokom https://tehnokom.su #}
{# Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso #}

{# Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ #}
{# kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara #}
{# Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. #}

{# La programo estas distribuata esperante, ke ĝi utilos, #}
{# Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO #}
{# POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. #}

{# Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. #}
{# Se ne, do vidu https://www.gnu.org/licenses #}

{% extends "main/portebla/t_bazo.html" %}
{% load i18n %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block css_js %}
    <link href="{% static 'internacia_plano/style/internacia_plano.css' %}" rel="stylesheet">
    <link href="{% static 'uzantoj/style/uzantoj.css' %}" rel="stylesheet">
{% endblock css_js %}
{% block title %}{% trans 'Internacia plano' %}{% endblock %}
{% block t_main %}
    <div class="t_bazo_chiuj">
        <div class="t_bazo_titolo_bloko">
            <h1>{% trans 'Ваша панель управления миром' %}</h1>
        </div>
    {% block menuo %}
        {% include 'uzantoj/portebla/t_uzanto_menuo_starta.html' with plano=True %}
    {% endblock menuo %}
            <div class="t_bazo_informa_mesaxo_unu">Международный план Технокома находится в состоянии разработки и тестирования. Уже скоро вы сможете увидеть: взаимосвязи всех Общественных проектов, проектов организаций и людей, задач и многое другое.
        </div>

        <div class="t_bazo_bloko_tri">
            <p>Международный план Технокома - это всеобъемлющий план включающий в себя полный учёт всех ресурсов, задач и действий всех людей и сообществ подключённых к Технокому.</p>
            <h4>Структура</h4>
                <p>Международный план Технокома состоит из следующих уровней:</p>
                <ul>
                    <li>Фундаментальных принципов изложенных в Международном Кодексе Технокома.</li>
                    <li>Общественных проектов Технокома.</li>
                    <li>Групповых проектов Сообществ Технокома и Личных проектов Пользователей Технокома.</li>
                </ul>
            <h4>Умные методологии</h4>
                <p>Для того чтобы максимально эффективно разрабатывать и реализовывать Международный план Технокома, во всех частях Технокома реализуются Умные методологии.</p>
                <p>Умные методологии касаются следующих сфер деятельности Технокома:</p>
                <ul>
                    <li>Привлечение людей на Техноком.</li>
                    <li>Жизнь и здоровье людей.</li>
                    <li>Создание народных предприятий.</li>
                    <li>Создание профсоюзов.</li>
                    <li>Создание групп по интересам.</li>
                    <li>Управление задачами.</li>
                    <li>Управление ресурсами.</li>
                    <li>И другие.</li>
                </ul>
            <h4>Международный Кодекс Технокома</h4>
                <p>Международный Кодекс Технокома состоит из следующих частей:</p>
                <ul>
                    <li>Манифест.</li>
                    <li>Моральные принципы.</li>
                    <li>Люди.</li>
                    <li>Задачи.</li>
                    <li>Ресурсы.</li>
                    <li>Советы.</li>
                    <li>Организации.</li>
                    <li>Знания.</li>
                    <li>Общие положения.</li>
                </ul>
        </div>

    </div>
{% endblock t_main %}