{# Internacia Lingvo (Esperanto) https://tehnokom.su/il #}

{# Kopirajto © 2017 Teknokom https://tehnokom.su #}
{# Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso #}

{# Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ #}
{# kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara #}
{# Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. #}

{# La programo estas distribuata esperante, ke ĝi utilos, #}
{# Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO #}
{# POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. #}

{# Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. #}
{# Se ne, do vidu https://www.gnu.org/licenses #}

{% extends "main/portebla/t_bazo.html" %}
{% load i18n %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block css_js %}
    <link href="{% static 'internacia_plano/style/internacia_plano.css' %}" rel="stylesheet">
    <link href="{% static 'uzantoj/style/uzantoj.css' %}" rel="stylesheet">
{% endblock css_js %}
{% block title %}{% trans 'Mapo de aktiveco' %}{% endblock %}
{% block t_main %}
    <div class="t_bazo_chiuj">
        <div class="t_bazo_titolo_bloko">
            <h1>{% trans 'Ваша панель управления миром' %}</h1>
        </div>
    {% block menuo %}
        {% include 'uzantoj/portebla/t_uzanto_menuo_starta.html' with mapo=True %}
    {% endblock menuo %}

            <div class="t_bazo_informa_mesaxo_unu">Вывод активности на карту находится в состоянии разработки и тестирования. Уже скоро вам будет доступно отображение: активных / высокоактивных Региональных Советов и Профсоюзов, Народных Предприятий и многое другое.
        </div>

        <div class="t_bazo_bloko">
            <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-83.32031250000001%2C-16.46769474828897%2C112.85156250000001%2C66.08936427047088&amp;layer=mapnik"></iframe>
        </div>
    </div>
{% endblock t_main %}