{% load i18n %}
{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">
        body {
            font-family: roboto, Arial, sans-serif;
        }
        a, a:hover, a:focus, a:active {
            text-decoration: none;
            color: #05b8ff;
        }
        h4 {
            font-size: 16px;
            margin: 0;
        }
    </style>
    {% block style %}
    {% endblock style %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body bgcolor="#e4e4e4" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" style="-webkit-font-smoothing: antialiased;width:100% !important;background:#e4e4e4;-webkit-text-size-adjust:none;">
{% block main %}
    <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#e4e4e4">
        <tr>
            <td bgcolor="#e4e4e4" width="100%">
                <table width="600" cellpadding="0" cellspacing="0" border="0" align="center">
                    <tr>
                        <td width="100%" height="50px">
                        &nbsp;
                        </td>
                    </tr>
                </table>
                <table width="600" cellpadding="10px" cellspacing="0" border="0" align="center"
                       style="background: url(http://{{ site_url }}{% static 'main/images/kosmo.jpg' %}) 0 -50px no-repeat rgba(0,136,204,0.65)">
                    <tr>
                        <td width="50px">
                            <img src="http://{{ site_url }}{% static 'main/images/favicon.png' %}" alt="TK" width="50px" height="50px">
                        </td>
                        <td style="color: white">
                            <h4>
                            {% block subject %}
                            {% endblock subject %}
                            </h4>
                        </td>
                    </tr>
                </table>
                <table width="600" cellpadding="10px" cellspacing="0" border="0" align="center"
                       style="background: white; font-size: 14px">
                    <tr>
                        <td>
                            {%  block content %}
                            {% endblock content %}
                        </td>
                    </tr>
                </table>
                <table width="600" cellpadding="10px" cellspacing="0" border="0" align="center"
                       style="background: #787878; text-align: justify; font-size: 12px; color: white">
                    <tr>
                        <td>
                            {% block footer %}
                            {% if abono_shlosilo and poshto %}
                                {% blocktrans %}
                                    Вы получили данное сообщение, так как подписаны на уведомления о новостях сообществ Технокома.
                                    Если Вам не удобно получать данные уведомления, то Вы всегда можете отписаться от данной рассылки
                                    на указанной странице
                                {% endblocktrans %}
                                <a href="https://{{ site_url }}/malabono/?poshto={{ poshto }}&shlosilo={{ abono_shlosilo }}">
                                    {{ site_url }}/malabono
                                </a>
                            {% endif %}
                        {% endblock footer %}
                        </td>
                    </tr>
                </table>
                <table width="600" cellpadding="0" cellspacing="0" border="0" align="center">
                    <tr>
                        <td width="100%" height="50px">
                        &nbsp;
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock %}
</body>
</html>