{# Internacia Lingvo (Esperanto) https://tehnokom.su/il #}

{# Kopirajto © 2017 Teknokom https://tehnokom.su #}
{# Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso #}

{# Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ #}
{# kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara #}
{# Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. #}

{# La programo estas distribuata esperante, ke ĝi utilos, #}
{# Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO #}
{# POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. #}

{# Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. #}
{# Se ne, do vidu https://www.gnu.org/licenses #}

{% extends "main/bazo.html" %}
{% load i18n %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block css_js %}
    <link href="{% static 'komunumoj/style/komunumo.css' %}" rel="stylesheet">
    <link href="{% static 'taskoj/style/taskoj.css' %}" rel="stylesheet">
{% endblock css_js %}
{% block title %}
    {% trans 'Premioj' %}
{% endblock title %}
{% block main_side %}
    <div class="komunumoj_socio_chiuj">
        <div class="komunumoj_socio_chiuj_bloko">

            <section class="tabs">
                <input id="tab_1" type="radio" name="tab" checked="checked" />
                <input id="tab_2" type="radio" name="tab" />
                <label for="tab_1" id="tab_l1">{% trans 'Ваши награды' %}</label>
                <label for="tab_2" id="tab_l2">{% trans 'Ближайшие награды' %}</label>
                <div style="clear:both"></div>

                <div class="tabs_cont">
                    <div id="tab_c1">
                        {#  Проверка есть ли награды  #}
                        {% if premioj %}
                            {#  Если есть, то выбрать их из цикла и вывести  #}
                            {% for premio in premioj %}
                                <ul class="komunumoj_socio_listo">
                                    <li class="komunumoj_socio_listo_item">
    {#                                    <a href="#">#}
                                            <div class="komunumoj_socio_listo_item_image">
                                                {% if premio.premio__bildo_min %}
                                                    <img src="/media/{{ premio.premio__bildo_min }}">
                                                {% else %}
                                                    <img src="{% static 'main/images/defaulte-avataro.jpg' %}">
                                                {% endif %}
                                            </div>
    {#                                    </a>#}
    {#                                    <a href="#">#}
                                            <div class="komunumoj_socio_listo_item_titolo">{{ premio.premio__speco__nomo__enhavo }} | {{ premio.premio__tipo__nomo__enhavo }} (cтепень - {{ premio.premio__grado__grado }})</div>
    {#                                    </a>#}
                                        <div class="komunumoj_socio_listo_item_grado"><img src="/media/{{ premio.premio__bildo_info }}"></div>
                                    </li>
                                </ul>
                            {% endfor %}
                        {#  Если нет, то вывести специальное уведомление  #}
                        {% else %}
                            <div class="alert-container">
                                <div class="alert alert-info" role="alert">
                                  {% blocktrans %}У вас пока нет наград, но они обязательно появятся позже, по мере развития функционала Международной системы наград Технокома и вашей активности.{% endblocktrans %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div id="tab_c2">
                        <div class="alert-container">
                            <div class="alert alert-info" role="alert">
                              {% blocktrans %}Информации о ближайших наградах пока нет, но она обязательно появятся позже, по мере развития функционала Международной системы наград Технокома и вашей активности.{% endblocktrans %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>

    {#  Срипт добавления якоря ко вкладкам  #}
    <script type="text/javascript">
        $(function(){
            if($('.tabs > label[for]').length > 0){
                var
                    hash = window.location.hash,
                    hash = (hash.indexOf('/') != -1) ? hash.slice(0, hash.indexOf('/')) : hash;
                $('.tabs > label[for]').each(function(){
                    var
                        $e = $(this),
                        id = '#' + $e.attr('id');

                    //Меняет якорь при клике на вкладку
                    $e.click(function(e){
                        window.location.hash = id;
                    });

                    //Показывает вкладку в соответствии с якорем
                    if(hash == id)
                        $e.click();
                });
            }
        });
    </script>

{% endblock main_side %}
