{# Internacia Lingvo (Esperanto) https://tehnokom.su/il #}

{# Kopirajto © 2017 Teknokom https://tehnokom.su #}
{# Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso #}

{# Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ #}
{# kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara #}
{# Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. #}

{# La programo estas distribuata esperante, ke ĝi utilos, #}
{# Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO #}
{# POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. #}

{# Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. #}
{# Se ne, do vidu https://www.gnu.org/licenses #}

{% extends "main/portebla/t_bazo.html" %}
{% load i18n %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block css_js %}

{% endblock css_js %}
{% block title %}{% trans 'Sano' %}{% endblock %}
{% block t_main %}
    <div class="t_bazo_chiuj">
        <div class="t_bazo_titolo_bloko">
            <h1>{% trans 'Ваша панель управления жизнью' %}</h1>
        </div>
    {% block menuo %}
        {% include 'sano/portebla/t_sano_menuo_uzanto.html' with taskoj=True %}
    {% endblock menuo %}
        {#  Проверка есть ли задачи  #}
            {% if taskoj %}
            {#  Если есть, то выбрать их из цикла и вывести  #}
            {% for tasko in taskoj %}
                <div class="t_bazo_bloko">
                    <ul class="t_bazo_bloko_listo">
                        <li class="t_bazo_bloko_listo_item">
                            <a href="/idu{{ tasko.autoro__id }}" title="{{ tasko.autoro__unua_nomo__enhavo }}{% if tasko.autoro__familinomo__enhavo %}&nbsp{{ tasko.autoro__familinomo__enhavo }}{% else %}{% endif %}">
                                <div class="t_bazo_bloko_listo_item_image">
                                    {% if tasko.autoro__uzantojavataro__bildo_min %}
                                        <img src="/media/{{ tasko.autoro__uzantojavataro__bildo_min }}">
                                    {% else %}
                                        {% if tasko.autoro__sekso == 'vira' or tasko.autoro__sekso is None %}
                                            <img src="{% static 'main/images/vira-avataro-min.png' %}">
                                        {% else %}
                                            <img src="{% static 'main/images/virina-avataro-min.png' %}">
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </a>
                            <div class="t_bazo_bloko_listo_item_titolo"><a href="/idu{{ tasko.autoro__id }}">{{ tasko.autoro__unua_nomo__enhavo }}{% if tasko.autoro__familinomo__enhavo %}&nbsp{{ tasko.autoro__familinomo__enhavo }}{% else %}{% endif %}</a>
                                <div class="t_bazo_bloko_listo_item_ofico">{% if tasko.autoro__komunumojorganizomembro__laborarolo__nomo__enhavo %}{{ tasko.autoro__komunumojorganizomembro__laborarolo__nomo__enhavo }}{% else %}{% endif %}</div>
                            </div>
                        </li>
                    </ul>
                    <div class="t_bazo_bloko_listo_item_priskribo_tasko">{{ tasko.priskribo__enhavo }}
                    </div>
                </div>
            {% endfor %}
                {#  Если нет, то вывести специальное уведомление  #}
            {% else %}
                <div class="t_bazo_bloko_no">
                    <div class="t_bazo_informa_mesaxo_tri">{% blocktrans %}У вас пока нет активных медицинских задач, но они обязательно появятся позже, по мере развития функционала Технокома.{% endblocktrans %}</div>
                </div>
            {% endif %}

        <div class="t_bazo_bloko_du">
            <div class="t_bazo_bloko_du_titolo">Статистика здоровья</div>
            <div class="t_bazo_bloko_du_nomo">Выполненных действий</div>
            <div class="t_bazo_bloko_du_teksto">Нет данных</div>
            <div class="t_bazo_bloko_du_nomo">Запланированных действий</div>
            <div class="t_bazo_bloko_du_teksto">Нет данных</div>
        </div>
    </div>
{% endblock t_main %}
