/* Internacia Lingvo (Esperanto) https://tehnokom.su/il */

/* Kopirajto © 2017 Teknokom https://tehnokom.su */
/* Ĉi tiu dosiero estas parto de Teknokom Siriuso https://tehnokom.su/siriuso */

/* Tiu ĉi programaro estas libera: vi povas distribui ĝin kaj/aŭ ŝanĝi ĝin laŭ */
/* kondiĉoj de Ĝenerala Publika Licenco GNU publikigita per Libera Programara */
/* Fonduso, aŭ laŭ la versio 3, aŭ (laŭ via bontrovo) laŭ ajna pli posta versio. */

/* La programo estas distribuata esperante, ke ĝi utilos, */
/* Sed SEN AJNAJ GARANTIOJ; sen anticipa garantio de KOMERCA VALORO aŭ TAŬGECO */
/* POR CERTA CELO. Vidu GNU Ĝenerala Publika Licenco por ricevo de plua informo. */

/* Vi devis ricevi la kopion de la publika ĝenerala licenco GNU kun tiu ĉi programo. */
/* Se ne, do vidu https://www.gnu.org/licenses */

.enhavo_informo{
	width: 818px;
	border-radius: 5px;
	height: auto;
	border: 1px solid #DFDFDF;
	margin-top: 10px;
	display: inline-block;
}

.enhavo_bloko{
	padding: 10px 10px 0 10px;
}

.enhavo_teksto{
    width: 100%;
	padding-bottom: 10px;
}

.enhavo_teksto a {
	font-weight: normal;
}

.enhavo_teksto_titolo{
	padding-bottom: 10px;
	font-weight: bold;
}